<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8"/>
  <title>Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link rel="stylesheet" href="css/jquery.fullPage.css">
  <link rel="stylesheet" href="css/slick.css">
  <link rel="stylesheet" href="css/slick-theme.css">
  <link rel="stylesheet" href="css/owl.carousel.css">
  <link rel="stylesheet" href="css/formstyler.css">
  <link rel="stylesheet" href="css/select2.min.css">



  <link rel="stylesheet" href="css/jquery-ui.min.css">
  <link rel="stylesheet" href="css/jquery-ui.structure.min.css">
  <!-- <link rel="stylesheet" href="css/jquery-ui.theme.min.css"> -->

  <link rel="stylesheet" href="css/style.css"/>
  <script src="js/ie-detector.js"></script>
  <script src="js/modernizr.js"></script>
  <!--[if lte IE 9]><meta http-equiv="X-UA-Compatible" content="IE=edge"/><![endif]-->

  <!--
    <link rel="shortcut icon" href="favicon.ico"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content="">
    <meta name="robots" content="index,follow">
    <meta name="copyright" content="">
  -->

</head>

<body ng-app="App">

<div id="page-wrapper" class="page-wrapper about-new">
  <div class="overlay"></div>
<div class="pop-up pop-up-offer" ng-controller="offerController">
    <a href="#" class="close-pop-up"></a>
    <div class="form-wrapper">
        <div class="pop-up-title">
            Оформить предзаказ
        </div>
        <div class="pop-up-sub-title">
            Добро пожаловать в Nestlé Professional®!
            <br> Спасибо за проявленый интерес к нашему
            <br> комплексному кофейному решению.
            <br>
            <br> Пожалуйста, заполните форму, чтобы мы
            <br> могли связаться с Вами для обсуждения
            <br> деталей заказа.
            <br>
            <br> Если у Вас возникли вопросы, свяжитесь
            <br> с нами по телефону горячей линии
            <br>
            <b>8-800-200-7-200</b> или по электронной
            <br> почте <a href="mailto:contact@ru.nestle.com" target="_blank">contact@ru.nestle.com</a>
        </div>
        <form action="" class="offer-form" ng-submit="sendOffer()" name="offer">
            <div class="form-group town-select">
                <label for="">выберите страну<b>*</b></label>
                <select name="country" class="select-2-styler" data-placeholder="Выберите страну" ng-model="formData.city" select2-styler>
                    <option></option>
                    <option>Страна1</option>
                    <option>Страна2</option>
                    <option>Страна3</option>
                    <option>Страна4</option>
                </select>
            </div>
            <div class="form-group town-select">
                <label for="">выберите город<b>*</b></label>
                <select name="town" class="select-2-styler" data-placeholder="Выберите город" ng-model="formData.city" select2-styler>
                    <option></option>
                    <option>Москва1</option>
                    <option>Москва2</option>
                    <option>Москва3</option>
                    <option>Москва4</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">укажите кол-во порций, которое
                    <br> вы планируете подавать/
                    <br> сервировать в день</label>
                <div class="number-wrapper">
                    <div my-customer class="styler-wrapper"></div>
                </div>
            </div>
            <div class="form-group">
                <label for="">Выберите профиль вашего бизнеса</label>
                <select name="profile" class="styler" data-placeholder="Выберите профиль" ng-model="formData.profile" select-styler>
                    <option></option>
                    <option ng-repeat="profile in profiles" value="{{profile.id}}">{{profile.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Имя<b>*</b></label>
                <input type="text" class="input-style" name="firstName" ng-model="formData.firstname" required="required">
            </div>
            <div class="form-group">
                <label for="">фамилия<b>*</b></label>
                <input type="text" class="input-style" name="lastName" ng-model="formData.lastname" required="required">
            </div>
            <div class="form-group">
                <label for="">телефон<b>*</b></label>
                <input type="number" class="input-style" name="phone" ng-model="formData.phone" required="required">
            </div>
            <div class="form-group">
                <label for="">e-mail<b>*</b></label>
                <input type="email" class="input-style" name="email" ng-model="formData.email" required="required">
            </div>
            <div class="rules">
                <b>*</b>Обязательные поля для заполнения
            </div>
            <div class="form-group checkbox-rule">
                <input type="checkbox" id="checkbox" name="rules" ng-required="!formData.rules" ng-model="formData.rules">
                <label for="checkbox" class="checkbox-view"></label>
                <span class="agree-check">Соглагласен на обработку персональных данных <br>
                    в соответствии с политикой конфиденциальности</span>
            </div>
            <button type="submit" class="submit-form-btn">оформить заказ</button>
        </form>
    </div>
</div>


<div class="pop-up callback">
    <div class="callback-wrapper">
        <a href="#" class="js-close-pop-up callback-close ">
            <img src="img/callback-close.png" alt="">
        </a>
        <div class="callback-title">
            <span class="callback-title-wrap">связаться с нами</span>
        </div>
        <img src="img/callback-cup.png" alt="" class="callback-img">
        <div class="callback-main-text">
            <p>У Вас есть вопросы по установке машины NESCAFÉ® Professional, условиям <br> сотрудничества или Вам нужна помощь? Свяжитесь с нами любым удобным для Вас способом:</p>
            <p>Наш адрес: ООО «Нестле Россия», 115054 Россия Москва Павелецкая пл., д. 2, стр. 1</p>
            <p>Горячая линия по работе с клиентами: <b>8 800 200 7 200</b></p>
            <p>
                Если Вы хотите задать конкретный вопрос или получить разъяснение <br>
                по электронной почте,пожалуйста, свяжитесь с нами: <a href="mailto:contact@ru.nestle.com"><b>contact@ru.nestle.com</b></a></p>
        </div>
    </div>
</div>

    <div id="about-fullpage">
        <header id="header" class="wrapper header section section-parent">
            <div class="header-menu">
    <div class="container">
        <a href="index.html" class="logo" title="Nestle">
            <img src="img/logo.png" alt="" width="184" height="80">
        </a>
        <nav class="menu">
            <ul>
                <li><a href="about.html">о нас</a></li>
                <li><a href="catalog.html">каталог</a></li>
                <li><a href="find-solution.html">подобрать решение</a></li>
                <li><a href="articles-static.html">статьи</a></li>
            </ul>
        </nav>
        <div class="right-wrap">
            <a href="#" class="cart js-show-pop-up" data-pop-up="pop-up-offer">
                <span>Оформить заказ</span>
            </a>
            <a href="#" class="phone js-show-pop-up" data-pop-up="callback">
                <span>Связаться с нами</span>
            </a>
        </div>
    </div>
</div>

            <div class="about">
    <div class="container">
        <div class="about-title">
            <div class="title">
                о nestlÉ
            </div>
            <div class="sub-title">
                Nestlé — крупнейший в мире производитель
                <br> продуктов питания и напитков, эксперт
                <br> в области здорового образа жизни.
            </div>
            <a href="#first-info" class="btn-rect js-show-detail">Узнать больше</a>
        </div>
    </div>
    <div class="about-slider">
        <div class="about-slide slide-1"></div>
        <div class="about-slide slide-2"></div>
        <div class="about-slide slide-3"></div>
    </div>
    <div class="container btn-container">
        <a href="#" class="scroll-icon js-scroll">
            <img src="img/mouse-scroll.png" alt="">
        </a>
    </div>
</div>


<div class="detail-info-about first-info" id="first-info">
    <div class="info-wrap clearfix">
        <div class="about-content container ">
            <div class="info-half">
                <div class="text-wrap">
                    <h3 class="text-title line">наша цель</h3>

                    <p class="main-text">
                        Наша цель – создавать продукцию
                        <br> высокого качества, отвечающую
                        <br> вкусам и пожеланиям потребителей
                        <br> более чем 100 стран мира,
                        <br> в которых мы осуществляем
                        <br> свою деятельность
                    </p>
                    <a href="http://www.nestle.ru/health" class="read-more" target="_blank">Читать больше</a>
                </div>
            </div>
            <div class="info-half">
                <div class="img-wrap-about pull-right">
                    <img src="img/about-1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="info-wrap clearfix">
        <div class="about-content container clearfix">

            <div class="info-half pull-right">
                <div class="text-wrap">
                    <h3 class="text-title line">центры Nestlé</h3>

                    <p class="main-text">
                        В научных центрах Nestle по всему миру
                        <br> мы проводим исследования в области
                        <br> продуктов питания, их свойств
                        <br> и влияния пищи на организм. Результаты
                        <br> проводимых исследований позволяют
                        <br> нам постоянно улучшать качество
                        <br> своих продуктов.
                    </p>
                    <!-- <a href="#" class="read-more">Читать больше</a> -->
                </div>
            </div>
            <div class="info-half">
                <div class="img-wrap-about">
                    <img src="img/about-2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="info-wrap clearfix">
        <div class="about-content container clearfix">
            <div class="info-half">
                <div class="text-wrap">
                    <h3 class="text-title line">продукция</h3>

                    <p class="main-text">
                        Ассортимент нашей продукции постоянно
                        <br>расширяется, и в настоящее время
                        <br> насчитывает свыше 8000 торговых марок
                        <br> продуктов питания, которые знают
                        <br> потребители на всех пяти континентах.
                    </p>
                    <a href="http://www.nestle.ru/brands" class="read-more" target="_blank">Читать больше</a>
                </div>
            </div>
            <div class="info-half">
                <div class="img-wrap-about pull-right">
                    <img src="img/about-3.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>


        </header>
        <div class="section about-section section-parent"  >
    <img src="img/about-section-2.jpg" alt="" class="bg-img js-img aspect-ratio" >
    <div class="container">
        <div class="about-title">
            <div class="title">
                nestlÉ
                <br> professional
            </div>
            <div class="sub-title">
                Nestlé Professional –подразделение,
                <br> предоставляющее удобные и современные
                <br> решения для индустрии питания вне дома.
            </div>
            <a href="#second-info" class="btn-rect js-show-detail">Узнать больше</a>
        </div>
    </div>

    <div class="detail-info-about second-info " id="second-info">
        <div class="info-wrap clearfix">
            <div class="about-content container">
                <div class="info-half">
                    <div class="text-wrap">
                        <h3 class="text-title line">NestlÉ professional</h3>
                        <p class="main-text">
                            Nestlé Professional – подразделение,
                            <br> предоставляющее удобные
                            <br> и современные решения для индустрии
                            <br> питания вне дома.
                        </p>
                    </div>
                </div>
                <div class="info-half">
                    <div class="img-wrap-about pull-right">
                        <img src="img/about-4.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="info-wrap clearfix">
            <div class="about-content container clearfix list-work container">
                <h2 class="title-list">В своей работе мы стремимся:</h2>

                <div class="list-items">
                    Использовать глобальный опыт Nestlé
                    <br> в разработке новых прибыльных бизнес-
                    <br> идей для наших партнеров;
                </div>
                <div class="info-half list-items">
                    Построить доверительные
                    <br> партнерские отношения с клиентами;
                </div>
                <div class="info-half list-items">
                    Использовать преимущества наших
                    <br> брендов, продуктов и систем, чтобы
                    <br>поддерживать успешность бизнеса
                    <br> и удовлетворенность гостей и конечных
                    <br> потребителей.
                </div>
            </div>
        </div>
        <div class="screen-title">
            <div class="about-content container">
                <div class="screen-title-wrap">
                    <span>
                    Благодаря этим принципам, Nestlé Professional позволяет
                    <br> каждому нашему клиенту - партнеру индустрии
                    <br> обслуживания чувствовать за спиной поддержку
                    <br> крупной компании.
                    </span>
                </div>
            </div>
        </div>

        <div class="info-wrap clearfix alegria-bg">
            <div class="about-content container ">
                <div class="info-half">
                    <div class="text-wrap">
                        <h3 class="text-title line">оптимальные <br> решения</h3>

                        <p class="main-text">
                            Компании, которая не только предлагает
                            <br> оптимальные решения уникальных
                            <br> бизнес-задач но и оценивает возможности
                            <br> и перспективы с тем, чтобы работать
                            <br> вместе, расти, ставить амбициозные цели
                            <br> и преуспевать в их достижении.
                        </p>
                    </div>
                </div>
                <div class="info-half">
                    <div class="img-wrap-about pull-right">
                        <img src="img/about-5.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


        <div class="section geography section-parent footer-wrapper">
            <div class="section footer-section">
    <div class="footer-img-wrap">
        <img src="img/about-section-3.jpg" alt="" class="bg-img aspect-ratio js-img" >
    </div>

    <div class="container">
        <div class="about-title">
            <div class="title">
                nescafÉ <br>
                alegria
            </div>
            <div class="sub-title">
                Nescafe – один из самых узнаваемых <br>
                и уникальных брендов Nestle.
            </div>
            <a href="#third-info" class="btn-rect js-show-detail">Узнать больше</a>
        </div>
    </div>
    <!--<div class="container btn-container">-->
    <!--<a href="#" class="scroll-icon js-scroll">-->
    <!--<img src="img/mouse-scroll.png" alt="">-->
    <!--</a>-->
    <!--</div>-->


    <div class="detail-info-about third-info" id="third-info">
        <h2 class="title">
            NescafÉ – один из самых узнаваемых <br>
            и уникальных брендов NestlÉ
        </h2>

        <div class="info-grafic">
            <div class="about-content container ">
                <div class="fact">
                    <div class="fact-info-wrap">
                        6
                        <span>Поколений</span>
                    </div>
                </div>

                <div class="fact">
                    <div class="fact-info-wrap">
                        <b>c</b> 1938г.
                    <span>
                        NescafÉ ведет свою <br>
                        историю
                    </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="info-wrap clearfix nescafe-bg">
            <div class="about-content container ">
                <div class="sub-title">
                    Nescafé ведет свою историю с 1938 года – и уже
                    <br>на протяжении 6 поколений позволяет людям получить
                    <br> максимум удовольствия от вкуса, качества и простоты
                    <br> приготовления чашки кофе.
                </div>
            </div>
        </div>

        <div class="info-wrap clearfix">
            <div class="about-content container ">
                <div class="info-half">
                    <div class="text-wrap">
                        <h3 class="text-title ">NescafÉ</h3>

                        <p class="main-text">
                            Nescafé пережил мировую и холодную
                            <br> войны, был свидетелем первой высадки
                            <br> человека на Луну, и видел как приходят,
                            <br> уходят и возвращаются бесчисленные
                            <br> модные тенденции.
                        </p>
                    </div>
                </div>
                <div class="info-half">
                    <div class="img-wrap-about pull-right">
                        <img src="img/about-6.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="info-wrap clearfix">
            <div class="about-content container ">

                <div class="info-half pull-right">
                    <div class="text-wrap">
                        <h3 class="text-title line">75 лет NescafÉ</h3>

                        <p class="main-text">
                            Поддерживать такую популярность
                            <br> на протяжении 75 лет Nescafe удается
                            <br> благодаря тому, что бренд прислушивается
                            <br> к потребностям разных времен и культур,
                            <br> чутко реагирует на желания потребителей,
                            <br> непрерывно завоевывая и сохраняя
                            <br> их доверие.
                        </p>
                    </div>
                </div>

                <div class="info-half">
                    <div class="img-wrap-about">
                        <img src="img/about-7.jpg" alt="">
                    </div>
                </div>

            </div>
        </div>

        <div class="info-wrap clearfix">
            <div class="about-content container ">
                <div class="info-half">
                    <div class="text-wrap">
                        <h3 class="text-title ">NescafÉ Alegria</h3>

                        <p class="main-text">
                            Бренд Nescafé Alegria® был разработан
                            <br> специально для кофейных решений
                            <br> Nestlé Professional.
                            <br>
                            <br> Бренд известен в 109 странах по всему
                            <br> миру, и это делает географию его
                            <br> присутствия одной из крупнейших.
                        </p>
                    </div>
                </div>
                <div class="info-half">
                    <div class="img-wrap-about pull-right">
                        <img src="img/about-8.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="info-wrap clearfix">
            <div class="about-content container ">

                <div class="info-half pull-right">
                    <div class="text-wrap">
                        <h3 class="text-title line">высокое качество</h3>

                        <p class="main-text">
                            Высокое качество напитка, удобство
                            <br> и простота приготовления – именно
                            <br> эти основополагающие принципы сделали
                            <br> Nescafé маркой кофе №1 в мире.
                        </p>
                    </div>
                </div>

                <div class="info-half">
                    <div class="img-wrap-about">
                        <img src="img/about-9.jpg" alt="">
                    </div>
                </div>

            </div>
        </div>

        <div class="info-wrap clearfix">
            <div class="about-content container ">
                <div class="footer-sub-title underline">
                    Само название Nescafé Alegria® происходит от
                    <br> слова “Allegria”, что в переводе с итальянского
                    <br> означает “радость и счастье”– слова, как нельзя
                    <br> лучше отражающие положительный опыт нашего
                    <br> уникального кофейного решения.
                </div>
                <div class="footer-sub-title">
                    Сегодня Nescafé Alegria® – это бренд, который
                    <br> действительно оправдывает свое название - более 2
                    <br> миллиардов чашек подано только в 2013 году.
                </div>
                <div class="footer-sub-title beans">
                    Кофе Nescafé Alegria® стал любимым во всем мире.
                </div>
            </div>
        </div>
    </div>
</div>

        </div>
        <footer id="footer" class="wrapper footer">
    <div class="container">
        <a href="#" class="foot-logo pull-right">
            <img src="img/foot-logo.png" alt="" class="desktop">
            <img src="img/white-logo.png" alt="" class="white-logo">
            <img src="img/footer-mob.png" alt="" class="tablet">
        </a>
        <nav class="menu">
            <ul>
                <li><a href="about.html">о нас</a></li>
                <li><a href="catalog.html">каталог</a></li>
                <li><a href="find-solution.html">подобрать решение</a></li>
                <li><a href="articles-static.html">статьи</a></li>
                <li><a href="http://www.nestle.ru/info/%D0%9A%D0%BE%D0%BD%D1%84%D0%B8%D0%B4%D0%B5%D0%BD%D1%86%D0%B8%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D1%81%D1%82%D1%8C%20%D0%B8%20%D1%83%D1%81%D0%BB%D0%BE%D0%B2%D0%B8%D1%8F%20%D0%B8%D1%81%D0%BF%D0%BE%D0%BB%D1%8C%D0%B7%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F" target="_blank">Политика конфиденциальности</a></li>
            </ul>
        </nav>
        <span class="copyright">© 2016 NESTLÉ Professional®</span>
    </div>
</footer>

    </div>
</div>

<script src="js/libs.js"></script>
<script src="js/select2.full.min.js"></script>
<script src="js/common.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-filter.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/angular-animate.min.js"></script>

<script src="js/app.js"></script>

<script src="js/about.js"></script>
</body>
</html>
