<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8"/>
  <title>Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link rel="stylesheet" href="css/jquery.fullPage.css">
  <link rel="stylesheet" href="css/slick.css">
  <link rel="stylesheet" href="css/slick-theme.css">
  <link rel="stylesheet" href="css/owl.carousel.css">
  <link rel="stylesheet" href="css/formstyler.css">
  <link rel="stylesheet" href="css/select2.min.css">



  <link rel="stylesheet" href="css/jquery-ui.min.css">
  <link rel="stylesheet" href="css/jquery-ui.structure.min.css">
  <!-- <link rel="stylesheet" href="css/jquery-ui.theme.min.css"> -->

  <link rel="stylesheet" href="css/style.css"/>
  <script src="js/ie-detector.js"></script>
  <script src="js/modernizr.js"></script>
  <!--[if lte IE 9]><meta http-equiv="X-UA-Compatible" content="IE=edge"/><![endif]-->

  <!--
    <link rel="shortcut icon" href="favicon.ico"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content="">
    <meta name="robots" content="index,follow">
    <meta name="copyright" content="">
  -->

</head>
<body ng-app="App">
<div>
    <header id="header" class="wrapper header section">
        <div class="header-menu">
    <div class="container">
        <a href="index.html" class="logo" title="Nestle">
            <img src="img/logo.png" alt="" width="184" height="80">
        </a>
        <nav class="menu">
            <ul>
                <li><a href="about.html">о нас</a></li>
                <li><a href="catalog.html">каталог</a></li>
                <li><a href="find-solution.html">подобрать решение</a></li>
                <li><a href="articles-static.html">статьи</a></li>
            </ul>
        </nav>
        <div class="right-wrap">
            <a href="#" class="cart js-show-pop-up" data-pop-up="pop-up-offer">
                <span>Оформить заказ</span>
            </a>
            <a href="#" class="phone js-show-pop-up" data-pop-up="callback">
                <span>Связаться с нами</span>
            </a>
        </div>
    </div>
</div>

        <div class="catalog-head-wrap item-detail-header">
</div>
    </header>
    <div class="overlay"></div>
<div class="pop-up pop-up-offer" ng-controller="offerController">
    <a href="#" class="close-pop-up"></a>
    <div class="form-wrapper">
        <div class="pop-up-title">
            Оформить предзаказ
        </div>
        <div class="pop-up-sub-title">
            Добро пожаловать в Nestlé Professional®!
            <br> Спасибо за проявленый интерес к нашему
            <br> комплексному кофейному решению.
            <br>
            <br> Пожалуйста, заполните форму, чтобы мы
            <br> могли связаться с Вами для обсуждения
            <br> деталей заказа.
            <br>
            <br> Если у Вас возникли вопросы, свяжитесь
            <br> с нами по телефону горячей линии
            <br>
            <b>8-800-200-7-200</b> или по электронной
            <br> почте <a href="mailto:contact@ru.nestle.com" target="_blank">contact@ru.nestle.com</a>
        </div>
        <form action="" class="offer-form" ng-submit="sendOffer()" name="offer">
            <div class="form-group town-select">
                <label for="">выберите страну<b>*</b></label>
                <select name="country" class="select-2-styler" data-placeholder="Выберите страну" ng-model="formData.city" select2-styler>
                    <option></option>
                    <option>Страна1</option>
                    <option>Страна2</option>
                    <option>Страна3</option>
                    <option>Страна4</option>
                </select>
            </div>
            <div class="form-group town-select">
                <label for="">выберите город<b>*</b></label>
                <select name="town" class="select-2-styler" data-placeholder="Выберите город" ng-model="formData.city" select2-styler>
                    <option></option>
                    <option>Москва1</option>
                    <option>Москва2</option>
                    <option>Москва3</option>
                    <option>Москва4</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">укажите кол-во порций, которое
                    <br> вы планируете подавать/
                    <br> сервировать в день</label>
                <div class="number-wrapper">
                    <div my-customer class="styler-wrapper"></div>
                </div>
            </div>
            <div class="form-group">
                <label for="">Выберите профиль вашего бизнеса</label>
                <select name="profile" class="styler" data-placeholder="Выберите профиль" ng-model="formData.profile" select-styler>
                    <option></option>
                    <option ng-repeat="profile in profiles" value="{{profile.id}}">{{profile.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Имя<b>*</b></label>
                <input type="text" class="input-style" name="firstName" ng-model="formData.firstname" required="required">
            </div>
            <div class="form-group">
                <label for="">фамилия<b>*</b></label>
                <input type="text" class="input-style" name="lastName" ng-model="formData.lastname" required="required">
            </div>
            <div class="form-group">
                <label for="">телефон<b>*</b></label>
                <input type="number" class="input-style" name="phone" ng-model="formData.phone" required="required">
            </div>
            <div class="form-group">
                <label for="">e-mail<b>*</b></label>
                <input type="email" class="input-style" name="email" ng-model="formData.email" required="required">
            </div>
            <div class="rules">
                <b>*</b>Обязательные поля для заполнения
            </div>
            <div class="form-group checkbox-rule">
                <input type="checkbox" id="checkbox" name="rules" ng-required="!formData.rules" ng-model="formData.rules">
                <label for="checkbox" class="checkbox-view"></label>
                <span class="agree-check">Соглагласен на обработку персональных данных <br>
                    в соответствии с политикой конфиденциальности</span>
            </div>
            <button type="submit" class="submit-form-btn">оформить заказ</button>
        </form>
    </div>
</div>


<div class="pop-up callback">
    <div class="callback-wrapper">
        <a href="#" class="js-close-pop-up callback-close ">
            <img src="img/callback-close.png" alt="">
        </a>
        <div class="callback-title">
            <span class="callback-title-wrap">связаться с нами</span>
        </div>
        <img src="img/callback-cup.png" alt="" class="callback-img">
        <div class="callback-main-text">
            <p>У Вас есть вопросы по установке машины NESCAFÉ® Professional, условиям <br> сотрудничества или Вам нужна помощь? Свяжитесь с нами любым удобным для Вас способом:</p>
            <p>Наш адрес: ООО «Нестле Россия», 115054 Россия Москва Павелецкая пл., д. 2, стр. 1</p>
            <p>Горячая линия по работе с клиентами: <b>8 800 200 7 200</b></p>
            <p>
                Если Вы хотите задать конкретный вопрос или получить разъяснение <br>
                по электронной почте,пожалуйста, свяжитесь с нами: <a href="mailto:contact@ru.nestle.com"><b>contact@ru.nestle.com</b></a></p>
        </div>
    </div>
</div>

    <section class="article-body" ng-controller="articleController">
    <div class="article-wrapper">
    </div>
    <!--<div class="article-wrap container right-img-wrapper extra-padding">-->
        <!--<div class="article-text-wrapper">-->
            <!--<div class="article-title line">-->
                <!--Аренда кофемашины как способ-->
                <!--<br> получить дополнительную-->
                <!--<br> прибыль-->
            <!--</div>-->
            <!--<div class="article-text">-->
                <!--<b>Аренда кофемашины</b> – одна из немногих-->
                <!--<br> возможностей, за счет которой владелец-->
                <!--<br> бизнеса может расширить перечень услуг-->
                <!--<br> и увеличить доходы. Продажа горячих напитков,-->
                <!--<br> приготовленных на профессиональном-->
                <!--<br> оборудовании, привлечет новых клиентов в-->
                <!--<br> кофейни, столовые, фастфуд, гостиницы, АЗС,-->
                <!--<br> офисы – в любой сфере деятельности аренда-->
                <!--<br> кофемашины поможет оживить бизнес,-->
                <!--<br> вдохновить сотрудников-->
                <!--<br> и привлечь новых клиентов.-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="article-img-wrapper">-->
            <!--<div class="img-wrapper">-->
                <!--<img src="img/article-1.jpg" alt="">-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="article-wrap container left-img-wrapper nescafe-bg">-->
        <!--<div class="article-img-wrapper">-->
            <!--<div class="img-wrapper">-->
                <!--<img src="img/article-2.jpg" alt="" class="shadow">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="article-text-wrapper">-->
            <!--<div class="article-title line">-->
                <!--Преимущества очевидны-->
            <!--</div>-->
            <!--<div class="article-text">-->
                <!--<ul class=article-list>-->
                    <!--<li><span class="list-pin"></span>Заказав аренду кофемашины, вы сможете:</li>-->
                    <!--<li><span class="list-pin"></span>Пользоваться фирменным оборудованием;</li>-->
                    <!--<li><span class="list-pin"></span>Удивлять клиентов ассортиментом и качеством;</li>-->
                    <!--<li><span class="list-pin"></span>Экономить на расходе ингредиентов-->
                        <!--<br> и вести учет проданных напитков;</li>-->
                    <!--<li><span class="list-pin"></span>Упростить процедуру и уменьшить скорость приготовления кофе.</li>-->
                    <!--<li><span class="list-pin"></span>Преимущества очевидны, но как осуществить задуманное?</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="grey-info-section nescafe-bg">-->
        <!--<div class="border-wrap text-center">-->
            <!--<img src="img/article-3.png" alt="" class="right-img">-->
            <!--<img src="img/article-4.png" alt="" class="left-img">-->
            <!--<div class="info-section-title">-->
                <!--Ищем поставщика-->
            <!--</div>-->
            <!--<div class="info-section-text">-->
                <!--Наибольшие плоды бизнес-идея принесет при использовании-->
                <!--<br> современного, надежного оборудования и качественного-->
                <!--<br> сырья. Сотрудники должны иметь возможность приготовить-->
                <!--<br> натуральный кофе быстро, без создания очередей. И только-->
                <!--<br> профессиональные кофемашины способны справиться-->
                <!--<br> с этой задачей.-->
                <!--<br>-->
                <!--<br> Заказывать аренду кофемашины лучше в компании, где не-->
                <!--<br> только предоставляют качественное оборудование, но и-->
                <!--<br> оказывают оперативную техническую помощь. Вероятность-->
                <!--<br> поломок минимальна, а если и возникнут неполадки,-->
                <!--<br> то будут незамедлительно устранены.-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="article-wrap container right-img-wrapper third-info-article">-->
        <!--<div class="article-text-wrapper">-->
            <!--<div class="article-title line">-->
                <!--Удивляем потребителя-->
            <!--</div>-->
            <!--<div class="article-text">-->
                <!--Потребителя ваших услуг нужно постоянно-->
                <!--<br> удивлять. С арендуемой кофемашиной это-->
                <!--<br> становится возможным.-->
                <!--<br>-->
                <!--<br> Кофе дарит современному человеку бодрость,-->
                <!--<br> активизацию умственной и физической-->
                <!--<br> деятельности, а вместе с тем и минуты-->
                <!--<br> наслаждения любимым вкусом. И у каждого он-->
                <!--<br> свой. Терпкий бодрящий ристретто, горячий-->
                <!--<br> какао, традиционный мокачино, густая-->
                <!--<br> молочная пенка капучино, капучино с-->
                <!--<br> упоительным ароматом ванили, специальный-->
                <!--<br> купаж в духе лучших американских традиций,-->
                <!--<br> воплотившийся в умеренном вкусе и ярком-->
                <!--<br> аромате бодрящего американо, оригинальный-->
                <!--<br> многослойный коктейль латте, итальянский-->
                <!--<br> эспрессо, теперь с нотками изысканных-->
                <!--<br> фруктов – одно название любого из этих-->
                <!--<br> напитков, не говоря уже о многообещающих-->
                <!--<br> описаниях, зазывает даже искушенных-->
                <!--<br> клиентов, манит попробовать.-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="article-img-wrapper">-->
            <!--<div class="img-wrapper">-->
                <!--<img src="img/article-5.jpg" alt="">-->
            <!--</div>-->
            <!--<img src="img/article-beans.png" alt="" class="article-beans">-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="grey-info-section second-info-article">-->
        <!--<div class="info-item">-->
            <!--<img src="img/info-item-1.png" alt="" class="info-item-img">-->
            <!--<span class="info-item-text">-->
              <!--Доступное техобслуживание <br>-->
              <!--(ремонт без задержек <br>-->
              <!--и проволочек)-->
            <!--</span>-->
        <!--</div>-->
        <!--<div class="info-item">-->
            <!--<img src="img/info-item-2.png" alt="" class="info-item-img">-->
            <!--<span class="info-item-text">-->
               <!--Маркетинговую-->
              <!--<br> поддержку-->
            <!--</span>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="article-wrap container left-img-wrapper last-article-info">-->
        <!--<div class="article-img-wrapper">-->
            <!--<div class="img-wrapper">-->
                <!--<img src="img/article-6.jpg" alt="">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="article-text-wrapper">-->
            <!--<div class="article-text">-->
                <!--С одним лишь условием: покупка оригинальных <br>-->
                <!--ингредиентов. Даже расчет необходимого <br>-->
                <!--объема закупки мы сделаем за вас. Такое <br>-->
                <!--сотрудничество позволит вам реализовать <br>-->
                <!--новую бизнес-идею без затрат на <br>-->
                <!--дорогостоящую покупку или аренду <br>-->
                <!--кофемашин. <br><br>-->
                <!--<b>Аренда кофемашины</b> – это реальная <br>-->
                <!--возможность получить простую в эксплуатации, <br>-->
                <!--надежную и экономную помощницу для <br>-->
                <!--приготовления различных напитков высокого <br>-->
                <!--качества, для удовлетворения возникшего <br>-->
                <!--спроса.-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

</section>

    <div class="section section-style geography static-footer">
        <footer id="footer" class="wrapper footer">
    <div class="container">
        <a href="#" class="foot-logo pull-right">
            <img src="img/foot-logo.png" alt="" class="desktop">
            <img src="img/white-logo.png" alt="" class="white-logo">
            <img src="img/footer-mob.png" alt="" class="tablet">
        </a>
        <nav class="menu">
            <ul>
                <li><a href="about.html">о нас</a></li>
                <li><a href="catalog.html">каталог</a></li>
                <li><a href="find-solution.html">подобрать решение</a></li>
                <li><a href="articles-static.html">статьи</a></li>
                <li><a href="http://www.nestle.ru/info/%D0%9A%D0%BE%D0%BD%D1%84%D0%B8%D0%B4%D0%B5%D0%BD%D1%86%D0%B8%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D1%81%D1%82%D1%8C%20%D0%B8%20%D1%83%D1%81%D0%BB%D0%BE%D0%B2%D0%B8%D1%8F%20%D0%B8%D1%81%D0%BF%D0%BE%D0%BB%D1%8C%D0%B7%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F" target="_blank">Политика конфиденциальности</a></li>
            </ul>
        </nav>
        <span class="copyright">© 2016 NESTLÉ Professional®</span>
    </div>
</footer>

    </div>
</div>

<script src="js/libs.js"></script>
<script src="js/select2.full.min.js"></script>
<script src="js/common.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-filter.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/angular-animate.min.js"></script>

<script src="js/app.js"></script>

</body>
</html>
