<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8"/>
  <title>Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link rel="stylesheet" href="css/jquery.fullPage.css">
  <link rel="stylesheet" href="css/slick.css">
  <link rel="stylesheet" href="css/slick-theme.css">
  <link rel="stylesheet" href="css/owl.carousel.css">
  <link rel="stylesheet" href="css/formstyler.css">
  <link rel="stylesheet" href="css/select2.min.css">



  <link rel="stylesheet" href="css/jquery-ui.min.css">
  <link rel="stylesheet" href="css/jquery-ui.structure.min.css">
  <!-- <link rel="stylesheet" href="css/jquery-ui.theme.min.css"> -->

  <link rel="stylesheet" href="css/style.css"/>
  <script src="js/ie-detector.js"></script>
  <script src="js/modernizr.js"></script>
  <!--[if lte IE 9]><meta http-equiv="X-UA-Compatible" content="IE=edge"/><![endif]-->

  <!--
    <link rel="shortcut icon" href="favicon.ico"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content="">
    <meta name="robots" content="index,follow">
    <meta name="copyright" content="">
  -->

</head>
<body ng-app="App">
<div id="page-wrapper" class="page-wrapper calculation hotel">
    <header id="header" class="wrapper header section black">
        <div class="header-menu">
    <div class="container">
        <a href="index.html" class="logo" title="Nestle">
            <img src="img/logo.png" alt="" width="184" height="80">
        </a>
        <nav class="menu">
            <ul>
                <li><a href="about.html">о нас</a></li>
                <li><a href="catalog.html">каталог</a></li>
                <li><a href="find-solution.html">подобрать решение</a></li>
                <li><a href="articles-static.html">статьи</a></li>
            </ul>
        </nav>
        <div class="right-wrap">
            <a href="#" class="cart js-show-pop-up" data-pop-up="pop-up-offer">
                <span>Оформить заказ</span>
            </a>
            <a href="#" class="phone js-show-pop-up" data-pop-up="callback">
                <span>Связаться с нами</span>
            </a>
        </div>
    </div>
</div>

        <div class="catalog-head-wrap item-detail-header">
</div>
    </header>
    <div class="overlay"></div>
<div class="pop-up pop-up-offer" ng-controller="offerController">
    <a href="#" class="close-pop-up"></a>
    <div class="form-wrapper">
        <div class="pop-up-title">
            Оформить предзаказ
        </div>
        <div class="pop-up-sub-title">
            Добро пожаловать в Nestlé Professional®!
            <br> Спасибо за проявленый интерес к нашему
            <br> комплексному кофейному решению.
            <br>
            <br> Пожалуйста, заполните форму, чтобы мы
            <br> могли связаться с Вами для обсуждения
            <br> деталей заказа.
            <br>
            <br> Если у Вас возникли вопросы, свяжитесь
            <br> с нами по телефону горячей линии
            <br>
            <b>8-800-200-7-200</b> или по электронной
            <br> почте <a href="mailto:contact@ru.nestle.com" target="_blank">contact@ru.nestle.com</a>
        </div>
        <form action="" class="offer-form" ng-submit="sendOffer()" name="offer">
            <div class="form-group town-select">
                <label for="">выберите страну<b>*</b></label>
                <select name="country" class="select-2-styler" data-placeholder="Выберите страну" ng-model="formData.city" select2-styler>
                    <option></option>
                    <option>Страна1</option>
                    <option>Страна2</option>
                    <option>Страна3</option>
                    <option>Страна4</option>
                </select>
            </div>
            <div class="form-group town-select">
                <label for="">выберите город<b>*</b></label>
                <select name="town" class="select-2-styler" data-placeholder="Выберите город" ng-model="formData.city" select2-styler>
                    <option></option>
                    <option>Москва1</option>
                    <option>Москва2</option>
                    <option>Москва3</option>
                    <option>Москва4</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">укажите кол-во порций, которое
                    <br> вы планируете подавать/
                    <br> сервировать в день</label>
                <div class="number-wrapper">
                    <div my-customer class="styler-wrapper"></div>
                </div>
            </div>
            <div class="form-group">
                <label for="">Выберите профиль вашего бизнеса</label>
                <select name="profile" class="styler" data-placeholder="Выберите профиль" ng-model="formData.profile" select-styler>
                    <option></option>
                    <option ng-repeat="profile in profiles" value="{{profile.id}}">{{profile.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Имя<b>*</b></label>
                <input type="text" class="input-style" name="firstName" ng-model="formData.firstname" required="required">
            </div>
            <div class="form-group">
                <label for="">фамилия<b>*</b></label>
                <input type="text" class="input-style" name="lastName" ng-model="formData.lastname" required="required">
            </div>
            <div class="form-group">
                <label for="">телефон<b>*</b></label>
                <input type="number" class="input-style" name="phone" ng-model="formData.phone" required="required">
            </div>
            <div class="form-group">
                <label for="">e-mail<b>*</b></label>
                <input type="email" class="input-style" name="email" ng-model="formData.email" required="required">
            </div>
            <div class="rules">
                <b>*</b>Обязательные поля для заполнения
            </div>
            <div class="form-group checkbox-rule">
                <input type="checkbox" id="checkbox" name="rules" ng-required="!formData.rules" ng-model="formData.rules">
                <label for="checkbox" class="checkbox-view"></label>
                <span class="agree-check">Соглагласен на обработку персональных данных <br>
                    в соответствии с политикой конфиденциальности</span>
            </div>
            <button type="submit" class="submit-form-btn">оформить заказ</button>
        </form>
    </div>
</div>


<div class="pop-up callback">
    <div class="callback-wrapper">
        <a href="#" class="js-close-pop-up callback-close ">
            <img src="img/callback-close.png" alt="">
        </a>
        <div class="callback-title">
            <span class="callback-title-wrap">связаться с нами</span>
        </div>
        <img src="img/callback-cup.png" alt="" class="callback-img">
        <div class="callback-main-text">
            <p>У Вас есть вопросы по установке машины NESCAFÉ® Professional, условиям <br> сотрудничества или Вам нужна помощь? Свяжитесь с нами любым удобным для Вас способом:</p>
            <p>Наш адрес: ООО «Нестле Россия», 115054 Россия Москва Павелецкая пл., д. 2, стр. 1</p>
            <p>Горячая линия по работе с клиентами: <b>8 800 200 7 200</b></p>
            <p>
                Если Вы хотите задать конкретный вопрос или получить разъяснение <br>
                по электронной почте,пожалуйста, свяжитесь с нами: <a href="mailto:contact@ru.nestle.com"><b>contact@ru.nestle.com</b></a></p>
        </div>
    </div>
</div>

    <div class="page-body" id="page-body">
        <div class="main-calculation-wrap" ng-controller="calcController">
    <div class="steps container calculation-container" ng-class="{activeStep1 : showState == 'step1',activeStep2 : showState == 'step2',activeStep3 : showState == 'step3'}">
        <div class="step-1 step">
            <span class="number">1</span>
            <span class="step-text">Вариант расчета</span>
        </div>
        <div class="step-2 step">
            <span class="number">2</span>
            <span class="step-text">Место применения</span>
        </div>
        <div class="step-3 step">
            <span class="number">3</span>
            <span class="step-text">рассчитать доход</span>
        </div>
    </div>
    <!-- Step-1 -->
    <div class="calculation-step-1" ng-show="showState === 'step1'" ng-init="tabState = 'hotel'">
        <div class="container calculation-container">
            <img src="img/hotel-step-img.png" alt="" class="step-img">
            <div class="slider-range-wrap hotel-slider-range clearfix">
                <div class="bread-crumbs">
                    <ul>
                        <li><a href="#">Выбрать профиль</a></li>
                        <li><span>Гостиница</span></li>
                    </ul>
                </div>
                <div class="wrap-half borders">
                    <span class="guests">Номерной фонд Вашей <br>
                       гостиницы</span>
                    <div id="slider-range-hotel-rooms" slider-range-ui ng-model="sliderValue" min="5" max="500" value="25">
                        <span class="count from">5</span>
                        <span class="count to">500</span>
                        <span class="number-slider"></span>
                    </div>
                </div>
                <div class="wrap-half">
                    <span class="guests">Средняя заполняемость <br><br></span>
                    <div id="slider-range-оccupancy" slider-range-ui ng-model="sliderValue" min="0" max="100" value="25">
                        <span class="count from">0%</span>
                        <span class="count to">100%</span>
                        <span class="number-slider"></span>
                    </div>
                </div>
                <div class="wrap-half stars-raiting">
                    <span class="guests">Количество звезд</span>
                    <div class="stars-wrap clearfix">
                        <input type="radio" ng-model="hotelStars" name="stars" value="5" id="5star">
                        <label for="5star" class="star-icon"></label>
                        <input type="radio" ng-model="hotelStars" name="stars" value="4" id="4star">
                        <label for="4star" class="star-icon"></label>
                        <input type="radio" ng-model="hotelStars" name="stars" value="3" id="3star">
                        <label for="3star" class="star-icon"></label>
                        <input type="radio" ng-model="hotelStars" name="stars" value="2" id="2star">
                        <label for="2star" class="star-icon"></label>
                        <input type="radio" ng-model="hotelStars" name="stars" value="1" id="1star">
                        <label for="1star" class="star-icon"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Step-1 end-->
    <!-- Step-2 -->
    <div class="calculation-step-2" ng-show="showState === 'step2'">
        <div class="table-wrapper">
            <div class="table-title">
                Выберите место установки
                <br> кофемашины
            </div>
            <table class="calculation-table hotel-table">
                <thead>
                    <tr>
                        <td class="text-left">
                            <img src="img/calc-table-1.png" alt="" class="table-icon">
                            <span>Выбор</span>
                        </td>
                        <td>
                            <img src="img/calc-table-2.png" alt="" class="table-icon">
                            <span>место применения</span>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-row" ng-class="{disabled: !customPlaces.status}" ng-repeat="customPlaces in hotelPlaceTable.hotelPlaces">
                        <td class="check-row">
                            <input type="checkbox" name="name" checked ng-model="customPlaces.status" ng-click="tableChk()">
                            <label for=""></label>
                        </td>
                        <td class="item-name">
                            {{customPlaces.placeName}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Step-2 end-->
    <!-- Step-3 -->
    <div class="calculation-step-3" ng-show="showState === 'step3'">
        <div class="container calculation-container">
            <div class="table-hotel-offer">
                <table>
                    <thead>
                        <tr class="table-head-wrapper">
                            <td>кофемашины</td>
                            <td>описание</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="hotel-offer-row" ng-repeat="customPlaces in hotelPlaceTable.hotelPlaces" ng-hide="!customPlaces.status">
                            <td>
                                <div class="machine-img">
                                    <img ng-src="img/{{customPlaces.machine.hotelImg}}" alt="">
                                </div>
                            </td>
                            <td>
                                <div class="table-machine-info">
                                    <a href="" class="remove-row js-remove-table-row" ng-click="remove(customPlaces)">Удалить</a>
                                    <div class="machine-info-name">
                                        {{customPlaces.machine.name}}
                                    </div>
                                    <!--<div class="artc">-->
                                    <!--Артикул:. <span>{{customPlaces.art}}</span>-->
                                    <!--</div>-->
                                    <div class="calculation-info">
                                        <span>{{customPlaces.fullPlaceName}}</span>
                                        <br> составят <span class="light-font"><span>{{customPlaces.machine.budget / 31 | number: 0 | comma2decimal}}</span> руб. в день x 31 = <b><span>{{customPlaces.machine.budget | number | comma2decimal}}</span> руб.</b>                                        в мес.*</span>
                                        <div class="price-hotel" ng-hide="customPlaces.machine.hotelPrice.lenght == 0">
                                            <div class="title">Средняя цена:</div>
                                            <table>
                                                <tr ng-repeat="drinks in customPlaces.machine.hotelPrice">
                                                    <td>Средняя стоимость чашки{{drinks.name}} - {{drinks.price}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="offer-calc-wrap">
                <div class="form-wrapper">
                    <div class="form-title">
                        оформить заявку
                    </div>
                    <form action="" class="calc-form" name="calcOffer" ng-submit="sendCalcOffer()">
                        <div class="form-group margin">
                            <select name="contry" class="styler" data-placeholder="Выберите страну" select-styler required="required">
                                <option></option>
                                <option>Страна1</option>
                                <option>Страна2</option>
                                <option>Страна3</option>
                                <option>Страна4</option>
                            </select>
                        </div>

                        <div class="form-group margin">
                            <select name="town" class="styler" data-placeholder="Выберите город" select-styler required="required">
                                <option></option>
                                <option>Москва1</option>
                                <option>Москва2</option>
                                <option>Москва3</option>
                                <option>Москва4</option>
                            </select>
                        </div>
                        <div class="extra-row">
                            <div class="half-item">
                                <div class="form-group">
                                    <label for="">Имя<b>*</b></label>
                                    <input type="text" class="input-style" name="firstName" ng-model="formDataCalcOffer.firstname" required="required">
                                </div>
                            </div>
                            <div class="half-item">
                                <div class="form-group">
                                    <label for="">Фамилия<b>*</b></label>
                                    <input type="text" class="input-style" name="lastName" ng-model="formDataCalcOffer.lastname" required="required">
                                </div>
                            </div>
                        </div>
                        <div class="extra-row">
                            <div class="half-item">
                                <div class="form-group">
                                    <label for="">телефон<b>*</b></label>
                                    <input type="number" class="input-style" name="phone" ng-model="formDataCalcOffer.phone" required="required">
                                </div>
                            </div>
                            <div class="half-item">
                                <div class="form-group">
                                    <label for="">e-mail<b>*</b></label>
                                    <input type="email" class="input-style" name="email" ng-model="formDataCalcOffer.email" required="required">
                                </div>
                            </div>
                        </div>
                        <!-- <button class="btn-offer btn-rect">оформить заказ</button> -->
                        <div class="rules">
                            <b>*</b>Обязательные поля для заполнения
                        </div>
                        <div class="form-group checkbox-rule">
                            <input type="checkbox" id="checkbox_rule" name="rules" ng-required="!formDataCalcOffer.rules" ng-model="formDataCalcOffer.rules">
                            <label for="checkbox_rule" class="checkbox-view"></label>
                            <span class="agree-check">Соглагласен на обработку персональных данных в соответствии с политикой конфиденциальности</span>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>
    <div class="container calculation-container control-container">
        <a href="" class="prev-step btn-rect dark-red" ng-click="prevStep()">Назад</a>
        <a href="" class="next-step btn-rect dark-red" ng-click="nextStep()" ng-hide="disableNextBtn">{{hotelBtn}}</a>
    </div>
</div>

    </div>
    <div class="section section-style geography static-footer">
        <footer id="footer" class="wrapper footer">
    <div class="container">
        <a href="#" class="foot-logo pull-right">
            <img src="img/foot-logo.png" alt="" class="desktop">
            <img src="img/white-logo.png" alt="" class="white-logo">
            <img src="img/footer-mob.png" alt="" class="tablet">
        </a>
        <nav class="menu">
            <ul>
                <li><a href="about.html">о нас</a></li>
                <li><a href="catalog.html">каталог</a></li>
                <li><a href="find-solution.html">подобрать решение</a></li>
                <li><a href="articles-static.html">статьи</a></li>
                <li><a href="http://www.nestle.ru/info/%D0%9A%D0%BE%D0%BD%D1%84%D0%B8%D0%B4%D0%B5%D0%BD%D1%86%D0%B8%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D1%81%D1%82%D1%8C%20%D0%B8%20%D1%83%D1%81%D0%BB%D0%BE%D0%B2%D0%B8%D1%8F%20%D0%B8%D1%81%D0%BF%D0%BE%D0%BB%D1%8C%D0%B7%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F" target="_blank">Политика конфиденциальности</a></li>
            </ul>
        </nav>
        <span class="copyright">© 2016 NESTLÉ Professional®</span>
    </div>
</footer>

    </div>
</div>

<script src="js/libs.js"></script>
<script src="js/select2.full.min.js"></script>
<script src="js/common.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-filter.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/angular-animate.min.js"></script>

<script src="js/app.js"></script>

</body>
</html>
