<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8"/>
  <title>Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link rel="stylesheet" href="css/jquery.fullPage.css">
  <link rel="stylesheet" href="css/slick.css">
  <link rel="stylesheet" href="css/slick-theme.css">
  <link rel="stylesheet" href="css/owl.carousel.css">
  <link rel="stylesheet" href="css/formstyler.css">
  <link rel="stylesheet" href="css/select2.min.css">



  <link rel="stylesheet" href="css/jquery-ui.min.css">
  <link rel="stylesheet" href="css/jquery-ui.structure.min.css">
  <!-- <link rel="stylesheet" href="css/jquery-ui.theme.min.css"> -->

  <link rel="stylesheet" href="css/style.css"/>
  <script src="js/ie-detector.js"></script>
  <script src="js/modernizr.js"></script>
  <!--[if lte IE 9]><meta http-equiv="X-UA-Compatible" content="IE=edge"/><![endif]-->

  <!--
    <link rel="shortcut icon" href="favicon.ico"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content="">
    <meta name="robots" content="index,follow">
    <meta name="copyright" content="">
  -->

</head>
<body ng-app="App">
<div id="page-wrapper" class="page-wrapper calculation">
    <header id="header" class="wrapper header section black">
        <div class="header-menu">
    <div class="container">
        <a href="index.html" class="logo" title="Nestle">
            <img src="img/logo.png" alt="" width="184" height="80">
        </a>
        <nav class="menu">
            <ul>
                <li><a href="about.html">о нас</a></li>
                <li><a href="catalog.html">каталог</a></li>
                <li><a href="find-solution.html">подобрать решение</a></li>
                <li><a href="articles-static.html">статьи</a></li>
            </ul>
        </nav>
        <div class="right-wrap">
            <a href="#" class="cart js-show-pop-up" data-pop-up="pop-up-offer">
                <span>Оформить заказ</span>
            </a>
            <a href="#" class="phone js-show-pop-up" data-pop-up="callback">
                <span>Связаться с нами</span>
            </a>
        </div>
    </div>
</div>

        <div class="catalog-head-wrap item-detail-header">
</div>
    </header>
    <div class="overlay"></div>
<div class="pop-up pop-up-offer" ng-controller="offerController">
    <a href="#" class="close-pop-up"></a>
    <div class="form-wrapper">
        <div class="pop-up-title">
            Оформить предзаказ
        </div>
        <div class="pop-up-sub-title">
            Добро пожаловать в Nestlé Professional®!
            <br> Спасибо за проявленый интерес к нашему
            <br> комплексному кофейному решению.
            <br>
            <br> Пожалуйста, заполните форму, чтобы мы
            <br> могли связаться с Вами для обсуждения
            <br> деталей заказа.
            <br>
            <br> Если у Вас возникли вопросы, свяжитесь
            <br> с нами по телефону горячей линии
            <br>
            <b>8-800-200-7-200</b> или по электронной
            <br> почте <a href="mailto:contact@ru.nestle.com" target="_blank">contact@ru.nestle.com</a>
        </div>
        <form action="" class="offer-form" ng-submit="sendOffer()" name="offer">
            <div class="form-group town-select">
                <label for="">выберите страну<b>*</b></label>
                <select name="country" class="select-2-styler" data-placeholder="Выберите страну" ng-model="formData.city" select2-styler>
                    <option></option>
                    <option>Страна1</option>
                    <option>Страна2</option>
                    <option>Страна3</option>
                    <option>Страна4</option>
                </select>
            </div>
            <div class="form-group town-select">
                <label for="">выберите город<b>*</b></label>
                <select name="town" class="select-2-styler" data-placeholder="Выберите город" ng-model="formData.city" select2-styler>
                    <option></option>
                    <option>Москва1</option>
                    <option>Москва2</option>
                    <option>Москва3</option>
                    <option>Москва4</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">укажите кол-во порций, которое
                    <br> вы планируете подавать/
                    <br> сервировать в день</label>
                <div class="number-wrapper">
                    <div my-customer class="styler-wrapper"></div>
                </div>
            </div>
            <div class="form-group">
                <label for="">Выберите профиль вашего бизнеса</label>
                <select name="profile" class="styler" data-placeholder="Выберите профиль" ng-model="formData.profile" select-styler>
                    <option></option>
                    <option ng-repeat="profile in profiles" value="{{profile.id}}">{{profile.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Имя<b>*</b></label>
                <input type="text" class="input-style" name="firstName" ng-model="formData.firstname" required="required">
            </div>
            <div class="form-group">
                <label for="">фамилия<b>*</b></label>
                <input type="text" class="input-style" name="lastName" ng-model="formData.lastname" required="required">
            </div>
            <div class="form-group">
                <label for="">телефон<b>*</b></label>
                <input type="number" class="input-style" name="phone" ng-model="formData.phone" required="required">
            </div>
            <div class="form-group">
                <label for="">e-mail<b>*</b></label>
                <input type="email" class="input-style" name="email" ng-model="formData.email" required="required">
            </div>
            <div class="rules">
                <b>*</b>Обязательные поля для заполнения
            </div>
            <div class="form-group checkbox-rule">
                <input type="checkbox" id="checkbox" name="rules" ng-required="!formData.rules" ng-model="formData.rules">
                <label for="checkbox" class="checkbox-view"></label>
                <span class="agree-check">Соглагласен на обработку персональных данных <br>
                    в соответствии с политикой конфиденциальности</span>
            </div>
            <button type="submit" class="submit-form-btn">оформить заказ</button>
        </form>
    </div>
</div>


<div class="pop-up callback">
    <div class="callback-wrapper">
        <a href="#" class="js-close-pop-up callback-close ">
            <img src="img/callback-close.png" alt="">
        </a>
        <div class="callback-title">
            <span class="callback-title-wrap">связаться с нами</span>
        </div>
        <img src="img/callback-cup.png" alt="" class="callback-img">
        <div class="callback-main-text">
            <p>У Вас есть вопросы по установке машины NESCAFÉ® Professional, условиям <br> сотрудничества или Вам нужна помощь? Свяжитесь с нами любым удобным для Вас способом:</p>
            <p>Наш адрес: ООО «Нестле Россия», 115054 Россия Москва Павелецкая пл., д. 2, стр. 1</p>
            <p>Горячая линия по работе с клиентами: <b>8 800 200 7 200</b></p>
            <p>
                Если Вы хотите задать конкретный вопрос или получить разъяснение <br>
                по электронной почте,пожалуйста, свяжитесь с нами: <a href="mailto:contact@ru.nestle.com"><b>contact@ru.nestle.com</b></a></p>
        </div>
    </div>
</div>

    <div class="page-body" id="page-body">
         <div class="main-calculation-wrap" ng-controller="calcController">
    <div class="steps container calculation-container" ng-class="{activeStep1 : showState == 'step1',activeStep2 : showState == 'step2',activeStep3 : showState == 'step3'}" ng-init="profileName = 'АЗС'">
        <div class="step-1 step">
            <span class="number">1</span>
            <span class="step-text">Вариант расчета</span>
        </div>
        <div class="step-2 step">
            <span class="number">2</span>
            <span class="step-text">выбрать меню</span>
        </div>
        <div class="step-3 step">
            <span class="number">3</span>
            <span class="step-text">рассчитать доход</span>
        </div>
    </div>
    <!-- Step-1 -->
    <div class="calculation-step-1" ng-show="showState === 'step1'" ng-init="tabState = 'cafe'">
        <div class="container calculation-container">
            <img src="img/step-img.png" alt="" class="step-img">
            <div class="slider-range-wrap">
                <div class="bread-crumbs">
                    <ul>
                        <li><a href="#">Выбрать профиль</a></li>
                        <li><span>АЗС</span></li>
                    </ul>
                </div>
                <span class="guests">Количество гостей <br>
                 в день</span>
                <div id="slider-range" slider-range-ui ng-model="sliderValue" min="5" max="100" value="20" >
                    <span class="count from">от 5</span>
                    <span class="count to">> 100</span>
                    <span class="number-slider"></span>
                </div>
            </div>
        </div>
    </div>
    <!-- Step-1 end-->
    <!-- Step-2 -->
    <div class="calculation-step-2" ng-show="showState === 'step2'">
        <div class="table-wrapper">
            <div class="table-title">
                Выберите меню для Ваших покупателей и укажите цену продажи,
                <br> если она отличается от рекомендованной
            </div>
            <input type="number" ng-model="modifier" id="Test" ng-hide="true">
            <input type="text" ng-model="enabledCheck" id="checks" ng-hide="true">
            <table class="calculation-table">
                <thead>
                    <tr>
                        <td class="text-left">
                            <img src="img/calc-table-1.png" alt="" class="table-icon">
                            <span>Выбор</span>
                        </td>
                        <td>
                            <img src="img/calc-table-2.png" alt="" class="table-icon">
                            <span>Напиток</span>
                        </td>
                        <td>
                            <img src="img/calc-table-3.png" alt="" class="table-icon">
                            <span>Чашки*</span>
                        </td>
                        <td>
                            <img src="img/calc-table-4.png" alt="" class="table-icon">
                            <span>цена**</span>
                        </td>
                        <td class="">
                            <img src="img/calc-table-5.png" alt="" class="table-icon">
                            <span>цена продажи</span>
                        </td>
                    </tr>
                </thead>
                <tbody>
                <tr class="table-row" ng-class="{disabled: !item.status,enabled: item.status }" ng-repeat="item in targetTable.drinks">
                        <td class="check-row">
                            <input
                                type="checkbox"
                                name="name"
                                checked
                                ng-model="item.status"
                                ng-click="getVal(); tableChk()"
                                ng-init="item.status = true"
                                ng-disabled="item.status && enabledCheck || item.drinkName == 'Американо' || item.drinkName == 'Капучино' || item.drinkName == 'Черный кофе'">
                            <label for=""></label>
                        </td>
                        <td class="drink-name">
                            {{item.drinkName}}
                        </td>
                        <td class="count-drinks">
                            <span ng-show="!item.status" ng-class="{enabled: !item.status}">{{sliderValue * peopleCoef * item.drinkCoef | number:0 | comma2decimal}}</span>
                            <span ng-show="item.status" ng-class="{enabled: item.status}">{{sliderValue * peopleCoef * item.drinkCoef + modifier | number:0 | comma2decimal}}</span>
                        </td>
                        <td class="price">
                            <span class="price-val" ng-model="drinkPrice">{{item.drinkPrice}}</span> руб.
                        </td>
                        <td class="custom-price">
                            <input type="number" class="price-input" ng-readonly="!activeRow" ng-model="item.customPrice" ng-change="change()">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="info-about-table">
                <div class="info pull-left">
                    <b>*</b>распределение напитков по результатам <br> проведенных исследований
                </div>
                <div class="info pull-right">
                    <b>**</b>рекомендованная цена продажи
                </div>
            </div>
        </div>
    </div>
    <!-- Step-2 end-->
    <!-- Step-3 -->
    <div class="calculation-step-3" ng-show="showState === 'step3'">
        <div class="container calculation-container">
            <div class="image-calc-wrap ">
                <div class="machine-name">
                    {{targetTable.name}}
                </div>
                <div class="machine-sub-title">
                    Nescafe Professional рекомендует:
                </div>
                <div class="image-offer-wrapper">
                    <div class="offer-info">
                        <div class="offer-info-item">
                            <img src="img/offer-info-img-1.png" alt="" class="offer-info-img">
                            <div class="offer-info-text">
                                Аренда машины -
                                <br> бесплатно
                            </div>
                        </div>
                        <div class="offer-info-item">
                            <img src="img/offer-info-img-2.png" alt="" class="offer-info-img">
                            <div class="offer-info-text">
                                Установка и сервисное
                                <br> обслуживание
                            </div>
                        </div>
                        <div class="offer-info-item">
                            <img src="img/offer-info-img-3.png" alt="" class="offer-info-img">
                            <div class="offer-info-text">
                                Вы платите только
                                <br> за ингредиенты
                            </div>
                        </div>
                    </div>
                    <img ng-src="img/{{targetTable.img}}"alt="" class="offer-img">
                    <!--<img src="img/calc-offer-img.jpg" alt="" class="offer-img">-->
                </div>
            </div>
            <div class="offer-calc-wrap">
                <div class="profit-info">
                    Ваш маржинальный доход от продажи кофе составит:
                    <br>
                    <span class="font-size"><span>{{(total - total_marginal) | number : 0 | comma2decimal}}</span> руб. в день x 31 = <b>{{(total - total_marginal) * 31 | number : 0 | comma2decimal}}</b> руб. в мес.*</span>
                </div>
                <div class="btns-wrap">
                    <a href="" class="btn-rect re-calc" ng-click="prevStep()">перерасчитать</a>
                    <a href="#" class="btn-rect print">распечатать</a>
                </div>
                <div class="detail-info">
                    <b>*</b>Данное предложение не является публичной офертой, реальные данные могут отличаться <br>
                     от расчетных
                </div>

                <div class="form-wrapper">
                    <div class="form-title line">
                        оформить заявку
                    </div>
                    <form action="" class="calc-form" name="calcOffer" ng-submit="sendCalcOffer()">
                        <div class="form-group margin custom-error-position">
                            <select name="country" class="styler" data-placeholder="Выберите страну" select-styler required="required" ng-model="formDataCalcOffer.country">
                                <option></option>
                                <option>Страна1</option>
                                <option>Страна2</option>
                                <option>Страна3</option>
                                <option>Страна4</option>
                            </select>
                        </div>

                        <div class="form-group margin custom-error-position">
                            <select name="town" class="styler" data-placeholder="Выберите город" select-styler required="required" ng-model="formDataCalcOffer.city">
                                <option></option>
                                <option>Москва1</option>
                                <option>Москва2</option>
                                <option>Москва3</option>
                                <option>Москва4</option>
                            </select>
                        </div>
                        <div class="extra-row">
                            <div class="half-item">
                                <div class="form-group">
                                    <label for="">Имя<b>*</b></label>
                                    <input type="text" class="input-style" name="firstName" ng-model="formDataCalcOffer.firstname" required="required">
                                </div>
                            </div>
                            <div class="half-item">
                                <div class="form-group">
                                    <label for="">Фамилия<b>*</b></label>
                                    <input type="text" class="input-style" name="lastName" ng-model="formDataCalcOffer.lastname" required="required">
                                </div>
                            </div>
                        </div>
                        <div class="extra-row">
                            <div class="half-item">
                                <div class="form-group">
                                    <label for="">телефон<b>*</b></label>
                                    <input type="number" class="input-style" name="phone" ng-model="formDataCalcOffer.phone" required="required">
                                </div>
                            </div>
                            <div class="half-item">
                                <div class="form-group">
                                    <label for="">e-mail<b>*</b></label>
                                    <input type="email" class="input-style" name="email" ng-model="formDataCalcOffer.email" required="required">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn-offer btn-rect">оформить заказ</button>
                        <div class="rules">
                            <b>*</b>Обязательные поля для заполнения
                        </div>
                        <div class="form-group checkbox-rule">
                            <input type="checkbox" id="checkbox_rule" name="rules" ng-required="!formDataCalcOffer.rules" ng-model="formDataCalcOffer.rules">
                            <label for="checkbox_rule" class="checkbox-view"></label>
                            <span class="agree-check">Соглагласен на обработку персональных данных в соответствии с политикой конфиденциальности</span>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>
    <div class="container calculation-container control-container">
        <a href="" class="prev-step btn-rect dark-red" ng-click="prevStep() ; tabState = 'cafe'" ng-hide="showState == 'step1'">Назад</a>
        <a href="" class="next-step btn-rect dark-red" ng-click="nextStep()" ng-hide="showState == 'step3' || disableNextBtn">следующий шаг</a>
    </div>
</div>

    </div>
    <div class="section section-style geography static-footer">
        <footer id="footer" class="wrapper footer">
    <div class="container">
        <a href="#" class="foot-logo pull-right">
            <img src="img/foot-logo.png" alt="" class="desktop">
            <img src="img/white-logo.png" alt="" class="white-logo">
            <img src="img/footer-mob.png" alt="" class="tablet">
        </a>
        <nav class="menu">
            <ul>
                <li><a href="about.html">о нас</a></li>
                <li><a href="catalog.html">каталог</a></li>
                <li><a href="find-solution.html">подобрать решение</a></li>
                <li><a href="articles-static.html">статьи</a></li>
                <li><a href="http://www.nestle.ru/info/%D0%9A%D0%BE%D0%BD%D1%84%D0%B8%D0%B4%D0%B5%D0%BD%D1%86%D0%B8%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D1%81%D1%82%D1%8C%20%D0%B8%20%D1%83%D1%81%D0%BB%D0%BE%D0%B2%D0%B8%D1%8F%20%D0%B8%D1%81%D0%BF%D0%BE%D0%BB%D1%8C%D0%B7%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F" target="_blank">Политика конфиденциальности</a></li>
            </ul>
        </nav>
        <span class="copyright">© 2016 NESTLÉ Professional®</span>
    </div>
</footer>

    </div>
</div>

<script src="js/libs.js"></script>
<script src="js/select2.full.min.js"></script>
<script src="js/common.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-filter.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/angular-animate.min.js"></script>

<script src="js/app.js"></script>

</body>
</html>
