<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8"/>
  <title>Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link rel="stylesheet" href="css/jquery.fullPage.css">
  <link rel="stylesheet" href="css/slick.css">
  <link rel="stylesheet" href="css/slick-theme.css">
  <link rel="stylesheet" href="css/owl.carousel.css">
  <link rel="stylesheet" href="css/formstyler.css">
  <link rel="stylesheet" href="css/select2.min.css">



  <link rel="stylesheet" href="css/jquery-ui.min.css">
  <link rel="stylesheet" href="css/jquery-ui.structure.min.css">
  <!-- <link rel="stylesheet" href="css/jquery-ui.theme.min.css"> -->

  <link rel="stylesheet" href="css/style.css"/>
  <script src="js/ie-detector.js"></script>
  <script src="js/modernizr.js"></script>
  <!--[if lte IE 9]><meta http-equiv="X-UA-Compatible" content="IE=edge"/><![endif]-->

  <!--
    <link rel="shortcut icon" href="favicon.ico"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content="">
    <meta name="robots" content="index,follow">
    <meta name="copyright" content="">
  -->

</head>

<body ng-app="App">
<div id="page-wrapper" class="page-wrapper main-page">
  <div class="overlay"></div>
<div class="pop-up pop-up-offer" ng-controller="offerController">
    <a href="#" class="close-pop-up"></a>
    <div class="form-wrapper">
        <div class="pop-up-title">
            Оформить предзаказ
        </div>
        <div class="pop-up-sub-title">
            Добро пожаловать в Nestlé Professional®!
            <br> Спасибо за проявленый интерес к нашему
            <br> комплексному кофейному решению.
            <br>
            <br> Пожалуйста, заполните форму, чтобы мы
            <br> могли связаться с Вами для обсуждения
            <br> деталей заказа.
            <br>
            <br> Если у Вас возникли вопросы, свяжитесь
            <br> с нами по телефону горячей линии
            <br>
            <b>8-800-200-7-200</b> или по электронной
            <br> почте <a href="mailto:contact@ru.nestle.com" target="_blank">contact@ru.nestle.com</a>
        </div>
        <form action="" class="offer-form" ng-submit="sendOffer()" name="offer">
            <div class="form-group town-select">
                <label for="">выберите страну<b>*</b></label>
                <select name="country" class="select-2-styler" data-placeholder="Выберите страну" ng-model="formData.city" select2-styler>
                    <option></option>
                    <option>Страна1</option>
                    <option>Страна2</option>
                    <option>Страна3</option>
                    <option>Страна4</option>
                </select>
            </div>
            <div class="form-group town-select">
                <label for="">выберите город<b>*</b></label>
                <select name="town" class="select-2-styler" data-placeholder="Выберите город" ng-model="formData.city" select2-styler>
                    <option></option>
                    <option>Москва1</option>
                    <option>Москва2</option>
                    <option>Москва3</option>
                    <option>Москва4</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">укажите кол-во порций, которое
                    <br> вы планируете подавать/
                    <br> сервировать в день</label>
                <div class="number-wrapper">
                    <div my-customer class="styler-wrapper"></div>
                </div>
            </div>
            <div class="form-group">
                <label for="">Выберите профиль вашего бизнеса</label>
                <select name="profile" class="styler" data-placeholder="Выберите профиль" ng-model="formData.profile" select-styler>
                    <option></option>
                    <option ng-repeat="profile in profiles" value="{{profile.id}}">{{profile.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Имя<b>*</b></label>
                <input type="text" class="input-style" name="firstName" ng-model="formData.firstname" required="required">
            </div>
            <div class="form-group">
                <label for="">фамилия<b>*</b></label>
                <input type="text" class="input-style" name="lastName" ng-model="formData.lastname" required="required">
            </div>
            <div class="form-group">
                <label for="">телефон<b>*</b></label>
                <input type="number" class="input-style" name="phone" ng-model="formData.phone" required="required">
            </div>
            <div class="form-group">
                <label for="">e-mail<b>*</b></label>
                <input type="email" class="input-style" name="email" ng-model="formData.email" required="required">
            </div>
            <div class="rules">
                <b>*</b>Обязательные поля для заполнения
            </div>
            <div class="form-group checkbox-rule">
                <input type="checkbox" id="checkbox" name="rules" ng-required="!formData.rules" ng-model="formData.rules">
                <label for="checkbox" class="checkbox-view"></label>
                <span class="agree-check">Соглагласен на обработку персональных данных <br>
                    в соответствии с политикой конфиденциальности</span>
            </div>
            <button type="submit" class="submit-form-btn">оформить заказ</button>
        </form>
    </div>
</div>


<div class="pop-up callback">
    <div class="callback-wrapper">
        <a href="#" class="js-close-pop-up callback-close ">
            <img src="img/callback-close.png" alt="">
        </a>
        <div class="callback-title">
            <span class="callback-title-wrap">связаться с нами</span>
        </div>
        <img src="img/callback-cup.png" alt="" class="callback-img">
        <div class="callback-main-text">
            <p>У Вас есть вопросы по установке машины NESCAFÉ® Professional, условиям <br> сотрудничества или Вам нужна помощь? Свяжитесь с нами любым удобным для Вас способом:</p>
            <p>Наш адрес: ООО «Нестле Россия», 115054 Россия Москва Павелецкая пл., д. 2, стр. 1</p>
            <p>Горячая линия по работе с клиентами: <b>8 800 200 7 200</b></p>
            <p>
                Если Вы хотите задать конкретный вопрос или получить разъяснение <br>
                по электронной почте,пожалуйста, свяжитесь с нами: <a href="mailto:contact@ru.nestle.com"><b>contact@ru.nestle.com</b></a></p>
        </div>
    </div>
</div>

  <div id="fullpage">
      <header id="header" class="wrapper header section">
          <div class="header-menu">
    <div class="container">
        <a href="index.html" class="logo" title="Nestle">
            <img src="img/logo.png" alt="" width="184" height="80">
        </a>
        <nav class="menu">
            <ul>
                <li><a href="about.html">о нас</a></li>
                <li><a href="catalog.html">каталог</a></li>
                <li><a href="find-solution.html">подобрать решение</a></li>
                <li><a href="articles-static.html">статьи</a></li>
            </ul>
        </nav>
        <div class="right-wrap">
            <a href="#" class="cart js-show-pop-up" data-pop-up="pop-up-offer">
                <span>Оформить заказ</span>
            </a>
            <a href="#" class="phone js-show-pop-up" data-pop-up="callback">
                <span>Связаться с нами</span>
            </a>
        </div>
    </div>
</div>

          <div class="row main-image">
    <div class="slider">
        <div class="item">
            <div class="wrap clearfix">
                <div class="container">
                    <div class="slider-title">
                        <div class="title">
                            Сочетание
                            <br>вкуса
                            <br>и стиля
                        </div>
                        <div class="sub-title">
                            Представляем уникальное кофейное
                            <br>решение – линейку кофемашин
                            <br>Nestlé Professional®
                        </div>
                    </div>
                </div>
                <div class="half bg-side" style="background: #475254"></div>
                <div class="half img-side" style="">
                    <!--<div class="half img-side" style="background: url('img/slide.jpg');background-size:cover;">-->
                     <img src="img/slide.jpg" alt="" class="desktop machine">
                    <img src="img/slide-mob.jpg" alt="" class="tablet machine">
                    <!--<img src="img/slide-bg.jpg" alt="">-->
                    <!--<img src="img/slider-machine.png" alt="" class="machine desktop">-->
                    <!--<img src="img/slider-machine-mobile.png" alt="" class="machine tablet">-->

                    <!-- <img src="img/cake.png" alt="" class="bowl"> -->
                    <!-- <img src="img/advantages-6.png" alt="" class="elem" width="100"> -->
                </div>

            </div>
        </div>
        <div class="item">
            <div class="wrap clearfix">
                <div class="container">
                    <div class="slider-title">
                        <div class="title">
                            Многолетний
                            <br> опыт и
                            <br> экспертиза
                        </div>
                        <div class="sub-title">
                            Nestlé — крупнейшая в мире компания –
                            <br> мировой лидер в производстве кофе.
                        </div>
                    </div>
                </div>
                <div class="half bg-side" style="background: #283151"></div>
                <div class="half img-side" style="">
                    <!--<div class="half img-side" style="background: url('img/slide-2.jpg');background-size:cover;">-->
                    <img src="img/slide-2.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="item">
            <div class="wrap clearfix">
                <div class="container">
                    <div class="slider-title">
                        <div class="title">
                            высокое
                            <br> качество
                            <br> Всегда
                        </div>
                        <div class="sub-title">
                            Мы делаем жизнь лучше, предлагая
                            <br> потребителям только натуральные
                            <br> и полезные продукты.
                        </div>
                    </div>
                </div>
                <div class="half bg-side" style="background: #722e3c"></div>
                <div class="half img-side" style="">
                    <!--<div class="half img-side" style="background: url('img/slide-3.jpg');background-size:cover;">-->
                    <img src="img/slide-3.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="buttons">
            <ul>
                <li>
                    <a href="#0" class="active js-goto-slide"></a>
                </li>
                <li>
                    <a href="#1" class="js-goto-slide"></a>
                </li>
                <li>
                    <a href="#2" class="js-goto-slide"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container btn-container">
    <a href="#" class="scroll-icon js-scroll">
        <img src="img/mouse-scroll.png" alt="">
    </a>
</div>

      </header>
      <div class="section approach section-style">
    <div class="section-wrap">
        <div class="container container-padding">
            <h2 class="section-title left left-line">комплексный подход</h2>
        </div>
        <div class="container">
            <div class="col-xs-3 left-image">
                <img src="img/machine.png" alt="machine">
            </div>
            <div class="col-xs-8">
                <div class="approach-title">
                <span>
                Мы предоставляем бесплатно:
                    </span>
                <span class="pull-right">
                    Вы платите только за:
                </span>
                </div>

                <div class="list">
                    <div class="item-list">
                        <img src="img/list-item-1.png" alt="" class="item-image">

                        <div class="item-title">
                            Кофемашину
                        </div>
                    </div>
                    <div class="item-list">
                        <img src="img/list-item-2.png" alt="" class="item-image">

                        <div class="item-title">
                            Разработку меню
                        </div>
                    </div>
                    <div class="item-list">
                        <img src="img/list-item-3.png" alt="" class="item-image">

                        <div class="item-title">
                            Техническое <br>
                            обслуживание
                        </div>
                    </div>
                    <div class="item-list">
                        <img src="img/list-item-4.png" alt="" class="item-image">

                        <div class="item-title">
                            Качественные <br>
                            ингредиенты
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-footer">
        <a href="#" class="section-logo"></a>

        <div class="links-section">
            <a href="#">Горячая линия</a><a href="#">скачать презентацию</a>
        </div>
        <!--<span class="copyright">© 2016 NESTLÉ Professional®</span>-->
        <div class="right-image pull-right">
            <a href="#">Подобрать решение</a>
        </div>
    </div>
</div>

<div class="section section-style solutions">
    <div class="slider-wrapper-height">
        <div class="container">
            <h2 class="section-title text-center">кофейные решения</h2>

            <div class="section-sub-title text-center">
                Мы подберем любые кофейные решения, <br>
                исходя из Ваших потребностей
            </div>
        </div>
        <div class="container">
            <div class="slider-wrap">
                <div class="solutions-slider">
                    <div class="solution-item">
                        <div class="wrap-item">
                            <div class="info-about">
                                <div class="info-block couples">
                                    <img src="img/info-1.png" alt="">
                                    <span class="detail-info">
                                    100-250 чашек <br>
                                    в день
                                    </span>
                                </div>
                                <div class="info-block time">
                                    <img src="img/info-2.png" alt="">
                                    <span class="detail-info">
                                    Приготовление <br>
                                    от 6 до 13 секунд
                                    </span>
                                </div>
                            </div>
                            <img src="img/solution-1.png" alt="" class="machine-image">

                            <div class="name-machine">
                                nescafÉ alegria 8/40
                            </div>
                        </div>
                    </div>
                    <div class="solution-item">
                        <div class="wrap-item">
                          <div class="new-item">
                            <span>Новинка</span>
                              <!-- <img src="img/new-label.png" alt=""> -->
                          </div>
                            <div class="info-about">
                                <div class="info-block couples">
                                    <img src="img/info-1.png" alt="">
                        <span class="detail-info">
                        100-250 чашек <br>
                        в день
                        </span>
                                </div>
                                <div class="info-block time">
                                    <img src="img/info-2.png" alt="">
                        <span class="detail-info">
                        Приготовление <br>
                        от 6 до 13 секунд
                        </span>
                                </div>
                            </div>
                            <img src="img/solution-2.png" alt="" class="machine-image">

                            <div class="name-machine">
                                nescafÉ milano 2.0
                            </div>
                        </div>
                    </div>
                    <div class="solution-item">
                        <div class="wrap-item">
                            <div class="info-about">
                                <div class="info-block couples">
                                    <img src="img/info-1.png" alt="">
                        <span class="detail-info">
                        100-250 чашек <br>
                        в день
                        </span>
                                </div>
                                <div class="info-block time">
                                    <img src="img/info-2.png" alt="">
                        <span class="detail-info">
                        Приготовление <br>
                        от 6 до 13 секунд
                        </span>
                                </div>
                            </div>
                            <img src="img/solution-3.png" alt="" class="machine-image">

                            <div class="name-machine">
                                nescafÉ alegria 6/30
                            </div>
                        </div>
                    </div>
                    <div class="solution-item">
                        <div class="wrap-item">
                            <div class="info-about">
                                <div class="info-block couples">
                                    <img src="img/info-1.png" alt="">
                                    <span class="detail-info">
                                    100-250 чашек <br>
                                    в день
                                    </span>
                                </div>
                                <div class="info-block time">
                                    <img src="img/info-2.png" alt="">
                                    <span class="detail-info">
                                    Приготовление <br>
                                    от 6 до 13 секунд
                                    </span>
                                </div>
                            </div>
                            <img src="img/solution-1.png" alt="" class="machine-image">

                            <div class="name-machine">
                                nescafÉ alegria 8/40
                            </div>
                        </div>
                    </div>
                    <div class="solution-item">
                        <div class="wrap-item">
                          <div class="new-item">
                            <span>Новинка</span>
                              <!-- <img src="img/new-label.png" alt=""> -->
                          </div>
                            <div class="info-about">
                                <div class="info-block couples">
                                    <img src="img/info-1.png" alt="">
                        <span class="detail-info">
                        100-250 чашек <br>
                        в день
                        </span>
                                </div>
                                <div class="info-block time">
                                    <img src="img/info-2.png" alt="">
                        <span class="detail-info">
                        Приготовление <br>
                        от 6 до 13 секунд
                        </span>
                                </div>
                            </div>
                            <img src="img/solution-2.png" alt="" class="machine-image">

                            <div class="name-machine">
                                nescafÉ milano 2.0
                            </div>
                        </div>
                    </div>
                    <div class="solution-item">
                        <div class="wrap-item">
                            <div class="info-about">
                                <div class="info-block couples">
                                    <img src="img/info-1.png" alt="">
                        <span class="detail-info">
                        100-250 чашек <br>
                        в день
                        </span>
                                </div>
                                <div class="info-block time">
                                    <img src="img/info-2.png" alt="">
                        <span class="detail-info">
                        Приготовление <br>
                        от 6 до 13 секунд
                        </span>
                                </div>
                            </div>
                            <img src="img/solution-3.png" alt="" class="machine-image">

                            <div class="name-machine">
                                nescafÉ alegria 6/30
                            </div>
                        </div>
                    </div>
                    <div class="solution-item">
                        <div class="wrap-item">
                            <div class="info-about">
                                <div class="info-block couples">
                                    <img src="img/info-1.png" alt="">
                                    <span class="detail-info">
                                    100-250 чашек <br>
                                    в день
                                    </span>
                                </div>
                                <div class="info-block time">
                                    <img src="img/info-2.png" alt="">
                                    <span class="detail-info">
                                    Приготовление <br>
                                    от 6 до 13 секунд
                                    </span>
                                </div>
                            </div>
                            <img src="img/solution-1.png" alt="" class="machine-image">

                            <div class="name-machine">
                                nescafÉ alegria 8/40
                            </div>
                        </div>
                    </div>
                    <div class="solution-item">
                        <div class="wrap-item">
                          <div class="new-item">
                            <span>Новинка</span>
                              <!-- <img src="img/new-label.png" alt=""> -->
                          </div>
                            <div class="info-about">
                                <div class="info-block couples">
                                    <img src="img/info-1.png" alt="">
                        <span class="detail-info">
                        100-250 чашек <br>
                        в день
                        </span>
                                </div>
                                <div class="info-block time">
                                    <img src="img/info-2.png" alt="">
                        <span class="detail-info">
                        Приготовление <br>
                        от 6 до 13 секунд
                        </span>
                                </div>
                            </div>
                            <img src="img/solution-2.png" alt="" class="machine-image">

                            <div class="name-machine">
                                nescafÉ milano 2.0
                            </div>
                        </div>
                    </div>
                    <div class="solution-item">
                        <div class="wrap-item">
                            <div class="info-about">
                                <div class="info-block couples">
                                    <img src="img/info-1.png" alt="">
                        <span class="detail-info">
                        100-250 чашек <br>
                        в день
                        </span>
                                </div>
                                <div class="info-block time">
                                    <img src="img/info-2.png" alt="">
                        <span class="detail-info">
                        Приготовление <br>
                        от 6 до 13 секунд
                        </span>
                                </div>
                            </div>
                            <img src="img/solution-3.png" alt="" class="machine-image">

                            <div class="name-machine">
                                nescafÉ alegria 6/30
                            </div>
                        </div>
                    </div>
                    <div class="solution-item">
                        <div class="wrap-item">
                            <div class="info-about">
                                <div class="info-block couples">
                                    <img src="img/info-1.png" alt="">
                                    <span class="detail-info">
                                    100-250 чашек <br>
                                    в день
                                    </span>
                                </div>
                                <div class="info-block time">
                                    <img src="img/info-2.png" alt="">
                                    <span class="detail-info">
                                    Приготовление <br>
                                    от 6 до 13 секунд
                                    </span>
                                </div>
                            </div>
                            <img src="img/solution-1.png" alt="" class="machine-image">

                            <div class="name-machine">
                                nescafÉ alegria 8/40
                            </div>
                        </div>
                    </div>
                    <div class="solution-item">
                        <div class="wrap-item">
                          <div class="new-item">
                            <span>Новинка</span>
                              <!-- <img src="img/new-label.png" alt=""> -->
                          </div>
                            <div class="info-about">
                                <div class="info-block couples">
                                    <img src="img/info-1.png" alt="">
                        <span class="detail-info">
                        100-250 чашек <br>
                        в день
                        </span>
                                </div>
                                <div class="info-block time">
                                    <img src="img/info-2.png" alt="">
                        <span class="detail-info">
                        Приготовление <br>
                        от 6 до 13 секунд
                        </span>
                                </div>
                            </div>
                            <img src="img/solution-2.png" alt="" class="machine-image">

                            <div class="name-machine">
                                nescafÉ milano 2.0
                            </div>
                        </div>
                    </div>
                    <div class="solution-item">
                        <div class="wrap-item">
                            <div class="info-about">
                                <div class="info-block couples">
                                    <img src="img/info-1.png" alt="">
                        <span class="detail-info">
                        100-250 чашек <br>
                        в день
                        </span>
                                </div>
                                <div class="info-block time">
                                    <img src="img/info-2.png" alt="">
                        <span class="detail-info">
                        Приготовление <br>
                        от 6 до 13 секунд
                        </span>
                                </div>
                            </div>
                            <img src="img/solution-3.png" alt="" class="machine-image">

                            <div class="name-machine">
                                nescafÉ alegria 6/30
                            </div>
                        </div>
                    </div>
                    <div class="solution-item">
                        <div class="wrap-item">
                            <div class="info-about">
                                <div class="info-block couples">
                                    <img src="img/info-1.png" alt="">
                                    <span class="detail-info">
                                    100-250 чашек <br>
                                    в день
                                    </span>
                                </div>
                                <div class="info-block time">
                                    <img src="img/info-2.png" alt="">
                                    <span class="detail-info">
                                    Приготовление <br>
                                    от 6 до 13 секунд
                                    </span>
                                </div>
                            </div>
                            <img src="img/solution-1.png" alt="" class="machine-image">

                            <div class="name-machine">
                                nescafÉ alegria 8/40
                            </div>
                        </div>
                    </div>
                    <div class="solution-item">
                        <div class="wrap-item">
                          <div class="new-item">
                            <span>Новинка</span>
                              <!-- <img src="img/new-label.png" alt=""> -->
                          </div>
                            <div class="info-about">
                                <div class="info-block couples">
                                    <img src="img/info-1.png" alt="">
                        <span class="detail-info">
                        100-250 чашек <br>
                        в день
                        </span>
                                </div>
                                <div class="info-block time">
                                    <img src="img/info-2.png" alt="">
                        <span class="detail-info">
                        Приготовление <br>
                        от 6 до 13 секунд
                        </span>
                                </div>
                            </div>
                            <img src="img/solution-2.png" alt="" class="machine-image">

                            <div class="name-machine">
                                nescafÉ milano 2.0
                            </div>
                        </div>
                    </div>
                    <div class="solution-item">
                        <div class="wrap-item">
                            <div class="info-about">
                                <div class="info-block couples">
                                    <img src="img/info-1.png" alt="">
                        <span class="detail-info">
                        100-250 чашек <br>
                        в день
                        </span>
                                </div>
                                <div class="info-block time">
                                    <img src="img/info-2.png" alt="">
                        <span class="detail-info">
                        Приготовление <br>
                        от 6 до 13 секунд
                        </span>
                                </div>
                            </div>
                            <img src="img/solution-3.png" alt="" class="machine-image">

                            <div class="name-machine">
                                nescafÉ alegria 6/30
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="slider-btn">
                <a href="#" class="slider-prev js-slider-prev"></a>
                <a href="#" class="slider-next js-slider-next"></a>
            </div>
        </div>
    </div>
    <div class="section-footer">
        <a href="#" class="section-logo"></a>

        <div class="links-section">
            <a href="#">Горячая линия</a><a href="#">скачать презентацию</a>
        </div>
        <!--<span class="copyright">© 2016 NESTLÉ Professional®</span>-->
        <div class="right-image pull-right">
            <a href="#">Подобрать решение</a>
        </div>
    </div>
</div>
<div class="section section-style advantages">
    <div class="section-wrap">
        <div class="container container-padding">
            <h2 class="section-title text-left left-line">преимущества</h2>
        </div>

        <div class="container">
            <div class="advantages-wrap clearfix">
                <div class="top-line-wrap">
                    <span class="top-line"></span>
                </div>

                <div class="top-wrap clearfix">
                    <div class="advantages-items">
                        <div class="advantages-img">
                            <div class="wrap-fill">
                                <img src="img/adv1/fill.png" alt="">
                            </div>
                        </div>
                        <!--<img src="img/advantages-1.png" alt="advantages-item" class="advantages-img">-->
                        <span class="advantages-text">
                            Высокое качество <br>
                            ингредиентов
                        </span>
                    </div>
                    <div class="advantages-items">
                        <div class="advantages-img">
                            <div class="wrap-fill">
                                <img src="img/adv2/fill.png" alt="">
                            </div>
                        </div>
                        <span class="advantages-text">
                            Превосходный вкус <br>
                            чашка за чашкой
                        </span>
                    </div>
                    <div class="advantages-items">
                        <div class="advantages-img">
                            <div class="wrap-fill">
                                <img src="img/adv3/fill.png" alt="">
                            </div>
                        </div>
                        <span class="advantages-text">
                            Большой выбор <br>
                            напитков
                        </span>
                    </div>
                </div>

                <div class="bottom-wrap clearfix">
                    <div class="advantages-items">
                        <div class="advantages-img">
                            <div class="wrap-fill">
                                <img src="img/adv4/fill.png" alt="">
                            </div>
                        </div>
                        <span class="advantages-text">
                            Напиток одним <br>
                            нажатием кнопки
                        </span>
                    </div>
                    <div class="advantages-items">
                        <div class="advantages-img">
                            <div class="wrap-fill">
                                <img src="img/adv5/fill.png" alt="">
                            </div>
                        </div>
                        <span class="advantages-text">
                            Каппучино за <br>
                            10 секунд
                        </span>
                    </div>
                    <div class="advantages-items">
                        <div class="advantages-img">
                            <div class="wrap-fill">
                                <img src="img/adv6/fill.png" alt="">
                            </div>
                        </div>
                        <span class="advantages-text">
                            Европейское <br>
                            производство
                        </span>
                    </div>
                </div>
                <div class="bottom-line-wrap">
                    <span class="bottom-line"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="section-footer">
        <a href="#" class="section-logo"></a>

        <div class="links-section">
            <a href="#">Горячая линия</a><a href="#">скачать презентацию</a>
        </div>
        <!--<span class="copyright">© 2016 NESTLÉ Professional®</span>-->
        <div class="right-image pull-right">
            <a href="#">Подобрать решение</a>
        </div>
    </div>
</div>
<div class="section section-style set-up ">
    <img src="img/set-up-machine-bg-2.jpg" alt="" class="background">

    <div class="section-wrap">
        <div class="container container-padding">
            <h2 class="section-title text-left left-line">установить машину <br>
                просто:</h2>
        </div>
        <div class="container">
            <div class="set-up-tips">
                <ul>
                    <li>Вы оставляете заявку</li>
                    <li>Наш сотрудник связывается с вами</li>
                    <li>Машина и ингредиенты будут <br>
                        предоставлены в оговоренный срок
                    </li>
                </ul>
                <a href="#" class="btn-rect">Узнать больше</a>
            </div>
        </div>
    </div>
    <div class="section-footer light">
        <a href="#" class="section-logo"></a>

        <div class="links-section">
            <a href="#">Горячая линия</a><a href="#">скачать презентацию</a>
        </div>
        <!--<span class="copyright">© 2016 NESTLÉ Professional®</span>-->
        <div class="right-image pull-right">
            <a href="#">Подобрать решение</a>
        </div>
    </div>
</div>
<div class="section section-style our-machines">
    <div class="section-wrap">
        <div class="container container-padding">
            <h2 class="section-title text-left left-line">Наши кофемашины — <br>
                отличное решение для:</h2>
        </div>

        <div class="container machines-container">
            <div class="our-machines-items">
                <div class="machine-list">
                    <div class="img-wrap">
                        <div class="img-bg-wrap">
                            <img src="img/our-machines-1.jpg" alt="">
                        </div>
                    </div>
                <span>
                    Офисов и БЦ
                </span>
                </div>
                <div class="machine-list">
                    <div class="img-wrap">
                        <div class="img-bg-wrap">
                            <img src="img/our-machines-2.jpg" alt="">
                        </div>
                    </div>
                <span>
                    Кафе и ресторанов
                </span>
                </div>
                <div class="machine-list">
                    <div class="img-wrap">
                        <div class="img-bg-wrap">
                            <img src="img/our-machines-3.jpg" alt="">
                        </div>
                    </div>
                <span>Ресторанов быстрого питания</span>
                </div>
                <div class="machine-list">
                    <div class="img-wrap">
                        <div class="img-bg-wrap">
                            <img src="img/our-machines-4.jpg" alt="">
                        </div>
                    </div>
                <span>
                    Уличного фаст-фуда
                </span>
                </div>
                <div class="machine-list">
                    <div class="img-wrap">
                        <div class="img-bg-wrap">
                            <img src="img/our-machines-5.jpg" alt="">
                        </div>
                    </div>
                <span>
                    Гостиниц
                </span>
                </div>
                <div class="machine-list">
                    <div class="img-wrap">
                        <div class="img-bg-wrap">
                            <img src="img/our-machines-6.png" alt="">
                        </div>
                    </div>
                <span>
                    АЗС
                </span>
                </div>
            </div>
        </div>
    </div>
    <div class="partners">
        <div class="container container-padding">
            <div class="title-partners">
                В этом уже убедились:
            </div>
            <div class="partners-list">
                <a href="#"><img src="img/partn-1.png" alt="" width="91"></a>
                <a href="#"><img src="img/partn-2.png" alt="" width="99"></a>
                <a href="#"><img src="img/partn-3.png" alt="" width="97"></a>
                <a href="#"><img src="img/partn-4.png" alt="" width="143"></a>
            </div>
        </div>
    </div>
    <div class="section-footer">
        <a href="#" class="section-logo"></a>
        <div class="links-section">
            <a href="#">Горячая линия</a><a href="#">скачать презентацию</a>
        </div>
        <!--<span class="copyright">© 2016 NESTLÉ Professional®</span>-->
        <div class="right-image pull-right">
            <a href="#">Подобрать решение</a>
        </div>
    </div>
</div>

      <div class="section section-style geography">
          <div class="slider-wrap">
    <div class="slider-footer">
        <div class="geography-items">
            <div class="section-wrap">
                <div class="container container-padding">
                    <h2 class="section-title text-left left-line">география</h2>

                    <div class="section-sub-title">Мы работаем на территории <br>
                        всей страны
                    </div>
                </div>
            </div>
            <!-- <img src="img/geography-bg.jpg" alt=""> -->
        </div>
        <div class="geography-items">
            <div class="section-wrap">
                <div class="container container-padding">
                    <h2 class="section-title text-left left-line">география</h2>
                    <div class="section-sub-title">Мы работаем на территории <br>
                        всей страны
                    </div>
                </div>
            </div>
            <!-- <img src="img/geography-bg-2.jpg" alt=""> -->
        </div>
    </div>
</div>

          <footer id="footer" class="wrapper footer">
    <div class="container">
        <a href="#" class="foot-logo pull-right">
            <img src="img/foot-logo.png" alt="" class="desktop">
            <img src="img/white-logo.png" alt="" class="white-logo">
            <img src="img/footer-mob.png" alt="" class="tablet">
        </a>
        <nav class="menu">
            <ul>
                <li><a href="about.html">о нас</a></li>
                <li><a href="catalog.html">каталог</a></li>
                <li><a href="find-solution.html">подобрать решение</a></li>
                <li><a href="articles-static.html">статьи</a></li>
                <li><a href="http://www.nestle.ru/info/%D0%9A%D0%BE%D0%BD%D1%84%D0%B8%D0%B4%D0%B5%D0%BD%D1%86%D0%B8%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D1%81%D1%82%D1%8C%20%D0%B8%20%D1%83%D1%81%D0%BB%D0%BE%D0%B2%D0%B8%D1%8F%20%D0%B8%D1%81%D0%BF%D0%BE%D0%BB%D1%8C%D0%B7%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F" target="_blank">Политика конфиденциальности</a></li>
            </ul>
        </nav>
        <span class="copyright">© 2016 NESTLÉ Professional®</span>
    </div>
</footer>

      </div>
  </div>
  <!-- <div id="page-body" class="page-body"> -->

  <!-- </div> -->
</div>


<!-- scripts
___________________________________________________________________________-->


<script src="js/libs.js"></script>
<script src="js/select2.full.min.js"></script>
<script src="js/common.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-filter.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/angular-animate.min.js"></script>

<script src="js/app.js"></script>

</body>
</html>
