<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8"/>
  <title>Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link rel="stylesheet" href="css/jquery.fullPage.css">
  <link rel="stylesheet" href="css/slick.css">
  <link rel="stylesheet" href="css/slick-theme.css">
  <link rel="stylesheet" href="css/owl.carousel.css">
  <link rel="stylesheet" href="css/formstyler.css">
  <link rel="stylesheet" href="css/select2.min.css">



  <link rel="stylesheet" href="css/jquery-ui.min.css">
  <link rel="stylesheet" href="css/jquery-ui.structure.min.css">
  <!-- <link rel="stylesheet" href="css/jquery-ui.theme.min.css"> -->

  <link rel="stylesheet" href="css/style.css"/>
  <script src="js/ie-detector.js"></script>
  <script src="js/modernizr.js"></script>
  <!--[if lte IE 9]><meta http-equiv="X-UA-Compatible" content="IE=edge"/><![endif]-->

  <!--
    <link rel="shortcut icon" href="favicon.ico"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content="">
    <meta name="robots" content="index,follow">
    <meta name="copyright" content="">
  -->

</head>

<body ng-app="App">
<div id="page-wrapper" class="page-wrapper">
    <header id="header" class="wrapper header section">
        <div class="header-menu">
    <div class="container">
        <a href="index.html" class="logo" title="Nestle">
            <img src="img/logo.png" alt="" width="184" height="80">
        </a>
        <nav class="menu">
            <ul>
                <li><a href="about.html">о нас</a></li>
                <li><a href="catalog.html">каталог</a></li>
                <li><a href="find-solution.html">подобрать решение</a></li>
                <li><a href="articles-static.html">статьи</a></li>
            </ul>
        </nav>
        <div class="right-wrap">
            <a href="#" class="cart js-show-pop-up" data-pop-up="pop-up-offer">
                <span>Оформить заказ</span>
            </a>
            <a href="#" class="phone js-show-pop-up" data-pop-up="callback">
                <span>Связаться с нами</span>
            </a>
        </div>
    </div>
</div>

        <div class="catalog-head-wrap ingridients">
    <div class="half-wrap">

    </div>
    <div class="half-wrap image">

    </div>
    <div class="container">
        <div class="catalog-title">
            <div class="title">
                ингредиенты
            </div>
        </div>
    </div>
    <div class="container btn-container">
        <a href="#" class="scroll-icon js-scroll">
            <img src="img/mouse-scroll.png" alt="">
        </a>
    </div>
</div>
    </header>
    <div class="overlay"></div>
<div class="pop-up pop-up-offer" ng-controller="offerController">
    <a href="#" class="close-pop-up"></a>
    <div class="form-wrapper">
        <div class="pop-up-title">
            Оформить предзаказ
        </div>
        <div class="pop-up-sub-title">
            Добро пожаловать в Nestlé Professional®!
            <br> Спасибо за проявленый интерес к нашему
            <br> комплексному кофейному решению.
            <br>
            <br> Пожалуйста, заполните форму, чтобы мы
            <br> могли связаться с Вами для обсуждения
            <br> деталей заказа.
            <br>
            <br> Если у Вас возникли вопросы, свяжитесь
            <br> с нами по телефону горячей линии
            <br>
            <b>8-800-200-7-200</b> или по электронной
            <br> почте <a href="mailto:contact@ru.nestle.com" target="_blank">contact@ru.nestle.com</a>
        </div>
        <form action="" class="offer-form" ng-submit="sendOffer()" name="offer">
            <div class="form-group town-select">
                <label for="">выберите страну<b>*</b></label>
                <select name="country" class="select-2-styler" data-placeholder="Выберите страну" ng-model="formData.city" select2-styler>
                    <option></option>
                    <option>Страна1</option>
                    <option>Страна2</option>
                    <option>Страна3</option>
                    <option>Страна4</option>
                </select>
            </div>
            <div class="form-group town-select">
                <label for="">выберите город<b>*</b></label>
                <select name="town" class="select-2-styler" data-placeholder="Выберите город" ng-model="formData.city" select2-styler>
                    <option></option>
                    <option>Москва1</option>
                    <option>Москва2</option>
                    <option>Москва3</option>
                    <option>Москва4</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">укажите кол-во порций, которое
                    <br> вы планируете подавать/
                    <br> сервировать в день</label>
                <div class="number-wrapper">
                    <div my-customer class="styler-wrapper"></div>
                </div>
            </div>
            <div class="form-group">
                <label for="">Выберите профиль вашего бизнеса</label>
                <select name="profile" class="styler" data-placeholder="Выберите профиль" ng-model="formData.profile" select-styler>
                    <option></option>
                    <option ng-repeat="profile in profiles" value="{{profile.id}}">{{profile.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Имя<b>*</b></label>
                <input type="text" class="input-style" name="firstName" ng-model="formData.firstname" required="required">
            </div>
            <div class="form-group">
                <label for="">фамилия<b>*</b></label>
                <input type="text" class="input-style" name="lastName" ng-model="formData.lastname" required="required">
            </div>
            <div class="form-group">
                <label for="">телефон<b>*</b></label>
                <input type="number" class="input-style" name="phone" ng-model="formData.phone" required="required">
            </div>
            <div class="form-group">
                <label for="">e-mail<b>*</b></label>
                <input type="email" class="input-style" name="email" ng-model="formData.email" required="required">
            </div>
            <div class="rules">
                <b>*</b>Обязательные поля для заполнения
            </div>
            <div class="form-group checkbox-rule">
                <input type="checkbox" id="checkbox" name="rules" ng-required="!formData.rules" ng-model="formData.rules">
                <label for="checkbox" class="checkbox-view"></label>
                <span class="agree-check">Соглагласен на обработку персональных данных <br>
                    в соответствии с политикой конфиденциальности</span>
            </div>
            <button type="submit" class="submit-form-btn">оформить заказ</button>
        </form>
    </div>
</div>


<div class="pop-up callback">
    <div class="callback-wrapper">
        <a href="#" class="js-close-pop-up callback-close ">
            <img src="img/callback-close.png" alt="">
        </a>
        <div class="callback-title">
            <span class="callback-title-wrap">связаться с нами</span>
        </div>
        <img src="img/callback-cup.png" alt="" class="callback-img">
        <div class="callback-main-text">
            <p>У Вас есть вопросы по установке машины NESCAFÉ® Professional, условиям <br> сотрудничества или Вам нужна помощь? Свяжитесь с нами любым удобным для Вас способом:</p>
            <p>Наш адрес: ООО «Нестле Россия», 115054 Россия Москва Павелецкая пл., д. 2, стр. 1</p>
            <p>Горячая линия по работе с клиентами: <b>8 800 200 7 200</b></p>
            <p>
                Если Вы хотите задать конкретный вопрос или получить разъяснение <br>
                по электронной почте,пожалуйста, свяжитесь с нами: <a href="mailto:contact@ru.nestle.com"><b>contact@ru.nestle.com</b></a></p>
        </div>
    </div>
</div>

    <div class="pop-up ingridient-info">
    <a href="#" class="close-pop-up"></a>
    <div class="content-pop-up ingridient-1">
        <div class="title-pop-up">
            <h2>ПРОФИЛЬ НАПИТКА ЧЕРНЫЙ КОФЕ</h2>
        </div>
        <div class="wrapper-pop-up clearfix">
            <div class="wrapper-img-pop">
                <img src="img/ingred-1-pop.jpg" alt="ingred">
            </div>
            <div class="wrapper-graf-pop clearfix">
                <img src="img/graf-pop.png" alt="graf">
                <div class="numb-graf">
                    <p>10</p>
                    <p>8</p>
                    <p>6</p>
                    <p>4</p>
                    <p>2</p>
                    <p>0</p>
                </div>
                <ul class="graf-info ul-right">
                    <li>Общая интенсивность
                        <br>аромата</li>
                    <li>Послевкусие</li>
                    <li>Общая интенсивность
                        <br> вкуса</li>
                    <li>Плотность</li>
                    <li>Кофейность</li>
                    <li>Неоднородный
                        <br>вкус</li>
                    <li>Степень обжаррки </li>
                    <li>Вяжущий вкус</li>
                    <li>Фруктовый аромат </li>
                    <li>Горчинка</li>
                    <li>Винный вкус</li>
                    <li>Кислинка</li>
                    <li>Резинистый вкус</li>
                    <li>Землитсый вкус</li>
                    <li>Переработанный вкус</li>
                </ul>
            </div>
        </div>
        <div class="wrapp-pop-info clearfix">
            <h2>NESCAFÉ® Alegria Delicate</h2>
            <div class="pop-up-info ">
                <div class="content-info-pop">
                    <p>Nescafé® Alegria Delicate – это смесь
                        <br> обжаренного черного кофе
                        <br> с прекрасно сбалансированным
                        <br> вкусом, сочетающим в себе
                        <br> деликатную кислинку с фруктовыми
                        <br> и винными нотками.</p>
                    <span class="plash-1">Идеально подходит для<br> приготовления капучино.</span>
                </div>
            </div>
            <div class="pop-up-ul">
                <div class="fortress">
                    <span>Крепость</span>
                    <img src="img/class-zerno.png" alt="coffe">
                </div>
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Упаковка
                    </div>
                    <div class="info-ops">
                        500г
                    </div>
                </div>
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Количество в коробе
                    </div>
                    <div class="info-ops">
                        12 шт.
                    </div>
                </div>
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Количество порций
                    </div>
                    <div class="info-ops">
                        185
                    </div>
                </div>
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Страна производитель
                    </div>
                    <div class="info-ops">
                        Франция
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="js-show-pop-up pop-up-button js-ingridients-show-more" data-pop-up="pop-up-offer">оставить заявку</a>
    </div>
    <div class="content-pop-up ingridient-2">
        <div class="title-pop-up">
            <h2>ПРОФИЛЬ НАПИТКА ЧЕРНЫЙ КОФЕ</h2>
        </div>
        <div class="wrapper-pop-up clearfix">
            <div class="wrapper-img-pop">
                <img src="img/ingred-3-pop.jpg" alt="ingred">
            </div>
            <div class="wrapper-graf-pop">
                <img src="img/graf-pop-2.png" alt="graf">
                <div class="numb-graf">
                    <p>10</p>
                    <p>8</p>
                    <p>6</p>
                    <p>4</p>
                    <p>2</p>
                    <p>0</p>
                </div>
                <ul class="graf-info ul-right">
                    <li>Общая интенсивность
                        <br>аромата</li>
                    <li>Послевкусие</li>
                    <li>Общая интенсивность
                        <br> вкуса</li>
                    <li>Плотность</li>
                    <li>Кофейность</li>
                    <li>Неоднородный
                        <br>вкус</li>
                    <li>Степень обжаррки </li>
                    <li>Вяжущий вкус</li>
                    <li>Фруктовый аромат </li>
                    <li>Горчинка</li>
                    <li>Винный вкус</li>
                    <li>Кислинка</li>
                    <li>Резинистый вкус</li>
                    <li>Землитсый вкус</li>
                    <li>Переработанный вкус</li>
                </ul>
            </div>
        </div>
        <div class="wrapp-pop-info clearfix">
            <h2>NESCAFÉ® Alegria Intense</h2>
            <div class="pop-up-info ">
                <div class="content-info-pop">
                    <p>Nescafé® Alegria Intense – это смесь
                        <br> отборного обжаренного кофе
                        <br> с терпким, ярко выраженным
                        <br> вкусом, насыщенным ароматом
                        <br> и шоколадным послевкусием.</p>
                    <span class="plash-2">Идеально подходит для<br> приготовления эспрессо,<br> ристретто.</span>
                </div>
            </div>
            <div class="pop-up-ul">
                <div class="fortress">
                    <span>Крепость</span>
                    <img src="img/all-group-coffe.png" alt="coffe">
                </div>
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Упаковка
                    </div>
                    <div class="info-ops">
                        500г
                    </div>
                </div>
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Количество в коробе
                    </div>
                    <div class="info-ops">
                        12 шт.
                    </div>
                </div>
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Количество порций
                    </div>
                    <div class="info-ops">
                        185
                    </div>
                </div>
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Страна производитель
                    </div>
                    <div class="info-ops">
                        Франция
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="js-show-pop-up pop-up-button js-ingridients-show-more" data-pop-up="pop-up-offer">оставить заявку</a>
    </div>

    <div class="content-pop-up ingridient-3">
        <div class="title-pop-up">
            <h2>ПРОФИЛЬ НАПИТКА ЧЕРНЫЙ КОФЕ</h2>
        </div>
        <div class="wrapper-pop-up clearfix">
            <div class="wrapper-img-pop">
                <img src="img/ingred-2-pop.jpg" alt="ingred">
            </div>
            <div class="wrapper-graf-pop">
                <img src="img/graf-pop-3.png" alt="graf">
                <div class="numb-graf">
                    <p>10</p>
                    <p>8</p>
                    <p>6</p>
                    <p>4</p>
                    <p>2</p>
                    <p>0</p>
                </div>
                <ul class="graf-info ul-right">
                    <li>Цвет крема</li>
                    <li>Послевкусие</li>
                    <li>Плотность крема</li>
                    <li>Тепло</li>
                    <li>Количество крема</li>
                    <li>Вяжущий вкус</li>
                    <li>Густота крема</li>
                    <li>Горчинка</li>
                    <li>Общий аромат </li>
                    <li>Кислинка</li>
                    <li>Кофейность</li>
                    <li>Какао вкус</li>
                    <li>Степень обжарки</li>
                    <li>Резновый/землитсый вкус</li>
                    <li>Фруктовый вкус</li>
                </ul>
            </div>
        </div>
        <div class="wrapp-pop-info clearfix">
            <h2>NESCAFÉ® Alegria ULTRA</h2>
            <div class="pop-up-info ">
                <div class="content-info-pop">
                    <p>Nescafé® Alegria ULTRA – новый
                        <br> бленд кофе. Обладает прекрасным
                        <br> ароматом и хорошо
                        <br>сбалансированным вкусом.</p>
                    <span class="plash-3">Продукт российского производства.<br> Вкусовой профиль кофе разработан<br> с учетом предпочтений российских<br> потребителей.</span>
                </div>
            </div>
            <div class="pop-up-ul">
                <div class="fortress">
                    <span class="fortress">Крепость</span>
                    <img src="img/all-group-coffe.png" alt="coffe">
                </div>
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Упаковка
                    </div>
                    <div class="info-ops">
                        500г
                    </div>
                </div>
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Количество в коробе
                    </div>
                    <div class="info-ops">
                        6 шт.
                    </div>
                </div>
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Количество порций
                    </div>
                    <div class="info-ops">
                        185
                    </div>
                </div>
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Страна производитель
                    </div>
                    <div class="info-ops">
                        Россия
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="btn-rect js-show-pop-up pop-up-button js-ingridients-show-more" data-pop-up="pop-up-offer">оставить заявку</a>
    </div>

    <div class="content-pop-up ingridient-4">
        <div class="title-pop-up">
            <h2>Профиль напитка – Ванильный капучино</h2>
        </div>
        <div class="wrapper-pop-up clearfix center-img">
            <div class="wrapper-img-pop">
                <img src="img/ingridients-catalog-4.jpg" alt="ingred">
            </div>
        </div>
        <div class="wrapp-pop-info clearfix">
            <h2>NESCAFÉ® Alegria Cappuccino Vanilla</h2>
            <div class="pop-up-info ">
                <div class="content-info-pop">
                    <p>
                        Даже те, кто не является любителем кофе захотят попробовать этот восхитительный ванильный напиток с теплыми нотами ванили и ореха.
                    </p>
                </div>
            </div>
            <div class="pop-up-ul">
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Упаковка
                    </div>
                    <div class="info-ops">
                        1000г
                    </div>
                </div>
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Количество в коробе
                    </div>
                    <div class="info-ops">
                        10 шт.
                    </div>
                </div>
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Количество порций
                    </div>
                    <div class="info-ops">
                        50
                    </div>
                </div>
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Страна производитель
                    </div>
                    <div class="info-ops">
                        Австрия
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="btn-rect js-show-pop-up pop-up-button js-ingridients-show-more" data-pop-up="pop-up-offer">оставить заявку</a>
    </div>

    <div class="content-pop-up ingridient-5">
        <div class="title-pop-up">
            <h2>Профиль напитка – капучино</h2>
        </div>
        <div class="wrapper-pop-up clearfix center-img">
            <div class="wrapper-img-pop">
                <img src="img/ingridients-catalog-5.jpg" alt="ingred">
            </div>
        </div>
        <div class="wrapp-pop-info clearfix">
            <h2>NESCAFÉ® Alegria Full Dairy Creamer</h2>
            <div class="pop-up-info ">
                <div class="content-info-pop">
                    <p>
                        Легкое, низкокалорийное молоко,
                        <br> 1% жирности, легко взбивается в плотную пенку, придавая вашим напиткам мягкий молочный вкус и аромат.
                    </p>
                </div>
            </div>
            <div class="pop-up-ul">
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Упаковка
                    </div>
                    <div class="info-ops">
                        500г
                    </div>
                </div>
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Количество в коробе
                    </div>
                    <div class="info-ops">
                        12 шт.
                    </div>
                </div>
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Количество порций
                    </div>
                    <div class="info-ops">
                        50
                    </div>
                </div>
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Производитель
                    </div>
                    <div class="info-ops">
                        Швейцария
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="btn-rect js-show-pop-up pop-up-button js-ingridients-show-more" data-pop-up="pop-up-offer">оставить заявку</a>
    </div>

    <div class="content-pop-up ingridient-6">
        <div class="title-pop-up">
            <h2>Профиль напитка - шоколадный</h2>
        </div>
        <div class="wrapper-pop-up clearfix center-img">
            <div class="wrapper-img-pop">
                <img src="img/ingred-6-pop.jpg" alt="ingred">
            </div>
        </div>
        <div class="wrapp-pop-info clearfix">
            <h2>NESCAFÉ® Alegria Сacao Powder</h2>
            <div class="pop-up-info ">
                <div class="content-info-pop">
                    <p>
                        Шоколадный напиток с нежным сливочным вкусом и тонким ванильным ароматом с легкостью завоюет сердца самых требовательных любителей сладкого.
                    </p>
                </div>
            </div>
            <div class="pop-up-ul">
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Упаковка
                    </div>
                    <div class="info-ops">
                        1000г
                    </div>
                </div>
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Количество в коробе
                    </div>
                    <div class="info-ops">
                        10 шт.
                    </div>
                </div>
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Количество порций
                    </div>
                    <div class="info-ops">
                        50
                    </div>
                </div>
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Страна производитель
                    </div>
                    <div class="info-ops">
                        Франция
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="btn-rect js-show-pop-up pop-up-button js-ingridients-show-more" data-pop-up="pop-up-offer">оставить заявку</a>
    </div>



</div>
<div class="catalog-main-wrapper">
    <div class="navigation-wrapper container">
        <a href="#" class="js-show-category">Категории</a>
    </div>
    <div class="catalog-items container">
        <div class="catalog-menu">
            <ul>
                <li><a href="our-machines.html">Кофемашины</a></li>
                <li><a href="accompanying.html">Сопутствующие товары</a></li>
            </ul>
        </div>
        <div class="catalog-item matchHeight">
            <div class="item-wrapper">
                <img src="img/ingridients-catalog-1.jpg" alt="" class="item-img">

                <div class="catalog-machine-name">
                    NESCAFÉ® Alegria Delicate
                </div>
                <a href="#" class="btn-rect js-show-pop-up " data-pop-up="ingridient-info" data-info="ingridient-1">Подробнее</a>
            </div>
        </div>
        <div class="catalog-item matchHeight">
            <div class="item-wrapper">
                <img src="img/ingridients-catalog-2.jpg" alt="" class="item-img">

                <div class="catalog-machine-name">
                    NESCAFÉ® Alegria Intense
                </div>
                <a href="#" class="btn-rect js-show-pop-up " data-pop-up="ingridient-info" data-info="ingridient-2">Подробнее</a>
            </div>
        </div>
        <div class="catalog-item matchHeight">
            <div class="item-wrapper">
                <img src="img/ingridients-catalog-3.jpg" alt="" class="item-img">

                <div class="catalog-machine-name">
                    NESCAFÉ® Alegria Ultra
                </div>
                <a href="#" class="btn-rect js-show-pop-up " data-pop-up="ingridient-info" data-info="ingridient-3">Подробнее</a>
            </div>
        </div>


        <div class="catalog-item matchHeight">
            <div class="item-wrapper">
                <img src="img/ingridients-catalog-4.jpg" alt="" class="item-img">

                <div class="catalog-machine-name">
                    NESCAFÉ® Vanilloccino
                </div>
                <a href="#" class="btn-rect js-show-pop-up " data-pop-up="ingridient-info" data-info="ingridient-4">Подробнее</a>
            </div>
        </div>
        <div class="catalog-item matchHeight">
            <div class="item-wrapper">
                <img src="img/ingridients-catalog-5.jpg" alt="" class="item-img">

                <div class="catalog-machine-name">
                    NESCAFÉ® Alegria Dairy
                    <br> Сухое молоко
                </div>
                <a href="#" class="btn-rect js-show-pop-up " data-pop-up="ingridient-info" data-info="ingridient-5">Подробнее</a>
            </div>
        </div>
        <div class="catalog-item matchHeight">
            <div class="item-wrapper">
                <img src="img/ingridients-catalog-6.jpg" alt="" class="item-img">

                <div class="catalog-machine-name">
                    NESCAFÉ® Alegria Сacao
                    <br> Powder
                </div>
                <a href="#" class="btn-rect js-show-pop-up " data-pop-up="ingridient-info" data-info="ingridient-6">Подробнее</a>
            </div>
        </div>
    </div>
    <div class="container">
        <a href="#" class="js-scroll-top scroll-top-btn pull-right">Наверх</a>
    </div>
</div>

    <div class="section section-style geography static-footer">
        <footer id="footer" class="wrapper footer">
    <div class="container">
        <a href="#" class="foot-logo pull-right">
            <img src="img/foot-logo.png" alt="" class="desktop">
            <img src="img/white-logo.png" alt="" class="white-logo">
            <img src="img/footer-mob.png" alt="" class="tablet">
        </a>
        <nav class="menu">
            <ul>
                <li><a href="about.html">о нас</a></li>
                <li><a href="catalog.html">каталог</a></li>
                <li><a href="find-solution.html">подобрать решение</a></li>
                <li><a href="articles-static.html">статьи</a></li>
                <li><a href="http://www.nestle.ru/info/%D0%9A%D0%BE%D0%BD%D1%84%D0%B8%D0%B4%D0%B5%D0%BD%D1%86%D0%B8%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D1%81%D1%82%D1%8C%20%D0%B8%20%D1%83%D1%81%D0%BB%D0%BE%D0%B2%D0%B8%D1%8F%20%D0%B8%D1%81%D0%BF%D0%BE%D0%BB%D1%8C%D0%B7%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F" target="_blank">Политика конфиденциальности</a></li>
            </ul>
        </nav>
        <span class="copyright">© 2016 NESTLÉ Professional®</span>
    </div>
</footer>

    </div>


    <!-- <div id="page-body" class="page-body"> -->

    <!-- </div> -->


</div>


<!-- scripts
___________________________________________________________________________-->


<script src="js/libs.js"></script>
<script src="js/select2.full.min.js"></script>
<script src="js/common.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-filter.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/angular-animate.min.js"></script>

<script src="js/app.js"></script>

</body>
</html>
