<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8"/>
  <title>Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link rel="stylesheet" href="css/jquery.fullPage.css">
  <link rel="stylesheet" href="css/slick.css">
  <link rel="stylesheet" href="css/slick-theme.css">
  <link rel="stylesheet" href="css/owl.carousel.css">
  <link rel="stylesheet" href="css/formstyler.css">
  <link rel="stylesheet" href="css/select2.min.css">



  <link rel="stylesheet" href="css/jquery-ui.min.css">
  <link rel="stylesheet" href="css/jquery-ui.structure.min.css">
  <!-- <link rel="stylesheet" href="css/jquery-ui.theme.min.css"> -->

  <link rel="stylesheet" href="css/style.css"/>
  <script src="js/ie-detector.js"></script>
  <script src="js/modernizr.js"></script>
  <!--[if lte IE 9]><meta http-equiv="X-UA-Compatible" content="IE=edge"/><![endif]-->

  <!--
    <link rel="shortcut icon" href="favicon.ico"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content="">
    <meta name="robots" content="index,follow">
    <meta name="copyright" content="">
  -->

</head>
<body ng-app="App">
<div id="page-wrapper" class="page-wrapper">
    <div class="preloader">
    <div class="preloader-overlay"></div>
    <div class="spinner"></div>
</div>
<div class="pop-up message">
    <a href="#" class="close-pop-up"></a>
    <div class="pop-msg">
    </div>
</div>

    <header id="header" class="wrapper header section">
        <div class="header-menu">
    <div class="container">
        <a href="index.html" class="logo" title="Nestle">
            <img src="img/logo.png" alt="" width="184" height="80">
        </a>
        <nav class="menu">
            <ul>
                <li><a href="about.html">о нас</a></li>
                <li><a href="catalog.html">каталог</a></li>
                <li><a href="find-solution.html">подобрать решение</a></li>
                <li><a href="articles-static.html">статьи</a></li>
            </ul>
        </nav>
        <div class="right-wrap">
            <a href="#" class="cart js-show-pop-up" data-pop-up="pop-up-offer">
                <span>Оформить заказ</span>
            </a>
            <a href="#" class="phone js-show-pop-up" data-pop-up="callback">
                <span>Связаться с нами</span>
            </a>
        </div>
    </div>
</div>

        <div class="catalog-head-wrap item-detail-header">
</div>
    </header>
    <div class="overlay"></div>
<div class="pop-up pop-up-offer" ng-controller="offerController">
    <a href="#" class="close-pop-up"></a>
    <div class="form-wrapper">
        <div class="pop-up-title">
            Оформить предзаказ
        </div>
        <div class="pop-up-sub-title">
            Добро пожаловать в Nestlé Professional®!
            <br> Спасибо за проявленый интерес к нашему
            <br> комплексному кофейному решению.
            <br>
            <br> Пожалуйста, заполните форму, чтобы мы
            <br> могли связаться с Вами для обсуждения
            <br> деталей заказа.
            <br>
            <br> Если у Вас возникли вопросы, свяжитесь
            <br> с нами по телефону горячей линии
            <br>
            <b>8-800-200-7-200</b> или по электронной
            <br> почте <a href="mailto:contact@ru.nestle.com" target="_blank">contact@ru.nestle.com</a>
        </div>
        <form action="" class="offer-form" ng-submit="sendOffer()" name="offer">
            <div class="form-group town-select">
                <label for="">выберите страну<b>*</b></label>
                <select name="country" class="select-2-styler" data-placeholder="Выберите страну" ng-model="formData.city" select2-styler>
                    <option></option>
                    <option>Страна1</option>
                    <option>Страна2</option>
                    <option>Страна3</option>
                    <option>Страна4</option>
                </select>
            </div>
            <div class="form-group town-select">
                <label for="">выберите город<b>*</b></label>
                <select name="town" class="select-2-styler" data-placeholder="Выберите город" ng-model="formData.city" select2-styler>
                    <option></option>
                    <option>Москва1</option>
                    <option>Москва2</option>
                    <option>Москва3</option>
                    <option>Москва4</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">укажите кол-во порций, которое
                    <br> вы планируете подавать/
                    <br> сервировать в день</label>
                <div class="number-wrapper">
                    <div my-customer class="styler-wrapper"></div>
                </div>
            </div>
            <div class="form-group">
                <label for="">Выберите профиль вашего бизнеса</label>
                <select name="profile" class="styler" data-placeholder="Выберите профиль" ng-model="formData.profile" select-styler>
                    <option></option>
                    <option ng-repeat="profile in profiles" value="{{profile.id}}">{{profile.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Имя<b>*</b></label>
                <input type="text" class="input-style" name="firstName" ng-model="formData.firstname" required="required">
            </div>
            <div class="form-group">
                <label for="">фамилия<b>*</b></label>
                <input type="text" class="input-style" name="lastName" ng-model="formData.lastname" required="required">
            </div>
            <div class="form-group">
                <label for="">телефон<b>*</b></label>
                <input type="number" class="input-style" name="phone" ng-model="formData.phone" required="required">
            </div>
            <div class="form-group">
                <label for="">e-mail<b>*</b></label>
                <input type="email" class="input-style" name="email" ng-model="formData.email" required="required">
            </div>
            <div class="rules">
                <b>*</b>Обязательные поля для заполнения
            </div>
            <div class="form-group checkbox-rule">
                <input type="checkbox" id="checkbox" name="rules" ng-required="!formData.rules" ng-model="formData.rules">
                <label for="checkbox" class="checkbox-view"></label>
                <span class="agree-check">Соглагласен на обработку персональных данных <br>
                    в соответствии с политикой конфиденциальности</span>
            </div>
            <button type="submit" class="submit-form-btn">оформить заказ</button>
        </form>
    </div>
</div>


<div class="pop-up callback">
    <div class="callback-wrapper">
        <a href="#" class="js-close-pop-up callback-close ">
            <img src="img/callback-close.png" alt="">
        </a>
        <div class="callback-title">
            <span class="callback-title-wrap">связаться с нами</span>
        </div>
        <img src="img/callback-cup.png" alt="" class="callback-img">
        <div class="callback-main-text">
            <p>У Вас есть вопросы по установке машины NESCAFÉ® Professional, условиям <br> сотрудничества или Вам нужна помощь? Свяжитесь с нами любым удобным для Вас способом:</p>
            <p>Наш адрес: ООО «Нестле Россия», 115054 Россия Москва Павелецкая пл., д. 2, стр. 1</p>
            <p>Горячая линия по работе с клиентами: <b>8 800 200 7 200</b></p>
            <p>
                Если Вы хотите задать конкретный вопрос или получить разъяснение <br>
                по электронной почте,пожалуйста, свяжитесь с нами: <a href="mailto:contact@ru.nestle.com"><b>contact@ru.nestle.com</b></a></p>
        </div>
    </div>
</div>

    
<div class="item-detail-wrap">
    <div class="pop-up video">
        <a href="#" class="close-pop-up"></a>
    </div>
    <div class="half-side item-view">
        <div class="slider-for">
            <img src="img/item-slider-6_30.jpg" alt="">
            <img src="img/item-slider-6_30.jpg" alt="">
            <img src="img/item-slider-6_30.jpg" alt="">
            <img src="img/item-slider-6_30.jpg" alt="">
        </div>
        <a href="https://www.youtube.com/embed/bYl7N4U-JMI?rel=0&autoplay=1" class="js-show-pop-up show-video" data-pop-up="video">
            <span class="circle">
                360°
            </span>
            <b>круговой обзор</b> все в деталях
        </a>

        <div class="slider-nav">
            <div class="nav-items">
                <img src="img/nav-slider-1.jpg" alt="">
            </div>
            <div class="nav-items">
                <img src="img/nav-slider-2.jpg" alt="">
            </div>
            <div class="nav-items">
                <img src="img/nav-slider-3.jpg" alt="">
            </div>
            <div class="nav-items">
                <img src="img/nav-slider-4.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="half-side item-info">
        <div class="bread-crumbs">
            <ul>
                <li><a href="catalog.html">Каталог </a></li>
                <li><span>Кофемашины Nescafé Alegria®</span></li>
            </ul>
        </div>
        <div class="item-name">
            NESCAFÉ® Alegria 6/30
        </div>
        <div class="item-info-detail">
            Несмотря на скромные размеры, эта машина сочетает <br>
            в себе достаточно большой ассортимент напитков <br>
            и высокую скорость их приготовления. <br>
            Подходит для офисов, кафе, киосков <br>
            со средним объемом потребления.
        </div>
        <div class="characteristics">
            <ul>
                <li class="cups">
                    <b>Количество напитков:</b> 6 видов
                </li>
                <li class="water">
                    <b>Снабжение водой:</b> помпа или водопровод
                </li>
                <li class="sizes">
                    <b>Габариты (высота/ширина/длина:</b>54 x 47 x 30
                </li>
                <li class="weight">
                    <b>Вес (кг):</b> 20
                </li>
                <li class="powered">
                    <b>Питание:</b> 230 В/50 Гц
                </li>
                <li class="power">
                    <b>Потребляемая мощность:</b> 1,6 кВт
                </li>
            </ul>
        </div>
        <a href="#" class="offer-btn btn-rect js-show-pop-up" data-pop-up="pop-up-offer">заказать сейчас</a>

        <div class="social-sharing">
            <span>Поделиться</span>
            <a href="#" class="fb"><img src="img/item-fb-icon.png" alt=""></a>
            <a href="#" class="twiter"><img src="img/item-twiter-icon.png" alt=""></a>
            <a href="#" class="g+"><img src="img/item-g+-icon.png" alt=""></a>
        </div>
    </div>
</div>
<div class="other-slider">
    <div class="slider-title">
        Вам также может быть интересно
    </div>
    <div class="other-slider-wrapper">
        <div class="other-interesting-slider">
            <div class="other-item">
                <span class="newest">
                    Новинка
                </span>
                <img src="img/other-slider-1.jpg" alt="">
                <div class="other-item-name">
                    NESCAFÉ Alegria® 1060 E
                </div>
                <div class="other-item-category">
                    Accessories
                </div>
            </div>
            <div class="other-item">
                <img src="img/other-slider-2.jpg" alt="">
                <div class="price">$78</div>
                <div class="other-item-name">
                    NESCAFÉ Alegria® 8/30
                </div>
                <div class="other-item-category">
                    Accessories
                </div>
            </div>
            <div class="other-item">
                <img src="img/other-slider-3.jpg" alt="">
                <div class="price">$78</div>
                <div class="other-item-name">
                    NESCAFÉ Alegria® 430
                </div>
                <div class="other-item-category">
                    Кофемашина
                </div>
            </div>
            <div class="other-item">
                <img src="img/other-slider-4.jpg" alt="">
                <div class="price">$78</div>
                <div class="other-item-name">
                    Astoria gemma
                </div>
                <div class="other-item-category">
                    Профессиональная кофемашина
                </div>
            </div>
            <div class="other-item">
                <img src="img/other-slider-1.jpg" alt="">
                <div class="price">$78</div>
                <div class="other-item-name">
                    NESCAFÉ Alegria® 1060 E
                </div>
                <div class="other-item-category">
                    Accessories
                </div>
            </div>
            <div class="other-item">
                <img src="img/other-slider-2.jpg" alt="">
                <div class="price">$78</div>
                <div class="other-item-name">
                    NESCAFÉ Alegria® 1060 E
                </div>
                <div class="other-item-category">
                    Accessories
                </div>
            </div>
            <div class="other-item">
                <img src="img/other-slider-3.jpg" alt="">
                <div class="price">$78</div>
                <div class="other-item-name">
                    NESCAFÉ Alegria® 1060 E
                </div>
                <div class="other-item-category">
                    Accessories
                </div>
            </div>
            <div class="other-item">
                <img src="img/other-slider-4.jpg" alt="">
                <div class="price">$78</div>
                <div class="other-item-name">
                    NESCAFÉ Alegria® 1060 E
                </div>
                <div class="other-item-category">
                    Accessories
                </div>
            </div>
            <div class="other-item">
                <img src="img/other-slider-4.jpg" alt="">
                <div class="price">$78</div>
                <div class="other-item-name">
                    NESCAFÉ Alegria® 1060 E
                </div>
                <div class="other-item-category">
                    Accessories
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="section section-style geography static-footer">
        <footer id="footer" class="wrapper footer">
    <div class="container">
        <a href="#" class="foot-logo pull-right">
            <img src="img/foot-logo.png" alt="" class="desktop">
            <img src="img/white-logo.png" alt="" class="white-logo">
            <img src="img/footer-mob.png" alt="" class="tablet">
        </a>
        <nav class="menu">
            <ul>
                <li><a href="about.html">о нас</a></li>
                <li><a href="catalog.html">каталог</a></li>
                <li><a href="find-solution.html">подобрать решение</a></li>
                <li><a href="articles-static.html">статьи</a></li>
                <li><a href="http://www.nestle.ru/info/%D0%9A%D0%BE%D0%BD%D1%84%D0%B8%D0%B4%D0%B5%D0%BD%D1%86%D0%B8%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D1%81%D1%82%D1%8C%20%D0%B8%20%D1%83%D1%81%D0%BB%D0%BE%D0%B2%D0%B8%D1%8F%20%D0%B8%D1%81%D0%BF%D0%BE%D0%BB%D1%8C%D0%B7%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F" target="_blank">Политика конфиденциальности</a></li>
            </ul>
        </nav>
        <span class="copyright">© 2016 NESTLÉ Professional®</span>
    </div>
</footer>

    </div>
</div>

<script src="js/libs.js"></script>
<script src="js/select2.full.min.js"></script>
<script src="js/common.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-filter.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/angular-animate.min.js"></script>

<script src="js/app.js"></script>

</body>
</html>
