//*******************************************************************************************
//                                      Geography
//*******************************************************************************************
.geography
  //background url('../img/geography-bg.jpg') no-repeat
  //background-size cover
  position: relative
  .container-padding
    // padding-left: 326px
    padding-left: 343px;
    @media (max-width $screen-md-max),(max-height 850px )
      padding-left: 203px
    @media (min-width $screen-md-max) and (max-height 850px)
      padding-left: 277px
  .section-title
    color: #ffffff
    font-size: 48px
    margin-bottom: 50px
    letter-spacing: 1.5px
    &:before
      background #fff
      left: -146px
      top: 22px
    @media (max-width $screen-md-max),(max-height 850px )
      font-size 26px
      font-family: proximaNovaSemiBold
      letter-spacing: 0.5px;
      margin-bottom: 11px;
      &:before
        left: -73px;
  .section-sub-title
    color #fff
    font-size: 30px
    line-height: 37px;
    @media (max-width $screen-md-max),(max-height 850px )
      font-size 20px
      line-height 24px
      display: inline-block
      width: 332px;
      letter-spacing: 0.5px;
      br
        display: none
  .slider-wrap
    //padding-bottom 200px
    position: relative
    height: 100%

    .geography-items
      &:nth-child(2n+1)
        background: url("../img/geography-bg.jpg") 50% 50% / cover;
      &:nth-child(2n)
        background: url("../img/geography-bg-2.jpg") 50% 50% / cover;

    // img
    //   position: absolute;
    //   max-width: inherit;
    //   top: 0
    //   right: 0
    //   //bottom: 0
    //   left: 0
    //   margin auto
    //   transform scale(1.1)
    //   transition .2s ease
    //   transition-delay .5s
    //   @media (max-width $screen-md-max) and (max-height 650px)
    //     bottom 160px
    //     width: auto;
    //     height: 100%;
    .slick-slider
      margin-bottom: 0
      height: 100%
      .slick-list
        height: 100%
        .slick-track
          height: 100%
  .slider-footer
    //height: 100%
    .slick-dots
      //bottom: 50px
      bottom: 189px;
      li
        margin: 0 3px;
        button
          border:1px solid #fff
          border-radius 50%
          width: 13px
          height: 13px
          position: relative
          &:before
            width: 7px
            height: 7px
            border-radius 50%
            top: 0
            right: 0
            bottom: 0
            left: 0
            margin auto
            content ''
          @media (max-width $screen-md-max)
            width: 9px
            height: 9px
            padding: 3px;
            &:before
              width: 5px;
              height: 5px;
      li.slick-active
        button
          &:before
            background #fff
    .geography-items
      position: relative
      overflow: hidden;
      .section-wrap
        position: relative;
        z-index: 1;
        top: 50%;
        transform: translateY(-118%);
.ie-11,.ie-10,.ie-edge
  .footer
    max-height none
.footer
  background #74152a
  color: #fff
  position: absolute
  bottom: 0
  z-index: 30
  padding: 47px 0
  max-height 20%
  min-height: 169px;
  &.static
    position: relative
  @media (max-width $screen-md-max)
    min-height: 164px;
    min-height: 98px;
    padding: 20px 0 0px;
  .foot-logo
    margin-top: 2px;
    margin-right: -2px;
    @media (max-width $screen-md-max)
      margin-top: 0px;
      margin-right: -9px;
    @media (max-width: $screen-sm-max)
      margin-right: 14px;
    .desktop
      @media (max-width $screen-md-max)
        display none
      @media (min-width $screen-md-max) and (max-height 850px)
        display: none
    .white-logo
      display: none
      @media (min-width $screen-lg-min) and (max-height 850px)
        display: block
    .tablet
      display none
      @media (max-width $screen-md-max)
        display block
        position: relative;
        right: -16px;
        top: -1px;
  .menu
    @media (max-width $screen-md-max)
      margin-left: 10px;
    @media (min-width $screen-md-max) and (max-height 850px)
      margin-left: 8px
    ul
      list-style-type: none
      li
        display: inline-block
        &:not(:last-child)
          margin-right: 55px;
        &:nth-child(2)
          margin-right: 59px;
        &:nth-child(3)
          margin-right: 64px;
        &:nth-child(4)
          margin-right: 64px;
        a
          color: #fff
          font-family proximaNovaLight
          font-size: 22px
          line-height: 24px
          letter-spacing: 0.4px;
      @media (max-width $screen-md-max),(max-height 850px )
        margin-bottom 0
        li

          &:not(:last-child)
            margin-right: 27px;
          &:nth-child(2)
            margin-right: 30px;
          &:nth-child(3)
            margin-right: 33px;
          &:nth-child(4)
            margin-right: 33px;
          a
            font-size: 10px
            letter-spacing 0.7px

  .copyright
    font-size: 15px
    line-height: 25px
    color: #fff
    font-family proximaNovaRegular
    margin-top: 43px
    display: inline-block
    letter-spacing: 0.45px;
    @media (max-width $screen-md-max),(max-height 850px )
      font-size 8px
      margin-top 0
      margin-left: 9px;
      letter-spacing: 0.17px;
&.active
  .slider-wrap
    img
      transform: scale(1);
      transition: 1s ease;
      transition-delay: 1
