body
  // overflow: hidden !important;
  // overflow-y: visible !important;
  min-width 767px
.header
  background: #475254
  // overflow: hidden;
  z-index: 60;
  .slider
    .container
      position relative
  .header-menu
    position absolute
    top 0
    left 0
    margin 0 auto
    padding-top: 32px;
    z-index: 101;
    width 100%
    @media (max-width $screen-md-max)
        padding-top: 23px;
    .container
      position: relative
    .logo
      float: left

      @media (max-width $screen-md-max)
        img
          width 132px

    nav.menu
      display: inline-block
      margin-top: 40px;
      margin-left: 138px;
      ul
        li
          display: inline-block
          margin-right: 67px;
          // margin-right: 30px;
          a
            font-family: proximaNovaRegular
            text-decoration: none
            color: #fff
            text-transform: uppercase
            font-size: 19px
            letter-spacing: 0.8px;
            position relative

            &:before
              content: ''
              width 100%
              height 4px
              background: #fff;
              position absolute
              bottom: -16px;
              opacity 0
            &:hover
              &:before
                opacity: 1
                transition opacity .2s ease
            @media (max-width: 1600px)
              &:before
                height: 3px;
            @media (max-width: $screen-md-max)
              &:before
                height: 2px;
          &:nth-child(3)
            position: relative;
            left: -4px;
            margin-right: 64px;
            a
              letter-spacing: 1px;
            @media(max-width:$screen-md-max)
              margin-right: 38px;
              left: -6px;
              a
                letter-spacing: 0.6px;
      @media (max-width $screen-md-max)
        margin-top: 27px;
        margin-left: 50px;
        ul
          li
            margin-right: 44px;
            a
              font-size 13px
      @media (max-width $screen-sm-max)
        ul
          li
            margin-right: 27px;
            &:nth-child(3)
              margin-right: 23px;
    .right-wrap
      margin-top: 40px;
      margin-right: 0px;
      position: absolute
      right: 16px
      top: 0
      a
        display: inline-block
        overflow: hidden
        white-space: nowrap
        text-decoration: none
        transition-delay .1s
        position: relative
        &:nth-child(2)
          &:after
            content ''
            width: 1px
            height: 16px;
            background #fff
            position: absolute
            left: 0
            top: 2px
        span
          color: #fff
          font-size: 14px
          position: relative
          top: -5px
          font-family: proximaNovaRegular
          @media (max-width $screen-md-max)
            font-size: 10px;
            top: -4px;
      .cart
        padding-right: 18px
        width: 39px;
        height: 21px;
        &:before
          content: ''
          display: inline-block
          sprite($shopping_cart)
          margin-right: 12px;
          position: relative;
          left: 5px;
        &:hover
          width: 150px;
          transition .2s ease
        @media (max-width $screen-md-max)
          width: 27px;
          height: 15px;
          &:hover
            width 110px
          &:before
            background: url(../img/cart-mobile.png) no-repeat;
            background-position: 0 0;
            width 15px
            height 14px
      .phone
        padding-left: 16px
        position: relative
        right: 0
        width: 36px;
        height: 18px;
        top: -2px;
        &:before
          content: ''
          display: inline-block
          sprite($telephone)
          margin-right: 3px;
        &:hover
          width: 160px
          transition .2s ease
        @media (max-width $screen-md-max)
          padding-left: 11px;
          width: 28px;
          margin-left: 0px;
          height: 15px;
          &:hover
            width: 117px;
          &:before
            background: url(../img/phone-mob.png) no-repeat;
            background-position: 0 0;
            width 12px
            height 13px
      @media (max-width $screen-md-max)
        margin-top 29px
        right: 15px;
  &.black
    .header-menu
      .right-wrap
        a
          span
            color: #555757
          &:nth-child(2)
            &:after
              background #555757
        .cart
          &:before
            background: url(../img/cart-black.png) no-repeat;
          @media (max-width $screen-md-max)
            &:before
              background: url(../img/cart-mobile-black.png) no-repeat;
        .phone
          &:before
            background: url(../img/phone-black.png) no-repeat;
          @media (max-width $screen-md-max)
            &:before
              background: url(../img/phone-mob-black.png) no-repeat;
      nav.menu
        ul
          li
            a
              color: #555757
              &:before
                background: #555757
  .main-image
    height: 100%
    position relative
    .slider
      height 100%
      &:before
        content ''
        position: absolute
        background url('../img/half-bg.png');
        width: 275px
        height: 264px
        bottom: -108px;
        left: 254px;
        z-index: 105
      .item
        height: 100%
        width: 100%
        position: absolute
        left: 0
        top: 0
        .wrap
          width: 0%;
          height 100%
          overflow: hidden
          position: absolute
          left: 0
          right: 0
          margin: auto
        &.slick-active
          .wrap
            width: 100%
      .item.current
        .wrap
          width: 100%
          .slider-title
            opacity: 0
            -moz-animation movement-title 4s
            animation movement-title 4s
            animation-play-state reset;
      .item.animate
        .wrap
          transition 1s ease-in-out
          width: 100%
    .half
      width: 50%
      float: left
      height: 100%
      min-height: 1px
      position relative
      overflow: hidden
      background: #cacaca;
      //min-height 200%
      img
        position absolute
        top 0
        right 0
        bottom 0
        left 0
        //height 100%
        max-width none
        @media (max-height 600px)
          height 100% !important

        &.tablet
          display: none
        //@media (max-width: 1050px)
        //  &.tablet
        //    display: block
        //  &.desktop
        //    display: none
  .slick-slider .slick-list,
  .slick-slider .slick-track
    height: 100%
  .slick
    .slick-dots
      bottom: 15px
      //left: -50%;
      li
        width: 12px
        height: 12px
        button
          width: 12px
          height: 12px
          &:before
            content: ''
            color: #fff
            border: 1px solid #fff
            width: 12px
            height: 12px
            border-radius: 50%
        &.slick-active
          button
            &:after
              content: ''
              width: 6px
              height: 6px
              position: absolute
              background: #fff
              border-radius: 50%
              left: 50%
              top: 50%
  //.slick,
  //.slick-list
  //  height: 100%
  //  margin-bottom: 0
  //.slick-slide
  //  width: 100%
  //  height: 100%
  //  img
  //    max-width: inherit
  //    max-height: 100%
  //    height: 100%
  .slider-title
    position absolute
    display: inline-block
    left: 335px;
    width: 760px
    top: 28.6vh;
    z-index: 5
    // transform: translateX(-50%);
    opacity: 0
    .title
      text-transform: uppercase
      font-size: 85px
      color: #fff
      position: relative
      top: 0
      font-family: proximaNovaLight
      line-height: 84px
      letter-spacing 9px
      opacity: 1
    .sub-title
      margin-top: 34px;
      margin-left: 5px;
      letter-spacing: 0.7px;
      font-size: 26px
      line-height: 31px
      position: relative
      top: 0
      color: #fff
      font-family: proximaNovaThin
      opacity: 1


    @media (max-width: $screen-md-max)
      left: 199px;
      top: 25vh;
      .title
        font-size 50px
        line-height 54px
        letter-spacing: 6px;
      .sub-title
        font-size 18px
        letter-spacing: 0.5px;
        line-height 24px
        margin-top 17px
        margin-left: 2px;
    @media (max-width: 1298px)
      left: 198px;
    @media (max-width $screen-sm-max)
      left: 202px;
      .title
        font-size: 40px;
        line-height: 42px;
    @media (min-width $screen-md-max) and (max-height 850px)
      .title
        font-size: 60px
        line-height: 65px
      .sub-title
        font-size: 20px
        line-height: 26px
@-moz-keyframes movement-title {
  0 {
    opacity: 0
  }
    10% {
  opacity: 1
    }
  70% {
    opacity: 1
  }
  80% {
    opacity: 0
  }
}
@keyframes movement-title {
  0 {
    opacity: 0
  }
  10% {
    opacity: 1
  }
  70% {
    opacity: 1
  }
  80% {
    opacity: 0
  }
}

#fp-nav {
  z-index: 120;
  top: 50.7%;
  @media (max-width $screen-md-max){
    top: 49.2%;
  }
  ul {
    counter-reset: item;
    margin-left: 0;
    padding-left: 0;
    li {
      display: block;
      margin-bottom: 27px;
      margin-left: 41px;

      @media (max-width: 1600px) {
        margin-left: 2vw
      }
      @media (max-width $screen-md-max){
        margin-bottom: 11px;
      }
      span {
        &:after {
          text-align: left;
          display: inline-block;
          content: "0" counter(item);
          counter-increment: item;
          font-family: proximaNovaLight;
          width: 2em;
          color: #fff;
          opacity: 0.2;
        }
        @media (max-width $screen-md-max){
          &:after{
            font-size 10px
          }
        }
      }
      a {
        &.active {
          span {
            &:after {
              font-family: proximaNovaBold;
              opacity: 1;
            }
          }
        }
      }
    }
  }

  &.gold {
    ul {
      li {
        span {
          &:after {
            color: $darkGold
            opacity: 0.52
          }
        }
      }
    }
  }
}

.buttons
  position absolute
  bottom: 66px;
  text-align center
  width 100%
  z-index: 105;
  ul
    margin 0 auto
    li
      display inline-block
      width 13px
      height 13px
      margin: 0 5px;
      border 1px solid #fff
      border-radius 50%
      position: relative
      a
        display: block;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        &.active
          &:after
            content ''
            width 7px
            height 7px
            background #fff
            position absolute
            border-radius 50%
            left: 0
            right: 0
            top: 0
            bottom: 0
            margin auto
  @media (max-width: $screen-md-max)
    bottom: 28px;
    ul
      li
        width 9px
        height 9px
        a.active
          &:after
            width 5px
            height 5px

.scroll-icon
  position: absolute;
  left: 343px;
  bottom: 194px;
  z-index: 98;
  -webkit-animation: 2s mouse-move infinite;
  -moz-animation: 2s mouse-move infinite;
  -ms-animation: 2s mouse-move infinite;
  animation: 2s mouse-move infinite;
  &:before
    content ''
    position: absolute
    width: 11px
    height: 45px
    bottom: -55px
    left: 0
    right: 0
    margin auto
    background: url('../img/mouse-arrow.png') no-repeat;

  @media (max-width: $screen-md-max)
    transform: translateY(38px);
    left: 202px;
  @media (max-height 860px) and (min-width: $screen-md-max)
    transform: translateY(12vh);
  @media (max-width: $screen-md-max)
    img{
      width 15px
    }
    &:before
      background: url('../img/mouse-arrow-mob.png') no-repeat
      width 15px
      height: 32px;
      bottom: -43px;
      left: 3px;
@-moz-keyframes mouse-move {
  0% {
    bottom: 194px
  }
  50% {
    bottom: 170px
  }
  100% {
    bottom: 194px
  }
}
@-webkit-keyframes mouse-move {
  0% {
    bottom: 194px
  }
  50% {
    bottom: 170px
  }
  100% {
    bottom: 194px
  }
}

@keyframes mouse-move {
  0% {
    bottom: 194px
  }
  50% {
    bottom: 170px
  }
  100% {
    bottom: 194px
  }
}

.btn-container
  position relative

.container.relative
  position relative


#fp-nav.left
  left: 0;


body> container
  position relative
