body
	text-rendering: optimizeLegibility;
	text-rendering: geometricPrecision;

	font-smooth: always;
	font-smoothing: antialiased;

	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-webkit-font-smoothing: subpixel-antialiased;

.section-title
	font-family: proximaNovaBold
	font-size: 40px
	color: #2b2b2b
	line-height: 48px
	text-transform: uppercase
	position: relative
	&.left-line
		&:before
			content: ''
			position: absolute
			width: 121px
			height: 2px
			background: #000
			left: 17%
			top: 21px
			transform: translateX(4px)
	@media (max-width $screen-md-max),(max-height 850px )
		font-size 26px
		&.left-line
			&:before
				height 1px
				background: #979797
				width 58px

.section-sub-title
	font-family: proximaNovaLight
	font-size: 24px
	line-height: 24px
	color: #444443

.section-style
	//padding: 130px 0
	overflow: hidden
	position relative

.pull-left
	float: left

.pull-right
	float: right

.section-footer
	height: 69px
	background: rgba(171, 171, 171, .1)
	width: 100%
	position absolute
	bottom 0
	.section-logo
		margin-top: 14px
		display: inline-block
		margin-left: 317px
		width: 92px
		height: 40px
		background url('../img/section-logo.png');
		background-position -92px 0
		@media (max-width: 1600px)
			margin-left: 77px;
			margin-top: 6px;
		@media (max-width $screen-md-max),(max-height 850px )
			margin-top: 7px;
			background: url('../img/section-logo-mob.png');
			background-position: -53px 0
			width 53px
			height 23px
	.copyright
		font-family: proximaNovaRegular
		font-size: 15px
		color: #868686
		opacity: 0.51
		position: relative
		left: 13px
		top: 3px
		letter-spacing: 0.4px
	.links-section
		display: inline-block
		position: relative;
		bottom: 10px;
		left: 19px;

		a
			text-transform: uppercase
			font-family: proximaNovaRegular
			font-size: 14px
			line-height 14px
			opacity: 0.5
			color: #868686
			letter-spacing 0.4px
			padding 0 15px
		a + a
			border-left 1px solid #868686
	.right-image
		position: relative
		transition .2s ease
		right: 0
		&:before
			content: ''
			width: 427px
			height: 202px
			background: url("../img/find-solution.png") no-repeat
			position: absolute
			bottom: -41px
			right: -10px;
			z-index: 1
		&:after
			content: '';
			height: 68px;
			position: absolute;
			width: 100%;
			background: $darkGold;
			top 1px
			right: -53px;
			z-index: 0
		a
			position: relative
			color: #fff
			font-family: proximaNovaRegular
			font-size: 20px
			text-decoration: none
			top: 22px;
			right: 148px;
			letter-spacing: 0.3px
			z-index: 1
		@media (max-width $screen-md-max)  , (max-height 850px)
			&:after
				height: 40px;
		&:hover
			right: 15px
			transition .2s ease
	&.light
		background: rgba(171, 171, 171, .3)
		.section-logo
			background-position 0 0
		.copyright
			color: #fff
			opacity: 0.5
		.links-section
			a
				color #fff
			a + a
				border-left 1px solid #fff
	@media (max-width $screen-md-max),(max-height 850px )
		height: 41px;
		.links-section
			bottom: 5px;
			left: 26px;
			a
				font-size 8px
				padding 0 4px

		.right-image
			&:before
				width 242px
				height 123px
				bottom: -21px;
				background: url("../img/find-solution-mob.png") no-repeat
			a
				font-size 10px
				top: 10px;
				right: 87px;

.btn-rect
	border 2px solid #fff
	color: #fff
	text-decoration: none
	font-family: proximaNovaBold
	font-size: 15px
	text-transform: uppercase
	min-width 306px
	min-height 58px
	display: inline-block
	text-align: center
	padding-top: 16px;
	padding-left: 4px;
	letter-spacing: 3px;
	position: relative
	z-index: 1
	overflow: hidden

	&.dark-red
		border-color: $darkRed
		background: $darkRed
		color #fff



	&:after
		content '';
		position: absolute
		width: 110%
		height: 0%
		background $darkRed
		left: -5px
		top: -2px
		z-index: -1
		transition height .2s ease
	&:hover
		color: #fff
		text-decoration: none
		transition .2s ease
		border-color: $darkRed
	&:hover:after
		height 105%
		transition height .2s ease
	@media (max-width $screen-md-max),(max-height 850px )
		min-width 210px
		min-height 40px
		font-size 9px
		border-width: 1px
		padding-top: 13px;
		&:hover
			&:after
				height: 110%

//.section-wrap
//  position: absolute;
//  left: 0;
//  right: 0;
//  top: 50%;
//  transform: translateY(-60%);
//  z-index: 1;

.clearfix
	&::after
		content: "";
		display: table;
		clear: both;

.shadow
	box-shadow: 0px 0px 14.56px 1.44px rgba(0, 0, 0, 0.15);
