

.callback
    width 100%
    position absolute
    background #fff
    padding 2vw 0 3vw
    z-index: 150
    &:before
        content: 'nestle professional'
        font-family: proximaNovaBold
        color: #bea67c
        opacity: 0.07
        font-size 108px
        z-index 0
        text-transform uppercase
        text-align center
        left: 0
        right: 0
        top: 0
        bottom: 0
        position: absolute
        height: 220px;
        margin: auto;
        letter-spacing: 15px;
    &-wrapper
        width (1147*100/1920)%
        margin 0 auto
        opacity 0
        position relative
    &-title
        font-family proximaNovaLight
        font-size 12px
        color: #475254
        text-align center
        overflow hidden
        text-transform uppercase
    &-close
        position absolute
        display block
        top: -9px
        right: -65px
    &-title-wrap
        position relative
        padding: 0 4%
        letter-spacing: 1.5px
        &:before,&:after
            content ''
            background: #cccccc
            height 1px
            width 999px
            position absolute
            top 40%
        &:before
            transform translateX(-100%)
            left 0
        &:after
            transform translateX(100%)
            right 0
    &-img
        margin 2.5vw auto .9vw
        display block
        opacity 0
        transform: translateY(150px)
    &-main-text
        text-align center
        color #475254
        font-family proximaNovaLight
        font-size 16px
        line-height 23px
        letter-spacing: 2px
        transform: translateY(150px)
        opacity 0
        p
            margin-bottom 15px
            a
                color #475254
            b
                font-family proximaNovaBold
        @media (max-width 1500px)
            font-size: 13px
            line-height @line-height * 0.66
    &.active
        .callback-wrapper
            transition: .5s ease
            transition-delay: .5s
            opacity 1
        .callback-img
            transition: .5s ease
            transition-delay: .9s
            opacity 1
            transform: translateY(0px)
        .callback-main-text
            transition: .5s ease
            transition-delay: 1.2s
            opacity 1
            transform: translateY(0px)
