// Mixins
// --------------------------------------------------
vendors ?= official

percentage($n)
  if $n == 0
    0
  else
    unit($n * 100, "%")
// Layout
@import "mixins/clearfix"
@import "mixins/center-block"
@import "mixins/nav-vertical-align"
@import "mixins/grid-framework"
@import "mixins/grid"

letterA()
  &:before
    content: 'a'
    text-transform uppercase
    position absolute
    font-size 395px
    font-family proximaNovaBold
    color: $darkGold;
    letter-spacing: 16px;
    margin: auto;
    text-align: center;
    z-index: 1;
    opacity: 0.07;

letterN()

  &:before
    content: 'n'
    text-transform uppercase
    position absolute
    font-size 395px
    font-family proximaNovaBold
    color: $darkGold;
    letter-spacing: 16px;
    margin: auto;
    text-align: center;
    z-index: 1;
    opacity: 0.07;

nescafe()
  position relative
  &:before
    content: 'nescafe'
    text-transform uppercase
    position absolute
    font-size 209px
    font-family proximaNovaBold
    color: $darkGold;
    letter-spacing: 16px;
    margin: auto;
    text-align: center;
    z-index: 0;
    opacity: 0.07;
nestle()
  position relative
  &:before
    content: 'nestle'
    text-transform uppercase
    position absolute
    font-size 209px
    font-family proximaNovaBold
    color: $darkGold;
    letter-spacing: 16px;
    margin: auto;
    text-align: center;
    z-index: 0;
    opacity: 0.07;
alegria()
  position relative
  &:before
    content: 'alegria'
    text-transform uppercase
    position absolute
    font-size 209px
    font-family proximaNovaBold
    color: $darkGold;
    letter-spacing: 16px;
    margin: auto;
    text-align: center;
    z-index: 0;
    opacity: 0.07;
