
.about
  width: 100%;
  height: 100%;
  min-height: 100vh;
  z-index: 10;

  .btn-rect
    margin-top: 66px;
    min-width: 290px;
    margin-left: 8px;
    border-width: 1px;
    padding-top: 18px;
    padding-right: 6px;
    @media (max-width: 1400px),(max-height: 850px)
      padding-top: 15px;
      &:hover
        &:after
          height: 106%
    @media (max-width: 1400px)
      margin-top: 43px;
      min-width: 191px;
  .container
    position relative
  .btn-container
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

.about-slider
  width 100%
  height 100%
  position absolute
  z-index: 1;
  .about-slide
    width 100%
    height 100%
    &.slide-1
      background: url('../img/about-slide-1.jpg') no-repeat
      background-size cover
    &.slide-2
      background: url('../img/about-slide-2.jpg') no-repeat
      background-size cover
    &.slide-3
      background: url('../img/about-slide-3.jpg') no-repeat
      background-size cover
  .slick-dots
    bottom: 72px
    // bottom: 189px;
    li
      margin: 0 3px;
      button
        border: 1px solid #fff
        border-radius 50%
        width: 13px
        height: 13px
        position: relative
        &:before
          width: 7px
          height: 7px
          border-radius 50%
          top: 0
          right: 0
          bottom: 0
          left: 0
          margin auto
          content ''
        @media (max-width 1400px)
          width: 9px
          height: 9px
          padding: 3px;
          &:before
            width: 5px;
            height: 5px;
    li.slick-active
      button
        &:before
          background #fff

.about-title
  position absolute
  display: inline-block
  left: 339px;
  top: 295px;
  width: 760px
  z-index: 5
  .title
    text-transform: uppercase
    font-size: 85px
    color: #fff
    position: relative
    top: 0
    font-family: proximaNovaRegular
    line-height: 84px
    letter-spacing: 10px;
    opacity: 1
  .sub-title
    margin-top: 38px;
    margin-left: 7px;
    letter-spacing: 1.6px;
    font-size: 30px;
    line-height: 36px;
    position: relative;
    top: 0;
    color: #fff;
    font-family: proximaNovaThin
    opacity: 1
  @media (max-height: 850px)
    top: 25vh
  @media (max-width: $screen-md-max)
    left: 199px;
    top: 33vh;
    .title
      font-size: 54px;
      line-height: 54px;
      letter-spacing: 9px;

    .sub-title
      font-size: 21px;
      letter-spacing: 0.5px;
      line-height: 24px;
      margin-top: 26px;
      margin-left: 2px;
  @media (max-width: 1298px)
    left: 198px;
  @media (max-width $screen-sm-max)
    left: 198px;

.about-section
  background: url(../img/about-section-2.jpg) no-repeat;
  background-size: cover;
  position: relative
  letterA()
  &:before
    color #fff
    opacity: 0.09
    left: 147px;
    top: 0
  @media (max-width 1400px)
    &:before
      font-size: 271px;
      left: 83px;
  .btn-rect
    margin-top: 69px;
    min-width: 290px;
    margin-left: 5px;
    border-width: 1px;
    padding-top: 18px;
    padding-right: 6px;
    @media (max-width: 1400px), (max-height: 850px)
      padding-top: 15px;
    @media (max-width: 1400px)
      margin-top: 43px;
      min-width: 191px;
  .about-title
    left: 341px;
    top: 300px;
    transition 1s ease;
    .title
      font-size: 100px
      line-height: 100px;
      letter-spacing: 11.5px;
      @media (max-width: 1400px)
        font-size: 66px
        line-height: 66px;
        letter-spacing: 8px;
    .sub-title
      font-size 30px
      margin-top: 37px;
      letter-spacing: 1.46px;
      line-height: 36px;
      @media (max-width: 1400px)
        font-size: 18px;
        letter-spacing: 0.5px;
        line-height: 24px;
        margin-top: 23px;
    //@media (max-height: 850px)
    //  top: 27vh;
    @media (max-width: $screen-md-max)
      left: 199px;
      top: 30vh;
  &.active
    .about-title
      top: 216px;
      transition 1s ease;
      transition-delay .5s
      @media (max-height: 850px)
        top: 15vh
      @media (max-width: 1400px)
        top: 25vh

.footer-section
  //background: url(../img/about-section-3.jpg) no-repeat;
  //background-size: cover;
  position: relative
  overflow: hidden;
  letterN()
  &:before
    color #fff
    opacity: 0.1
    right: -80px;
    top: 80px;
  .btn-rect
    margin-top: 69px;
    min-width: 290px;
    margin-left: 5px;
    border-width: 1px;
    padding-top: 18px;
    padding-right: 6px;
    @media (max-width: 1400px), (max-height: 850px)
      padding-top: 15px;
      margin-top: 29px;
    @media (max-width: 1400px)
      margin-top: 43px;
      min-width: 191px;
  .about-title
    //left: 400px;
    top: 250px;
    transition 1s ease;
    .title
      line-height: 100px;
      letter-spacing: 11.5px;
      font-size: 100px;
      margin-bottom: 39px;
      @media (max-width: 1400px)
        line-height: 64px;
        font-size: 60px;
        margin-bottom: 0;
    .sub-title
      font-size 30px
      margin-top 32px
      letter-spacing: 1.7px;
      line-height: 36px;
      @media (max-width: 1400px)
        font-size: 18px;
        letter-spacing: 0.5px;
        line-height: 24px;
        margin-top: 30px;
    @media (max-height: 850px)
      top: 30vh;
    @media (max-width: $screen-md-max)
      left: 199px;
      top: 30vh;

.footer-wrapper.active
  .about-title
    top: 206px
    transition 1s ease;
    transition-delay .5s
    @media (max-height: 850px)
      top: 15vh
    @media (max-width: 1400px)
      top: 25vh

.about-content
  margin: 0 auto;
  @media (min-width 1600px)
    width 1478px
    padding: 0 24px 0 35px;
  @media (min-width 1150px) and (max-width: 1600px)
    width: 978px

.info-half
  float left
  width 50%
  box-sizing: border-box;
  @media (max-width: $screen-sm-max)
    float: none
    width: 100%

.first-info
  position: relative
  background #fff url('../img/logo-white-bg.jpg') 0px 589px no-repeat
  letterA()
  &:before
    left: 161px;
    top: -193px;
  .info-wrap
    margin-bottom: 224px;
    @media (max-width: 1400px)
      margin-bottom: 150px
    &:nth-child(2)
      margin-bottom: 210px;
      .text-wrap
        padding-left: 117px;
        padding-top: 0;
        margin-top: -10px;
        .text-title
          margin-bottom: 18px;
        .main-text
          line-height 36px
          letter-spacing: 1.3px;
    &:nth-child(3)
      margin-bottom: 180px;
      .text-wrap
        padding-left: 150px;
        padding-top: 32px;
        position: relative;
        left: 34px;
        .text-title
          margin-bottom: 18px;
        .main-text
          line-height 36px
          letter-spacing: 1.2px;
        .read-more
          margin-top: 31px;
          margin-left: 4px;
    @media (max-width: 1600px)
      .info-half
        padding: 0 15px;
    @media (max-width 1400px)
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3)
        margin-bottom: 150px
        .text-title
          font-size 32px
          line-height 32px
        .text-wrap
          .main-text
            font-size 18px
            line-height 24px
            br
              display none
    @media (max-width 1150px)
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3)
        .text-wrap
          padding: 0
      .text-title
        &:before
          display: none
    @media (max-width: $screen-sm-max)
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3)
        margin-bottom: 60px;

.detail-info-about
  //background: #fff;
  padding-top: 183px;
  padding-bottom 1px
  @media (max-width: 1400px)
    padding-top: 109px;
  @media (max-width: $screen-sm-max)
    padding-top: 50px;
  .text-wrap
    padding-left 180px
    padding-left: 179px;
    padding-top: 29px;
    .text-title
      font-size 48px
      color: #010101;
      text-transform uppercase
      font-family: proximaNovaBold
      position relative
      letter-spacing: 3.4px;
      margin-bottom: 14px;
      @media (max-width: 1400px)
        margin-top: 0;

      &.line
        &:before
          content: ''
          background: #000
          width 152px
          height 1px
          position absolute
          left: -176px;
          top: 23px;
        @media (max-width: 1400px)
          &:before
            width: 100px
            left: -116px
            top: 15px
    .main-text
      font-size 26px
      line-height 34px
      font-family proximaNovaLight
      color: #2a2a2a
      padding-left: 2px;
      letter-spacing: 1.2px;
      @media (max-width 1400px)
        font-size: @font-size*0.66
        line-height @line-height * 0.66
    .read-more
      font-family: proximaNovaBold
      font-size 14px
      text-transform uppercase
      text-decoration none
      position relative
      color: #000
      display inline-block
      margin-top: 33px;
      letter-spacing: 2.9px;
      margin-left: 4px;
      &:before
        content: ''
        background: $darkGold;
        height 2px
        width 44px
        position absolute
        bottom: -5px;
        left: 2px;
      &:after
        content: url(../img/gold-arrow.png)
        position relative
        left: 5px;
        top: -2px;
      @media (max-width: $screen-sm-max)
        margin-bottom: 37px;
        margin-top: 15px

.second-info
  position: relative
  background #fff url('../img/logo-white-bg.jpg') 0px 496px no-repeat
  padding-bottom: 169px;
  &:before
    content ''
    background: url(../img/about-cups.jpg)
    background-size cover
    width: 177 px
    height: 493px
    position: absolute
    left: 0
    top: 499px;
  @media (max-width: 1400px)
    &:before
      width: 116px
      height: 325px
      top: 330px
  @media (max-width: $screen-sm-max)
    &:before
      display: none
  .info-wrap
    &:nth-child(1)
      margin-bottom: 4px;
      .text-wrap
        padding-left: 112px;
        padding-top: 35px;
        position: relative;
        left: 68px;
        @media (max-width 1400px)
          padding-left: 66px
          padding-top: 23px
          left: 44px
      .text-title
        font-size 48px
        letter-spacing: 1.1px;
        margin-bottom: 19px;
        @media (max-width 1400px)
          font-size: @font-size*0.66
      .main-text
        line-height: 36px;
        @media (max-width 1400px)
          line-height @line-height * 0.66


    &:nth-child(2)
      margin-bottom: 80px;
    &:nth-child(4)
      .text-wrap
        padding-top: 0px;
        padding-left: 54px;
        position relative
        left: 125px;
        @media (max-width: 1400px)
          padding-left:@padding-left * 0.66
          left: 50px
        .text-title
          line-height 60px
          margin-bottom: 12px;
          &:before
            left: -179px;
            top: 26px;
          @media (max-width: 1400px)
            font-size: 32px;
            line-height: 32px;
        .main-text
          line-height: 36px;
          @media (max-width: 1400px)
            font-size: 18px;
            line-height @line-height * 0.66
    @media (max-width: 1600px)
      .info-half
        padding: 0px;
    @media (max-width 1150px)
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(4)
        .text-wrap
          padding: 0
        .text-title
          font-size 40px
          line-height 40px
        .main-text
          font-size 20px
          line-height 26px
          br
            display none
    @media (max-width 1150px)
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(4)
        // padding: 0
        margin-bottom: 20px;
        .text-title
          &:before
            display: none
    @media (max-width: $screen-sm-max)
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(4)
        margin-bottom: 60px;
  .list-work
    padding-left: 216px;
    .title-list
      font-size 30px
      color: #2a2a2a
      font-family: proximaNovaBold
      letter-spacing: 1.35px;
      margin-bottom: 57px;
      z-index: 1;
      position: relative;
      @media (max-width: 1400px)
        font-size: 20px
        margin-bottom: 37px
    .list-items
      padding-right 15px
      position relative
      font-size 26px
      letter-spacing: 1.3px;
      line-height 36px
      font-family: proximaNovaLight
      margin-bottom: 63px;
      @media (max-width: 1400px)
        font-size: 17px
        line-height: 20px
      &:before
        content: ''
        background: #850028
        width 13px
        height 13px
        border-radius: 50%;
        position absolute
        left: -44px;
        top: 8px;
      &:last-child
        position: relative;
        left: 30px;
    @media (max-width 1400px)
      padding-left: 132px;
      .list-items
        padding-right: 25px
        br
          display none
        &:before
          width: 8 px
          height: 8px
          left: -30px
      .list-items:last-child
        left 0
      .info-half
        //width 100%
        //float none
    @media (max-width 1150px)
      padding-left: 66px;
      .info-half
        width 100%
        float none
  .screen-title
    background: #faf8f5
    padding-top: 66px;
    padding-bottom: 68px;

    position: relative
    &:before
      content: ''
      background: url("../img/beans.png")
      background-size cover
      position: absolute
      width: 434px;
      height 260px
      left: 16px;
      right: 0px;
      top: -115px;
      margin: auto;
      z-index: 1
    @media (max-width 1500px)
      &:before
        width: 200px;
        height: 119px;
        top: -61px;
    .screen-title-wrap
      text-align center
      border 1px solid $darkGold
      font-family: proximaNovaLight
      font-size 36px
      line-height 43px
      position: relative;
      left: 30px;
      padding: 122px 0 118px;

      letterA()


      &:before
        left: -193px;
        top: -65px;
      &:after
        content url(../img/coffee-cup.png)
        position: absolute
        left: -114px;
        bottom: -47px;
      @media (max-width: 1400px)
        left: 0
        font-size: 24px;
        line-height: 32px;
        padding: 75px 0;
        &:after
          bottom: -144px;  
      span
        position: relative;
        left: 9px;
        letter-spacing: 1.5px;


.third-info
  //padding-top: 4px;/**/
  padding-bottom: 646px
  background: #fff;
  position: relative;
  @media (max-width: 1400px)
    padding-bottom: 470px;
    padding-top: 117px;
  .title
    font-family: proximaNovaBold
    font-size 48px
    line-height 56px
    text-align center
    text-transform uppercase
    position: relative;
    left: 16px;
    letter-spacing: 2.2px;
    margin-bottom: 128px;
    @media (max-width: 1400px)
      font-size: 32px;
      line-height: 38px;
      letter-spacing: 1.9px;
      margin-bottom: 87px;
  .info-grafic
    text-align center
    margin-bottom: 120px;
    position: relative
    @media (max-width:1400px)
      margin-bottom: 80px;
    .about-content
      &:before
        content ''
        background url(../img/left-cup.png)
        background-size: cover;
        position: absolute
        left: 0
        width: 306px
        height: 477px
        left: 50%
        transform: translateX(-311%);
        top: 0
      &:after
        //content url(../img/right-cup.png)
        content ''
        background url(../img/right-cup.png)
        background-size: cover;
        position: absolute
        //right: 0
        width: 342px
        height: 477px
        right: 50%
        transform: translateX(280%);
        top: 0
      @media (max-width: 1400px)
        &:before
          width: 195px;
          height: 299px;
          transform: translateX(-345%);

        &:after
          width: 213px;
          height: 302px;
          transform: translateX(316%);
      @media (max-width: $screen-sm-max)
        &:before, &:after
          top: 24%;
    .fact
      display inline-block
      width 415px
      height 415px
      border-radius: 50%
      color: #b0976a
      position relative
      margin: 0 79px;
      @media (max-width:1600px)
        margin: 0 26px;
      @media (max-width: 1400px)
        margin: 0px 60px;
        width: 272px;
        height: 272px;
        .fact-info-wrap
          font-size: 60px;
          span
            font-size: 19px;
      @media (max-width: $screen-sm-max)
        margin-bottom: 20px
      .fact-info-wrap
        text-align center
        position absolute
        left: -6px;
        right: 0;
        top 43%
        transform: translateY(-50%);
      &:nth-child(1)
        background: #f5f0e7
        font-size 87px
        font-family: proximaNovaBold
        span
          font-size 30px
          line-height 36px
          display block
          text-transform: uppercase
          font-family: proximaNovaLight
          letter-spacing: 1.1px;
          position: relative;
          left: 2px;
          @media (max-width: 1400px)
            font-size: 19px;
            margin-top: -6px;
      &:nth-child(2)
        border: 1px dashed #b0976a
        font-size 87px
        font-family: proximaNovaBold
        .fact-info-wrap
          top: 47%;
          left: -10px;
          letter-spacing: 3.5px;
        b
          font-size 40px
          font-weight 100
          position: relative
          left: 6px;
          text-transform: uppercase
          &:nth-of-type(2)
            font-size: 36px
        span
          letter-spacing: 1.4px;
          position: relative;
          left: 7px;
          font-size 30px
          line-height 36px
          display block
          text-transform: uppercase
          font-family: proximaNovaLight
          @media (max-width: 1400px)
            font-size: 19px;
            margin-top: 11px;
            line-height: 19px;
            top: -10px;
  .sub-title
    font-family: proximaNovaLight
    font-size 36px
    line-height 47px
    color: #2a2a2a
    text-align center
    margin-bottom: 180px;
    @media (max-width: 1400px)
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 100px
    @media (max-width: $screen-sm-max)
      br
        display: none

  .info-wrap
    &:nth-child(3)
      background url('../img/logo-white-bg.jpg') no-repeat;

    &:nth-child(4)
      margin-bottom: 163px;
      .text-wrap
        padding-left: 174px;
        padding-top: 44px;
        .text-title
          margin-bottom: 17px;
        .main-text
          line-height 36px
    &:nth-child(5)
      background: url("../img/alegria-bg.jpg") no-repeat 0 342px;
      background-size: 100%;
      /* margin-bottom: 178px; */
      padding-bottom: 178px;

      .text-wrap
        padding-left: 117px;
        padding-top: 14px;
        .text-title
          margin-bottom: 20px;
        .main-text
          line-height: 36px;
    &:nth-child(6)
      margin-bottom: 171px;
      .text-wrap
        padding-left: 174px;
        padding-top: 9px;
        .text-title
          margin-bottom: 20px;
        .main-text
          line-height: 36px;
    &:nth-child(7)
      margin-bottom: 193px;
      .text-wrap
        padding-left: 117px;
        padding-top: 81px;
        .text-title
          margin-bottom: 18px;
        .main-text
          line-height: 36px;
    &:nth-child(8)
      background: url("../img/logo-white-bg.jpg") no-repeat 0 202px
      background-size: 100%;
      @media (max-width:1400px)
        background url("../img/logo-white-bg.jpg") no-repeat 0 47%
        background-size: 100%;
    @media (max-width 1400px)
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7)
        .text-wrap
          padding-left: 114px
          padding-top: 29px
          .text-title
            font-size: 32px;
            line-height: 32px;

          .main-text
            font-size 17px
            line-height 28px
            br
              display none
    @media (max-width 1150px)
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7)
        .text-wrap
          .text-title
            font-size: 32px;
            line-height: 32px;
            &:before
              display: none
          .main-text
            font-size 17px
            line-height 28px
            br
              display none
    @media (max-width: $screen-sm-max)
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7)
        margin-bottom: 60px;
        padding-bottom: 0

.footer-sub-title
  text-align center
  font-family: proximaNovaLight
  font-size 36px
  line-height 44px
  color: #2a2a2a
  position relative
  letter-spacing: 1.3px;
  &.beans
    &:before
      content ''
      background: url(../img/beans-footer.png)
      background-size: cover;
      width: 229px
      height: 201px
      position: absolute
      left: -3px;
      right: 0;
      bottom: -322px;
      margin auto
  @media (max-width: 1400px)
    font-size: 24px;
    line-height: 30px;
    &.beans
      &:before
        width: 137px
        height: 132px
  &:nth-child(1)
    margin-bottom: 176px;
  &:nth-child(2)
    margin-bottom: 43px;
  &.underline
    &:after
      content: ''
      background: $darkGold;
      height 4px
      width 44px
      position absolute
      bottom: -97px;
      right: 0;
      left: 2px;
      margin: auto;

.detail-info-about
  display none

.alegria-bg
  padding-top 206px;
  background url(../img/alegria-bg.jpg) 0 155px no-repeat

.about-content
  .pull-right
    float: right
    @media (max-width: $screen-sm-max)
      float: none

.info-half
  @media (max-width: $screen-sm-max)
    img
      width: 100%;

.about-section, .footer-section
  .container
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;

.img-wrap-about
  img
    box-shadow: 0px 0px 14.56px 1.44px rgba(0, 0, 0, 0.15);

.about-new
  .bg-img
    position: absolute
    top: 0
    max-width: none
    width: 100%
    transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), opacity 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
    &.height
      width auto
      height: 110%
    &.width
      width 110%
      height auto
  .section
    height: 634px
    position: relative
    overflow: hidden
  .section-style
    //overflow: visible
  .geography .footer.static
    position: relative

.about-new
  .scroll-icon
    @media (max-height: 700px)
      display: none
      &:before
        display: none
  .fp-tableCell
    overflow: hidden;
    position: relative;
.img-wrap-about
  img
    @media (max-width 1400px)
      max-width: 90%;
    @media (max-width 1150px)
      max-width: 100%;
  &.pull-right
    @media (max-width 1400px)
      text-align: right
