body
  min-width: 767px

.articles
  .half-wrap
    &:nth-child(1)
      background: #832a39
    &:nth-child(2)
      background: url("../img/articles-header.jpg");
      background-size: cover;
  .articles-title
    position: absolute;
    display: inline-block;
    left: 339px;
    top: 256px;
    z-index: 5;
    .title
      text-transform: uppercase
      font-size: 85px
      color: #fff
      position: relative
      top: 0
      font-family: proximaNovaLight
      line-height: 87px
      letter-spacing: 6px;
      opacity: 1
    .sub-title
      margin-top: 48px;
      margin-left: 7px;
      letter-spacing: 1.4px;
      font-size: 26px;
      line-height: 33px;
      position: relative;
      top: 0;
      color: #fff;
      font-family: proximaNovaLight
      opacity: 1
    @media (max-height: 850px)
      top: 25vh
    .btn-rect
      margin-top: 77px;
      margin-left: 8px;
      min-width: 290px;
      border: 1px solid #fff;
      padding-top: 18px;
      padding-right: 10px;
      @media (max-width: 1400px),(max-height: 850px)
        margin-top 30px
        padding-top 15px
        min-width: 220px;
    @media (max-width: 1400px)

      top: 25vh;
      .title
        font-size: 54px;
        line-height: 54px;
        letter-spacing: 9px;
      .sub-title
        font-size: 21px;
        letter-spacing: 0.5px;
        line-height: 24px;
        margin-top: 26px;
        margin-left: 2px;
    @media (max-width: $screen-md-max)
      left: 199px;
    @media (max-width: 1298px)
      left: 198px;
    @media (max-width $screen-sm-max)
      left: 198px;
      .title
        font-size: 45px;
.bg-line
  position absolute
  left 0
  right 0
  margin: auto;
  @media (max-width: $screen-sm-max)
    display none
.main-articles-wrap
  padding-top: 106px;
  display none

  @media (max-width $screen-sm-max)
    padding-top 0
  section
    position relative
  .img-article
    @media (max-width 1400px)
      width: 40%;
  .articles-wrap
    @media (min-width 1358px)
      padding: 0 2px
  .articles-title
    font-family: proximaNovaBold
    font-size 48px
    line-height 56px
    color: #010101
    text-transform uppercase
    margin-bottom: 17px;
    position relative
    letter-spacing: 3.3px;
    @media (max-width: 1400px)
      font-size 28px
      line-height 33px
    .number-article
      font-family: proximaNovaBold
      font-size 60px
      color: $darkGold
      position absolute
      top: -4px;
      left: -83px;
      &:before
        content: ''
        background: url('../img/wheel-title.png') no-repeat
        position absolute
        top: 2px;
        left: -48px;
        width 46px
        height 47px
        display inline-block
      @media (max-width: 1400px)
        font-size 28px
        left: -33px;
        top: 0px;
        &:before
          width 26px
          height 27px
          background-size: cover
          left: -35px;
  .articles-sub-title
    font-family: proximaNovaLight
    font-size 26px
    line-height 36px
    color: #2a2a2a
    margin-bottom 10px
    padding-left 3px
    letter-spacing: 1.1px;
    @media (max-width: 1400px)
      font-size 16px
      line-height 21px
  .growth
    padding-top 5px
    margin-bottom: 383px;
    .bg-line
      left: -4px;
      top: 0px;
      @media (max-width 1500px)
        width: 58px;
    @media (max-width: 1400px)
      margin-bottom: 471px;

    nescafe()
    &:before
      left: 73px;
      right: 0;
      bottom: -312px;
      z-index -1
    .coffee-tree
      position: absolute;
      right: 50%;
      bottom: -477px;
      transform: translateX(240%);
    .articles-wrap
      margin-top: 205px;
      @media (max-width 1400px)
        margin-top 100px
      .articles-text
        padding-top: 75px;
        padding-left: 175px;
        @media (max-width: 1400px)
          padding-top 45px
          padding-left 105px
          .articles-title
            .number-article
              left -40px
  .selection
    margin-bottom: 59px;
    .bg-line
      left: -7px;
      right: 0;
      bottom: -138px;
      @media (max-width 1500px)
        width: 55px;
    .img-article
      margin-left: 34px;
    .articles-text
      padding-top: 101px;
      margin-right: -48px;

      .articles-title
        .number-article
          top: -6px;
          left: -94px;
      @media (max-width: 1400px)
        padding-top 60px
        margin-right: 28.8px
        .articles-title
          .number-article
            left: -31px;
            top 0
  .roasting
    // margin-bottom: 319px;
    padding-bottom: 319px;
    position relative

    alegria()

    &:before
      left: 129px;
      right: 0;
      top: 308px;
      z-index: -1;

    .img-article
      margin-right: -57px;
      @media (max-width: 1400px)
       width 30%
    .articles-text
      padding-top: 52px;
      padding-left: 272px;

      .articles-title
        .number-article
          top: -4px;
          left: -94px;
      @media (max-width: 1400px)
        padding-top 32px
        padding-left 163px
        .articles-title
          .number-article
            left -40px
            top 0
  .milling
    position relative
    margin-bottom: 181px;
    .bg-line
      top: -373px;
      left: -15px;
      @media (max-width 1500px)
        top: -296px;
        z-index: 1;
        left: -15px;
        width: 162px;
    .articles-wrap
      position relative
    .img-article
      margin-left: 34px;
    .articles-text
      padding-top: 92px;
      padding-right: 42px;

      .articles-title
        .number-article
          left: -93px;
      @media (max-width: 1400px)
        padding-top 55px
        padding-right 25px
        .articles-title
          .number-article
            left -40px
  .brewing
    margin-bottom: 41px;
    &:before
      content: 'n'
      text-transform uppercase
      position absolute
      font-size 395px
      font-family proximaNovaBold
      color: $darkGold;
      right: 50%;
      transform: translateX(262%);
      bottom 0
      letter-spacing: 16px;
      margin: auto;
      text-align: center;
      z-index: 1;
      opacity: 0.07;
    .img-article
      margin-right: 30px;
      @media (max-width: 1400px)
       width 30%
    .articles-text
      padding-top: 85px;
      padding-left: 272px;
      .articles-title
        .number-article
          top: -4px;
          left: -94px;
      @media (max-width: 1400px)
        padding-top 55px
        padding-left 100px
        .articles-title
          .number-article
            left -40px
            top 0
  .drying
    position relative
    margin-bottom: 88px;
    .coffee-img
      position absolute
      right 50%
      bottom: -90px;
      transform: translateX(1156%);
    .bg-line
      top: -35px;
      @media (max-width 1500px)
        width: 9px;
    .articles-wrap
      position relative
    .img-article
      margin-left: 34px;
      @media (max-width: 1400px)
       width 30%
    .articles-text
      padding-right: 36px;
      padding-top: 60px;

      .articles-title
        .number-article
          left: -73px;
      @media (max-width: 1400px)
        padding-right 21px
        padding-top 36px
        .articles-title
          .number-article
            left -40px
    .map-location
      font-family: proximaNovaLight
      font-size 18px
      line-height 20px
      color: $darkGold
      position absolute
      left: 35.1%;
      bottom: -48.3%;
      letter-spacing: 1px;
      @media (max-width 1500px)
        left: 40.1%;
        bottom: -32.3%;
    .vanila
      position: absolute;
      bottom: -753px;
      left: 50%;
      transform: translateX(-149.5%);
  .preparation
    margin-bottom: 41px;
    letterA()
    &:before
      left 0
      transform: translateX(41%);
      bottom: -388px;
      opacity: 0.13;
    .img-article
      margin-right: 30px;
      @media (max-width 1400px)
        width 30%
    .articles-text
      padding-top: 48px;
      padding-left: 273px;
      .articles-title
        margin-bottom: 19px;
        .number-article
          top: -4px;
          left: -84px;
      .articles-sub-title
        padding-left: 1px;
        letter-spacing: 1.2px;
      @media (max-width: 1400px)
        padding-top 28.8px
        padding-left 163px
        .articles-title
          .number-article
            left -40px
            top 0
.map-img
  display: block;
  position: absolute;
  left: 24px;
  right: 0;
  bottom: -452px;
  margin: auto;
  z-index: 1;
  &.drying
    left: 100px;
    bottom: -11px;
  @media (max-width 1400px)
    width 66%
    bottom: -368px;
    &.drying
      left: 0;
      bottom: 0;
.ie-11,.ie-10,.ie-edge
  .map-img
    bottom -1px
    margin-bottom: -452px
  .main-articles-wrap .drying
    margin-bottom 100px
.car-img
  position absolute
  left: -91px;
  bottom: -210px;
  @media (max-width 1400px)
    bottom: -159px;
    width: 30%;
.beans-girl
  position absolute
  right 50%
  transform: translateX(68%);
  bottom: 17px;


.articles-footer-img
  text-align center
  margin-top: 70px;
  margin-bottom: 76px;



.articles-list
  &-wrap
    @media (min-width 1400px)
      width: 1393px;
      padding 0
  .list
    margin-bottom: 86px;
    @media (max-width 1400px)
      margin-bottom 40px
  .title-list
    font-family: proximaNovaBold
    text-transform uppercase
    font-size 48px
    line-height 60px
    color: #010101
    position relative
    letter-spacing: 3.3px;
    margin-bottom: 41px;
    @media (max-width 1400px)
      font-size 28px
    &.line
      padding-left: 192px;
      &:before
        content: ''
        height 1px
        width 151px
        background: #000
        position absolute
        left: 12px;
        top: 47%;
  .article
    padding: 0 15px;
    float left
    width 50%
    text-align center
    margin-bottom: 20px;

    .border-wrap
      border: 1px solid #c6c6c6
      height 100%
      border-top: none
      position relative
      padding-top: 76px;
      padding-bottom: 526px;
      @media (max-width 1500px)
        padding-bottom: 450px;
      @media (max-width $screen-md-max)
        padding-bottom: 320px;
      @media (max-width $screen-sm-max)
        padding-bottom: 250px;
        padding-top: 30px;
      .img-wrap
        display: block;
        width: 575px;
        height: 391px;
        position absolute
        left 0
        right 0
        bottom 50px
        margin: auto;
        @media (max-width 1400px)
          bottom 30px
        img
          box-shadow: 0px 0px 14.56px 1.44px rgba(0, 0, 0, 0.15);
        @media (max-width 1400px)
          width 90%
          height: auto;
      .top-border-wrap
        position: absolute;
        top: -10px;
        width: 100%;
        overflow-x: hidden;
        height: 25px;
        .date
          color: #6e6e6e
          font-family: proximaNovaRegular
          font-size 14px
          position absolute
          left 0
          right 0
          margin: auto;
          width 160px
          text-align center
          text-transform uppercase
          color: #6e6e6e
          &:before
            content: ''
            background: #c6c6c6
            height 1px
            width 999px
            position absolute
            transform: translateX(-100%);
            left 0
            top 10px
          &:after
            content: ''
            background: #c6c6c6
            height 1px
            width 999px
            position absolute
            transform: translateX(100%);
            right  0
            top 10px
      ////////////////////

      .title-article
        font-family: proximaNovaBold
        color: #010101
        font-size 30px
        line-height 35px
        display block
        padding: 0 7%;
        text-transform uppercase
        margin-bottom: 20px;
        letter-spacing: 2px;
        @media (max-width 1400px)
          font-size 18px
          line-height 21px
      .article-preview
        font-family: proximaNovaLight
        font-size 24px
        line-height 34px
        padding: 0 7%;
        letter-spacing: 1px;
        @media (max-width 1400px)
          font-size 15px
          line-height 20px
.show-more-btn
  color: #c8a87b
  border: 1px solid #c8a87b
  border-radius: 64px
  display block
  width 283px
  height 64px
  margin: 0 auto;
  text-transform uppercase
  font-family: proximaNovaBold
  font-size 14px
  line-height 64px
  text-align center
  letter-spacing: 2.8px;
  position: relative;
  padding-right: 42px;
  padding-top: 2px;
  margin-bottom: 113px;
  background: #fff
  cursor pointer

  &:after
    content: ''
    background: url('../img/arrow-circle.png') no-repeat
    position absolute
    top: 15px;
    right: 43px;
    width 27px
    height 33px



.about-coffee
  position relative
  margin-top: 152px;
  &.noMargin
    margin-top 0
  nestle()
  &:before
    left 0
    right 0
    bottom: 0px;
  &:after
    content: 'n'
    text-transform uppercase
    position absolute
    font-size 395px
    font-family proximaNovaBold
    color: $darkGold;
    right: 50%;
    transform: translateX(340%);
    bottom: -198px;
    letter-spacing: 16px;
    margin: auto;
    text-align: center;
    z-index: 1;
    opacity: 0.07;


.preloader
  .overlay-api
    position: fixed
    width: 100%
    height: 100%
    background: #000
    opacity 0.5
    z-index: 1000
    display: none

.bean-animation,.bean-animation-2,.bean-animation-3
  position absolute
  left 0
  right 0
  margin: auto;
  z-index 10
  transition: 1s ease
.bean-animation
  width 77px
  transform: translateY(0);

.bean-animation-2,.bean-animation-3
  width 69px

.bean-animation-2
  transform: translateY(0);
  // opacity 0
  // margin-top: 500px;
.bean-animation-3
  &.visible
    opacity 1

// .st2,.st3,.st4
//   display none
//   stroke-dasharray: 1000;
//   stroke-dashoffset: 1000;
//   animation: dash 5s linear alternate infinite;


.svg-ship
  width: 806px;
  height: 251px;
  position: absolute;
  right: 50%;
  transform: translateX(90%);
  bottom: 75px;
  @media (max-width: 1500px)
    height @height * 0.66%;
    width @width * 0.66;

.svg-map
  width: 1099.3px;
  height: 558.7px;
  position: absolute;
  left: 50%;
  /* right: 0; */
  bottom: -491px;
  transform: translateX(-50%);
  z-index 1
  @media (max-width: 1500px)
    height @height * 0.66%;
    width @width * 0.66;
    bottom -430px;


.svg-girl
  width: 961.9px;
  height: 268.6px;
  position: absolute;
  right: 50%;
  -webkit-transform: translateX(68%);
  transform: translateX(104%);
  bottom: 5px;
  @media (max-width: 1500px)
    height @height * 0.66%;
    width @width * 0.66;
.svg-car
  width 412px
  height 203px
  position: absolute;
  left: -91px;
  bottom: -210px;
  @media (max-width: 1500px)
    height @height * 0.66%;
    width @width * 0.66;
.svg-map-bottom
  width 1034px
  height 365px
  // bottom: 225px;
  // left: -14px;
  // right 0
  margin: 0 auto;
  display: block;
  // position absolute
  margin-bottom: 228px;
  @media (max-width: 1500px)
    height @height * 0.66%;
    width @width * 0.66;
svg
  &.fill
    path
      fill $darkGold
      transition: .2s
  path
    fill: #fff;
    stroke: $darkGold;
    stroke-width: 1.5;
    transition: .2s


.articles-loop
    padding-top: 120px
    @media (max-width: 1500px)
        padding-top: 60px
    .ng-enter
      -webkit-transition: 1s;
      transition: 1s;
      opacity: 0
      //margin-left: 100%;

    .ng-enter-active
      //margin-left: 0;
      opacity: 1

    .ng-leave
      -webkit-transition: 1s;
      transition: 1s;
      margin-left: 0;

    .ng-leave-active
      margin-left: 100%;

    .ng-move
      -webkit-transition: 1s;
      transition: 1s;
      background: gold;

    .ng-move-active
      background: #fff;
