articleWrapper = 1366
articleTextWidth = 833
breakpointArticle = 1359

.article-body
  padding-top 142px
  padding-bottom 164px

  @media (max-width (breakpointArticle)px)
    padding-top: @padding-top*0.66
    padding-bottom: @padding-bottom*0.66
.article-wrap
  padding 0
  position relative
  margin-bottom: 40px;

  @media (min-width (breakpointArticle)px)
    width (articleWrapper)px
    margin-bottom: 89px;
  &:first-child
    letterA()
    &:before
      top: -35px;
      left: 50%;
      transform: translateX(-297%);
  &.nescafe-bg
    nescafe()
    &:before
      left: 12%;
      right: 0;
      top: -17%;
.article-title
  font-size 36px
  font-family: proximaNovaBold
  line-height 44px
  color #010101
  text-transform uppercase
  letter-spacing: 2.25px;
  margin-bottom: 40px;
  position relative
  &.line
    &:before
      content: ''
      position absolute
      width 150px
      height 1px
      background: #000
      top: 19px;
      left: -179px;
  @media (max-width (breakpointArticle)px)
    font-size 22px
    line-height 26px
    margin-bottom 24px
.article-text
  font-family: proximaNovaLight
  font-size 26px
  line-height 36px
  color: #2a2a2a
  letter-spacing: 0.4px;
  b
    font-family: proximaNovaBold
  @media (max-width (breakpointArticle)px)
    font-size 16px
    line-height 22px
  @media (max-width $screen-sm-max)
    br
      display none
.right-img-wrapper
  .article-text-wrapper,.article-img-wrapper
    float left
  .article-text-wrapper
    width (articleTextWidth)px
    padding-left 180px
    @media (max-width (breakpointArticle)px)
      width (articleTextWidth*0.6)px
      padding-left 108px
    @media (max-width $screen-sm-max)
      width 50%
  .article-img-wrapper
    width (articleWrapper - articleTextWidth)px
    position relative
    .img-wrapper
      width 274px
      height 388px
      float right
      position: relative;
      margin-top: 82px;
      margin-right: 56px;
      &:before
        content: ''
        position absolute
        border: 1px solid $darkGold
        width: 98.6%;
        height: 96.5%;
        top: -7.8%;
        left: -12.5%;
      @media (max-width (breakpointArticle)px)
        width @width*0.66
        height: @height*0.66
        margin-top @margin-top*0.66
        margin-right @margin-right*0.66
    @media (max-width (breakpointArticle)px)
      width ((articleWrapper - articleTextWidth)*0.6)px
    @media (max-width $screen-sm-max)
      width 50%
  &.extra-padding
    .article-text-wrapper
      padding-left 97px
      @media (max-width (breakpointArticle)px)
        padding-left 58px
      .article-title
        position: relative;
        left: 83px;
        @media (max-width (breakpointArticle)px)
          left @left*0.66
      .article-text
        padding-left 84px
        @media (max-width (breakpointArticle)px)
          padding-left @padding-left*0.66
.article-list
  list-style-type none
  li
    font-family: proximaNovaRegular
    font-size 26px
    line-height 36px
    position relative
    letter-spacing: 1.2px;
    margin-bottom: 38px;
    @media (max-width (breakpointArticle)px)
      font-size @font-size*0.66
      line-height @line-height*0.66
      margin-bottom  @margin-bottom*0.66
    span
      position absolute
      top: 5px;
      left: -51px;
      display block
      width 23px
      height 23px
      border: 2px solid $darkGold
      border-radius: 50%
      &:before
        content: ''
        background: $darkGold
        width 9px
        height 9px
        position absolute
        border-radius: 50%
        top 0
        bottom 0
        left 0
        right 0
        margin: auto;
      @media (max-width (breakpointArticle)px)
        left @left*0.66
        width 15px
        height 15px
        &:before
          width 7px
          height 7px
    &:first-child
      font-family: proximaNovaSemiBold
.left-img-wrapper
  .article-text-wrapper,.article-img-wrapper
    float left
  .article-text-wrapper
    width (articleWrapper/2)px
    @media (max-width (breakpointArticle)px)
      width: @width*0.66
      padding-left: 80px;
    @media (max-width $screen-sm-max)
      width 50%
  .article-img-wrapper
    width (articleWrapper/2)px
    position relative
    @media (max-width (breakpointArticle)px)
      width @width*0.66
    @media (max-width $screen-sm-max)
      width 50%
    .img-wrapper
      float: left;
      margin-top: 129px;
      margin-left: 2px;
      position relative
      &:before
        content: ''
        position absolute
        border: 1px solid $darkGold
        width: 94.6%;
        height: 91.5%;
        top: 4.3%;
        left: -7.7%;
      @media (max-width (breakpointArticle)px)
        margin-top  @margin-top*0.66
        margin-left 0
.grey-info-section
  background: #f2f2f2
  padding: 43px 53px 48px;
  margin-bottom: 100px;
  @media (max-width (breakpointArticle)px)
    margin-bottom @margin-bottom*0.66
  &.nescafe-bg
    nescafe()
    &:before
      top: 32%;
      left 0
      right 0
  .border-wrap
    border: 1px solid $darkGold
    padding: 85px 85px 108px;
    position relative
    .right-img,.left-img
      position absolute
      @media (max-width (breakpointArticle)px)
        transform: scale(0.66);
      @media (max-width $screen-sm-max)
        display none
    .right-img
      top: 22.1%;
      right: 8%;
      @media (max-width (breakpointArticle)px)
        top @top*0.66
        right @right*0.66
    .left-img
      top: 38%;
      left: 7.7%;
      @media (max-width (breakpointArticle)px)
        top @top*0.66
        left @left*0.66
  .info-section-title
    font-size 36px
    font-family: proximaNovaBold
    line-height 44px
    color #010101
    text-transform uppercase
    margin-bottom: 44px;
    letter-spacing: 2.25px;
    @media (max-width (breakpointArticle)px)
      font-size @font-size*0.66
      line-height @line-height*0.66
      margin-bottom @margin-bottom*0.66
  .info-section-text
    font-family: proximaNovaRegular
    font-size 26px
    line-height 36px
    color: #2a2a2a
    letter-spacing: 0.4px;
    padding: 0 50px
    margin: 0 auto;
    max-width: 59%;
    @media (max-width (breakpointArticle)px)
      font-size @font-size*0.66
      line-height @line-height*0.66
      padding: 0;
    @media (max-width $screen-sm-max)
      max-width: 100%
  &.second-info-article
    text-align center
    padding 154px 0
    margin-bottom: 131px;
    nestle()
    &:before
      top: 17%;
      left: -4%;
      right 0
    @media (max-width (breakpointArticle)px)
      padding @padding*0.66
      margin-bottom @margin-bottom*0.66
    @media (max-width $screen-sm-max)
      padding 10px
    .info-item
      display inline-block
      text-align: left;
      vertical-align: bottom;
      &-img
        float: left;
        @media (max-width (breakpointArticle)px)
          transform: scale(0.66);
      &-text
        font-family: proximaNovaRegular
        font-size 26px
        line-height 30px
        color: #2a2a2a
        display inline-block
        padding: 18px 50px;
        letter-spacing: 1.5px;
        @media (max-width (breakpointArticle)px)
          font-size @font-size*0.66
          line-height @line-height*0.66
          padding 30px 15px 0
      &:first-child
        margin-left: 107px;
        @media (max-width (breakpointArticle)px)
          margin-left 0
      &:last-child
        margin-left: 46px;
        &-text
          padding: 34px 46px;
          @media (max-width (breakpointArticle)px)
            padding 50px 15px 0
        @media (max-width (breakpointArticle)px)
          margin-left 0
.last-article-info
  .article-img-wrapper
    .img-wrapper
      margin-top: 17px;
  .article-text
    letter-spacing: 1.5px;

.third-info-article
  @media (max-width (breakpointArticle)px)
    margin-bottom 40px
  .article-title
    margin-bottom: 58px;
    @media (max-width (breakpointArticle)px)
      margin-bottom @margin-bottom*0.66


.article-beans
  position absolute
  bottom: -46%;
  right: 18%;
