.calculation-container
	padding: 0
	@media (min-width 1500px)
		width 1376px

.calculation
	.page-body
		background: #f2f2f2
		position relative
	.item-detail-header
		background: #fff

.main-calculation-wrap
	// position relative
	.steps
		position absolute
		top: 80px
		left 0
		right 0
		margin: auto
		z-index: 1
		@media (max-width 1500px)
			top: @top * 0.66 // top: 15px
		.step
			float left
			position relative
			overflow hidden
			.step-text
				position relative
				top: 9px
			&:not(:last-child)
				width 43%
				@media (max-width 1500px)
					width 40%
				.step-text
					&:before
						content: ''
						position absolute
						height 3px
						width 500px
						background: $darkGold
						transform: translateX(100%)
						right 0
						top 9px
					@media (max-width: 1500px)
						&:before
							height 1px
							top: 3px
			&:nth-child(2)
				width: 38.2%
				@media (max-width 1500px)
					width 37%
			&:last-child
				width (100 -(43 + 38.2)) %
				@media (max-width 1500px)
					width 23%
					white-space: nowrap
			.number
				width 39px
				height 39px
				display inline-block
				font-family: proximaNovaBold
				color: $darkGold
				border: 2px solid $darkGold
				border-radius: 50%
				text-align center
				font-size 14px
				line-height 35px
				padding-top: 1px
				@media (max-width 1500px)
					width: @width * 0.66
					height: @height * 0.66
					font-size: @font-size * 0.66
					line-height @line-height * 0.66
					border: 1px solid $darkGold
			.step-text
				font-family: proximaNovaRegular
				font-size 17px
				color: $darkGold
				text-transform uppercase
				padding: 0 10px 0 21px
				top: 2px
				letter-spacing: 0.7px
				@media (max-width 1500px)
					font-size @font-size * 0.66
					padding: 0 10px 0 37px
	.activeStep1
		.step-1
			color: $darkRed
			.number
				background: $darkRed
				border-color: $darkRed
				color: #fff
			.step-text
				color: $darkRed
	.activeStep2
		.step-1
			.number
				color transparent
				position relative
				&:before
					content: ''
					background: url(../img/check-arrow.png) no-repeat
					position absolute
					top 0
					left 0
					right 0
					bottom 0
					margin: auto
					width 15px
					height 11px
					@media (max-width 1500px)
						width: 12px
						height: 8px
						background-size: cover
		.step-2
			color: #fff
			.number
				background-color: #fff
				border-color: #fff
				color: $darkRed
			.step-text
				color: #fff
	.activeStep3
		.step-1, .step-2
			.number
				color transparent
				position relative
				&:before
					content: ''
					background: url(../img/check-arrow.png) no-repeat
					position absolute
					top 0
					left 0
					right 0
					bottom 0
					margin: auto
					width 15px
					height 11px
					@media (max-width 1500px)
						width: 12px
						height: 8px
						background-size: cover
		.step-3
			color: #fff
			.number
				background-color: $darkRed
				border-color: $darkRed
				color: #fff
			.step-text
				color: $darkRed
	.calculation-step-1
		background: #f2f2f2
		letterA()
		&:before
			left: 0
			right: 33%
			top: 4%
			z-index: 0
		.container
			position relative
		.step-img
			position: absolute
			top: 24%
			right: 0
			left: 33%
			margin: auto
			@media (max-width 1500px)
				transform: scale(0.68)
				top @top * 0.66
				left @left * 0.9
		.guests
			font-family: proximaNovaRegular
			font-size 25px
			line-height 26px
			color: #5a5a5b
			margin-bottom: 56px
			letter-spacing: 1.2px
			display: block
			@media (max-width 1500px)
				font-size @font-size * 0.66
				margin-bottom @margin-bottom  * 0.66
				line-height @line-height * 0.66
		.bread-crumbs
			margin-bottom: 26px
			@media (max-width 1500px)
				margin-bottom @margin-bottom  * 0.66
			ul
				list-style-type: none
				li
					display: inline-block
					&:not(:last-child)
						&:after
							content '>'
							display: inline-block
							color $darkGold
							margin-left: 5px
							@media (max-width 1500px)
								font-size: 9px
					a, span
						color $darkGold
						@media (max-width 1500px)
							font-size: 9px

.control-container
	position absolute
	background: #c4c4c6
	bottom: 74px
	left: 0
	right: 0
	margin: auto
	padding: 18px 22px
	margin: auto
	@media (max-width 1500px)
		bottom @bottom * 0.66
		padding: 12px 14px
	.btn-rect
		border-width: 1px
		padding-top 18px
		@media (max-width $screen-md-max)
			padding-top: 14px
	.prev-step
		float left
		min-width: 236px
		@media (max-width 1500px)
			min-width @min-width * 0.66
	.next-step
		float right
		min-width 329px
		color: #fff
		@media (max-width 1500px)
			min-width @min-width * 0.66

.slider-range-wrap
	width 400px
	position relative
	margin: 213px auto 225px
	transform: translateX(-122px)
	min-height: 28vh
	@media (max-width 1500px)
		margin: 142px auto 153px
		transform: translateX(-92px)
		width @width * 0.66
	.count
		position absolute
		color: #5a5a5b
		font-family: proximaNovaRegular
		font-size 17px
		top -12px
		@media (max-width 1500px)
			font-size @font-size * 0.66
			top @top * 0.57
	.from
		left: -51px
	.to
		right: -54px
	.ui-slider-range
		background: #dddddd
		border: none
		border-radius: 0
	.ui-slider-horizontal
		height: 3px
	.ui-widget-content
		background: $darkRed
		height: 3px
		width: 230px
		margin-left: 51px
		border: none
		@media (max-width $screen-md-max)
			width 50%
	.ui-slider-handle
		border-radius: 50%
		width 14px
		height 14px
		background: $darkRed
		top: -6px
		border-color: $darkRed
		cursor pointer
		@media (max-width 1500px)
			width @width * 0.66
			height @height * 0.66
			top @top * 0.66

.calculation-step-2
	// display none
	background: url(../img/calculation-2.jpg) no-repeat
	background-size: cover
	padding-bottom 300px
	min-height: 78vh
	nestle()
	@media (max-width 1500px)
		padding-bottom: 255px
	&:before
		left: 56px
		right: 0
		top: 50%
		transform: translateY(-50%)
		letter-spacing: 56px
		color: #fff
		opacity: 0.02
		z-index 0
	.table-wrapper
		width 740px
		margin: 0 auto
		padding-top: 205px
		@media (max-width 1500px)
			width @width* 0.66
			padding-top @padding-top * 0.66
		.table-title
			font-family: proximaNovaRegular
			font-size 25px
			line-height 29px
			color: #fff
			margin-bottom: 34px
			@media (max-width 1500px)
				font-size @font-size* 0.66
				margin-bottom @margin-bottom* 0.66
				line-height @line-height * 0.66
	//transform: translateX(110px)
	.calculation-table
		width: 100%
		position relative
		z-index 5
		thead
			tr
				td
					font-family: proximaNovaSemiBold
					font-size 17px
					line-height 20px
					color: #fff
					text-transform uppercase
					padding-bottom: 34px
					@media (max-width 1500px)
						padding-bottom @padding-bottom * 0.66
						font-size @font-size * 0.66
					.table-icon
						display block
						margin-bottom: 19px
						@media (max-width 1500px)
							width: 40px
					span
						display block
					&:nth-child(1)
						width 100px
					&:nth-child(2)
						width 190px
						text-align center
						.table-icon
							margin: 0 auto 19px
							position: relative
							left: -9px
					&:nth-child(3)
						width: 112px
						text-align center
						.table-icon
							margin: 0 auto 19px
					&:nth-child(4)
						width: 175px
						padding-left: 25px
						text-align center
						.table-icon
							margin: 0 auto 19px
					&:nth-child(5)
						text-align center
						@media (max-width 1500px)
							white-space: nowrap
						.table-icon
							margin: 0 auto 19px

		tbody
			.table-row
				&:first-child
					border-top: 1px solid #ae5663
				&:not(:last-child)
					border-bottom: 1px solid #ae5663
				&.disabled
					opacity 0.33
				td
					font-family: proximaNovaSemiBold
					color: #fff
					text-align center
					font-size 16px
					line-height 20px
					padding: 22px 0
					vertical-align: middle
					@media (max-width 1500px)
						padding: 10px 0
						font-size @font-size * 0.66
					&.drink-name, &.item-name
						font-family: proximaNovaLight
						font-size 21px
						line-height 20px
						text-align: left
						padding-left: 45px
						@media (max-width 1500px)
							font-size @font-size * 0.66
					&.price
						padding-left: 36px
						font-family: proximaNovaRegular
				.check-row
					position relative
					input
						position absolute
						width 18px
						height 18px
						opacity: 0
						z-index 11
						left: -9px
						right: 0
						margin: auto
						cursor pointer
						&:checked + label
							background-position: 0 -18px
					label
						position relative
						z-index 10
						display block
						width 18px
						height 18px
						background: url(../img/checkbox-table.png) no-repeat
						background-position: 0 0
						cursor pointer
						margin: 0 auto
						left: -6px
				.custom-price
					.price-input
						width 32px
						height 32px
						border: 1px solid #a53f4d
						border-radius: 3px
						background: transparent
						font-family: proximaNovaRegular
						font-size 16px
						color: #fff
						text-align: center
						@media (max-width 1500px)
							font-size @font-size * 0.66
							width @width * 0.66
							height @height * 0.66

.calculation-step-3
	background: #f2f2f2
	padding-top: 197px
	padding-bottom 195px
	min-height 700px
	@media (max-width 1500px)
		min-height @min-height * 0.66
		padding-bottom @padding-bottom  * 0.66
		padding-top @padding-top * 0.66 // display none
	.image-calc-wrap, .offer-calc-wrap
		float left
	.image-calc-wrap
		width (600 * 100 / 1376) %
		position relative

		nestle()
		&:before
			font-size: 167px
			top: 44%
			left: -39%
			letter-spacing: 40px
		.offer-info-img
			margin-bottom: 30px
			@media (max-width 1500px)
				margin-bottom @margin-bottom * 0.66
				width 60px
		.machine-name
			font-size 38px
			line-height 30px
			font-family: proximaNovaBold
			color: #5a5a5b
			letter-spacing: 1.4px
			margin-bottom: 27px
			@media (max-width 1500px)
				margin-bottom @margin-bottom * 0.66
				font-size @font-size * 0.66
				line-height @line-height * 0.66
		.machine-sub-title
			font-family: proximaNovaLight
			color: #5a5a5b
			font-size 25px
			line-height 27px
			letter-spacing: 1.1px
			margin-bottom: 20px
			@media (max-width 1500px)
				margin-bottom @margin-bottom * 0.66
				font-size @font-size * 0.66
				line-height @line-height * 0.66
		.image-offer-wrapper
			position: relative
		.offer-img
			margin-top: 109px
			margin-bottom: 31px
			@media (max-width 1500px)
				display block
				width 150px
				margin-top: @margin-top * 0.66
				margin-bottom @margin-bottom * 0.66
		.offer-info
			position absolute
			top: 68px
			right 0
			@media (max-width 1500px)
				top -9px
			&-text
				font-family: proximaNovaRegular
				font-size 21px
				line-height 21px
				color: #727273
				position relative
				margin-bottom: 43px
				@media (max-width 1500px)
					font-size @font-size * 0.66
					margin-bottom @margin-bottom  * 0.66
					line-height @line-height * 0.66
			&-item
				&:nth-child(1)
					.offer-info-text
						left: -42px
						@media (max-width 1500px)
							left @left * 0.66
				&:nth-child(2)
					.offer-info-text
						left: -70px
						top: -3px
						@media (max-width 1500px)
							left @left * 0.66
							top @top * 0.66
				&:nth-child(3)
					.offer-info-text
						left: -47px
						top: 0px
						@media (max-width 1500px)
							left @left * 0.66
							top @top * 0.66
.offer-calc-wrap
	width (776 * 100 / 1376) %
	background: #fff
	padding-top 59px
	padding-right 72px
	padding-bottom 36px
	padding-left 69px
	position relative
	letterN()
	@media (max-width 1500px)
		padding-top @padding-top * 0.66
		padding-right @padding-right * 0.66
		padding-bottom @padding-bottom * 0.66
		padding-left @padding-left * 0.66
	&:before
		right: -17%
		top: 21%
	.btns-wrap
		margin-bottom: 39px
		@media (max-width 1500px)
			margin-bottom @margin-bottom * 0.66
		.btn-rect
			border-color: $darkGold
			color #555757
			transition: .2s ease
			padding-top: 18px
			@media (max-width 1500px)
				padding-top 14px
			&:after
				background: $darkGold
			&:hover
				color: #fff
				border-color: $darkGold
				transition: .2s ease
			&.re-calc
				width 311px
				margin-right: 11px
				float: left
				@media (max-width 1500px)
					width: 48%
					min-width: auto
			&.print
				width 307px
				position relative
				padding-right: 46px
				transition: .2s ease
				@media (max-width 1500px)
					width: 48%
					min-width: auto
					padding-right 0
					&:before
						background: url('../img/print-icon.jpg')
						background-size: cover
						height 40px
						width 20px
				&:before
					content: ''
					background: url('../img/print-icon.jpg')
					background-size: cover
					position absolute
					top 0
					right 0px
					width 45px
					height 58px
					transition: .2s ease
					@media (max-width 1500px)
						width @width * 0.66
						height @height * 0.66
				&:hover
					padding-right 0
					transition: .2s ease
					&:before
						transition: .2s ease
						opacity 0

	.profit-info
		font-family: proximaNovaLight
		font-size 25px
		color: #5a5a5b
		letter-spacing: 0.5px
		line-height: 23px
		margin-bottom: 54px
		.font-size
			font-size 21px
		b
			font-size 21px
			font-family: proximaNovaBold
		@media (max-width 1500px)
			font-size @font-size * 0.66
			margin-bottom @margin-bottom * 0.4
			.font-size, b
				font-size: 16px
	.detail-info
		font-family: proximaNovaLight
		font-size 12px
		line-height 12px
		color: #5a5a5b
		margin-bottom: 62px
		letter-spacing: 0.6px
		@media (max-width 1500px)
			margin-bottom @margin-bottom * 0.66
			font-size: 10px
			line-height 10px
			br
				display: none
		b
			color: #722e3b
	.extra-row
		margin-left: -11px
		margin-right -11px

	.half-item
		float left
		width 50%
		padding 0 11px
	.form-title
		font-family: proximaNovaBold
		color: #5a5a5b
		font-size 21px
		line-height 44px
		letter-spacing: 1.4px
		text-transform uppercase
		position relative
		margin-bottom: 33px
		@media (max-width 1500px)
			margin-bottom @margin-bottom * 0.66
			font-size @font-size * 0.66
			line-height @line-height * 0.66
		&.line
			&:before
				content: ''
				background: $darkGold
				height 5px
				width 63px
				position absolute
				top: -20px
				left 0
				@media (max-width 1500px)
					width @width * 0.66
					height @height * 0.66
	.form-wrapper
		.form-group
			margin-bottom: 25px
			@media (max-width 1500px)
				margin-bottom @margin-bottom * 0.66
			&.margin
				&:nth-of-type(1)
					margin-bottom 30px
				&:nth-of-type(2)
					margin-bottom: 13px
				@media (max-width 1500px)
					&:nth-of-type(1),
					&:nth-of-type(2)
						margin-bottom 10px

			label
				display: block
				font-family: ProximaNovaRegular
				font-size: 13px
				line-height: 20px
				text-transform: uppercase
				color: #606060
				letter-spacing: 0.8px
				margin-bottom: 11px
				@media (max-width 1500px)
					margin-bottom @margin-bottom * 0.66
					font-size @font-size  * 0.66
					line-height @line-height * 0.66
					&.error
						font-size: 8.58px !important
						bottom: -14px
			.checkbox-view
				display inline-block
				@media (max-width 1500px)
					width: 12px
					height: 12px
					&:before
						width: 8px
						height: 8px
						background-size: cover
			.input-style
				height 46px
				background: #fff
				position: relative
				z-index: 10
				@media (max-width 1500px)
					height: 34px
					padding-left: 10px
		.styler
			margin-bottom 10px
			&.error ~ .jq-selectbox__select
				border-color: red

			.jq-selectbox__select
				height: 46px
				padding-left: 13px
				@media (max-width 1500px)
					height 34px
				.jq-selectbox__trigger
					.jq-selectbox__trigger-arrow
						top: 43%
						right: 19px
						border-top: 6px solid #999
						border-right: 6px solid transparent
						border-left: 6px solid transparent
			.jq-selectbox__select-text
				line-height 46px
				@media (max-width 1500px)
					line-height 34px
			.placeholder
				line-height 46px
				font-size 13px
				@media (max-width 1500px)
					line-height 34px
					font-size: 11px
		.btn-offer
			margin-top: 17px
			width: 100%
			min-height: 62px
			padding-top: 4px
			border-color: $darkGold
			color #555757
			background: #fff
			transition: .2s ease
			&:hover
				color: #fff
				border-color: $darkRed
				transition: .2s ease
			@media (max-width 1500px )
				min-height 36px
		.rules
			margin-top: 17px
			margin-left: 5px
			margin-bottom: 13px
			@media (max-width 1500px )
				font-size: 10px
				line-height 10px
		.checkbox-rule
			span
				left: 27px
				top: 2px
				letter-spacing: 0.66px
				font-size: 11px
				@media (max-width 1500px )
					top: -3px
					font-size: 10px
					line-height: 10px

.hotel
	.offer-calc-wrap
		.form-wrapper
			.checkbox-rule
				span
					@media (max-width 1500px )
						top: 1px
	.calculation-step-1
		nestle()
		&:before
			left 0
			right 0
			letter-spacing: 38px
			top: 26%
	.calculation-step-2
		.table-wrapper
			width 335px
			.hotel-table
				thead
					tr
						td
							&:nth-child(1)
								width 70px
								@media(max-width 1500px)
									padding-left 10px
							&:nth-child(2)
								width: auto
				tbody
					.table-row
						td.item-name
							padding-left: 39px
	.offer-calc-wrap
		width 100%
		margin-top: 100px
		padding-top: 0
		&:before
			display none
		@media (max-width 1500px)
			margin-top 60px
	.main-calculation-wrap
		.calculation-step-1
			.step-img
				top: 47%
				left: 30.5%
				@media (max-width 1500px)
					top: 40%
					left: 28.5%
	.control-container
		.next-step
			padding: 18px 30px 16px
			@media (max-width 1500px)
				padding: 14px 30px 12px
	.form-wrapper
		width 635px
		margin: 97px auto
		.form-group, .form-group.margin,
		.form-group.margin:nth-of-type(1),
		.form-group.margin:nth-of-type(2)
			margin-bottom: 19px
		.form-title
			text-align center
		@media (max-width 1500px)
			width @width * 0.66
			margin: 40px auto 0

.hotel-slider-range
	transform translateX(0)
	width: 798px
	@media (max-width 1500px)
		width @width * 0.66
		margin: 106px auto 73px
		transform: translateX(-10px)
	.wrap-half
		float left
		width 50%
		padding: 0 20px 120px 0
		position relative
		@media (max-width 1500px)
			padding: 0 20px 79px 0
		&.borders
			&:after, &:before
				content: ''
				position absolute
			&:after
				width 1px
				height 106px
				background: #dbdbdb
				top 0
				right: 21px
			&:before
				width: 76%
				height: 1px
				background: #dbdbdb
				bottom: 28px
				left: 23px
		&:nth-child(3)
			padding-left: 52px
			padding-right 0
			@media (max-width 1500px)
				padding-left: 25px
		&.stars-raiting
			.guests
				margin-bottom: 41px
				@media (max-width 1500px)
					margin-bottom @margin-bottom * 0.66
		.stars-wrap
			float left
			input[type=radio]
				float right
				width 22px
				height 22px
				opacity 0
				position absolute
				@media (max-width 1500px)
					width 15px
					height 15px

				&:checked + .star-icon,
				&:checked ~ .star-icon
					background-position: 0px 0
			.star-icon
				content: ''
				background: url('../img/hotel-stars.png') no-repeat
				background-position: -23px 0
				width 22px
				height 22px
				display inline-block
				top 0
				left 0
				opacity 1
				float right
				margin-right: 7px
				cursor: pointer
				@media (max-width 1500px)
					margin-right: 4px
					width 15px
					height 15px
					background-size cover
					background-position: -15px 0

.table-hotel-offer
	margin-top: 16px
	.price-hotel
		position relative
		font-family: proximaNovaRegular
		margin-top: 11px;
		.title
			font-family: proximaNovaBold
		table
			width 250px
			tbody
				tr
					td
						font-size 12px
						padding: 4px;
						padding-top: 3px;
						padding-bottom: 3px;
						vertical-align: middle;
						border: 1px solid #cacaca;
						&:last-child
							text-align center
	table
		width 100%
		thead
			tr
				border-top: 1px solid #d9d9d9
				border-bottom: 1px solid #d9d9d9

				td
					color: #8f8f8f
					font-family: proximaNovaRegular
					font-size 17px
					text-transform uppercase
					padding: 16px 0
					letter-spacing: 0.5px
					@media (max-width 1500px)
						font-size @font-size * 0.66
					&:nth-child(1)
						width 238px
						@media (max-width 1500px)
							width @width * 0.66
					&:nth-child(2)
						padding-left: 24px
						@media (max-width 1500px)
							padding-left @padding-left  * 0.66
		tbody
			.hotel-offer-row
				border-bottom: 1px solid #d9d9d9
				td
					padding-top: 25px
					padding-bottom: 24px
					@media (max-width 1500px)
						padding-top @padding-top * 0.66
						padding-bottom @padding-bottom * 0.66
				.machine-img
					width 238px
					height 238px
					background: #fff
					border: 1px solid #e4e4e4
					@media (max-width 1500px)
						width @width * 0.66
						height @height * 0.66
			.table-machine-info
				padding-left: 45px
				padding-top: 62px
				position relative
				@media (max-width 1500px)
					padding-top: 16px
					padding-left @padding-left * 0.66
				.remove-row
					position absolute
					top: 51%
					right: 3%
					font-family: proximaNovaRegular
					font-size 17px
					color: #000
					&:after
						content: ''
						background: url('../img/remove-cross.png') no-repeat
						width 15px
						height 15px
						display inline-block
						position relative
						margin-left: 22px
						top: 3px
					@media (max-width 1500px)
						top 0
						right 0

				.machine-info-name
					font-family: proximaNovaSemiBold
					font-size 25px
					line-height 22px
					letter-spacing: 1.2px
					margin-bottom: 2px
					@media (max-width 1500px)
						font-size @font-size * 0.66
						line-height @line-height * 0.66
				.artc
					font-family: proximaNovaRegular
					font-size 17px
					color: #606060
					letter-spacing: 0.6px
					margin-bottom: 22px
					@media (max-width 1500px)
						font-size @font-size * 0.66
						margin-bottom 10px
				.calculation-info
					font-family: proximaNovaRegular
					font-size 21px
					line-height 25px
					color: #333333
					letter-spacing: .4px
					.light-font
						font-family: proximaNovaLight
						color: #5a5a5b
						b
							font-family: proximaNovaBold
					@media (max-width 1500px)
						font-size @font-size  * 0.66
						line-height @line-height * 0.66

.office
	.main-calculation-wrap
		.calculation-step-1
			&:before
				display: none
			.step-img
				right: auto
				left: 50%
				transform: translateX(-380%)
				top: 31%
			.guests
				margin-bottom: 48px
				@media (max-width 1500px)
					margin-bottom 30px
		.calculation-step-2
			.calculation-table
				thead
					tr
						td
							&:nth-child(1)
								padding-left 27px
							&:nth-child(2)
								text-align left
								padding-left: 45px
								.table-icon
									margin inherit
									margin-left 10px
									margin-bottom: 19px

	.tab-btn
		border-width: 1px
		font-family: proximaNovaLight
		color: #5a5a5b
		border-color: #5a5a5b
		text-transform: none
		font-size 17px
		min-width: 308px
		min-height: 46px
		margin-bottom: 29px
		padding-top: 10px
		letter-spacing: 1px
		@media (max-width 1500px)
			min-width @min-width * 0.66
			min-height @min-height  * 0.66
			font-size @font-size * 0.66
			margin-bottom @margin-bottom  * 0.66
			padding-top: 7px
		&.active
			border-color: $darkRed
			background: $darkRed
			color: #fff
		&:hover
			color: #fff
	.office-slider-range
		transform translateX(0)
		width: 798px
		padding-left: 75px
		@media (max-width 1500px)
			width @width * 0.66
			padding-left 0
			margin-bottom: 122px
			margin-top: 112px
		.wrap-half
			float left
			width 50%
			padding: 0 20px 0 0
			position relative
			&.border
				&:before
					content: ''
					position absolute
					background: #aeaeae
					width: 1px
					height: 14%
					top: 4px
					right: 16px
			&:nth-child(2)
				// padding-left 20px
			&:nth-child(3)
				padding-left: 44px
				padding-right 0
			&.stars-raiting
				.guests
					margin-bottom: 41px
			.stars-wrap
				float left
				input[type=radio]
					float right
					width 22px
					height 22px
					opacity 0
					position absolute
					&:checked + .star-icon,
					&:checked ~ .star-icon
						background-position: 0px 0
				.star-icon
					content: ''
					background: url('../img/hotel-stars.png') no-repeat
					background-position -23px 0
					width 22px
					height 22px
					display inline-block
					top 0
					left 0
					opacity 1
					float right
					margin-right: 7px
					cursor: pointer

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
	-webkit-appearance: none
	margin: 0

input[type=number]
	-moz-appearance: textfield

.main-calculation-wrap
	position relative

.info-about-table
	width 740px
	margin: 44px auto
	.info
		font-family: proximaNovaLight
		font-size 17px
		color: #fff
		line-height 20px
		position relative
		@media (max-width 1500px)
			font-size @font-size * 0.66
			margin-right: 15px
		b
			position: absolute
			left: -6px
			top: -2px
			font-size: 8px
	@media (max-width 1500px)
		width @width * 0.66
		margin-top 20px

.number-slider
	position absolute
	top -26px
	color: $darkRed
	text-align center
	font-family: proximaNovaRegular
	transform: translateX(-70%)
	transition: .1s ease
	@media (max-width 1500px)
		font-size: 12px

.budget
	.number-slider
		transform: translateX(-70%)

.cups-table-wrapper
	position: relative
	top: -27px
	font-size 14px
	font-family: proximaNovaRegular
	tr
		border-bottom: 1px solid #f2f2f2
		td
			padding: 5px 10px
			font-size 14px
			font-family: proximaNovaRegular
