.catalog-head-wrap
  height: 903px;
  @media (max-width:1400px)
    height: 595px;
  >.container
    position: relative
  .half-wrap
    width: 50%
    float: left
    height: 100%
    &:nth-child(1)
      background #465254
      &:before
        content 'A'
        font-family:proximaNovaBold;
        font-size: 396px
        position: absolute
        color: $darkGold
        opacity: 0.07
        bottom: -162px;
        left: 243px;
        z-index: 0
      @media (max-width: 1400px)
        &:before
          font-size: 320px;
          bottom: -63px;
          left: 170px;
    &:nth-child(2)
      background url(../img/catalog-header.jpg)
      background-size cover
  .catalog-title
    position absolute
    display: inline-block
    left: 337px;
    top: 316px;
    color: #fff
    text-transform: uppercase
    .title
      font-size: 85px
      font-family:proximaNovaLight;
      line-height: 83px
      letter-spacing: 10px;
    @media (max-width: 1400px)

      top: 50%;
      transform: translateY(-78%);
      .title
        font-size: 56px;
        line-height: 54px;
        letter-spacing: 6.6px;
      .sub-title
        font-size 18px
        letter-spacing: 0.5px;
        line-height 24px
        margin-top 17px
        margin-left: 2px;
    @media (max-width $screen-md-max)
      left: 198px;
    @media (max-width: 1298px)
      left: 198px;
    @media (max-width $screen-sm-max)
      left: 198px;
.catalog-machines-wrap
  background #f2f2f2
  margin-top: -35px;
  padding: 0
  position: relative
  z-index: 98;
  @media (min-width 1700px)
    width: 1650px
  @media (min-width 1360px) and (max-width: 1700px)
    width: 1225px
  @media (min-width 1150px) and (max-width: 1360px)
    width: 1100px
    margin-top: -23px
  .catalog-item
    width: 33.3333%
    box-sizing border-box
    float: left
    text-align: center
    padding-top: 113px;
    padding-bottom: 89px;
    letter-spacing: 1.3px;
    position: relative
    @media (max-width:1400px)
      padding-top: 10px;
      padding-bottom: 59px;
    .img-wrap
      height: 352px;
      position: relative
      margin-bottom: 91px;
      @media (max-width: 1400px)
        height: 300px;
      img
        position: absolute
        bottom: 0
        left: 0
        right: 0
        margin auto
        @media (max-width:1400px)
          width: 41%;
    &:nth-child(1)
      .img-wrap
        img
          left: 14px;
    &:nth-child(2)
      .img-wrap
        img
          left: -18px;
          top: 13px;
          @media (max-width:1400px)
            top: auto
    &:nth-child(3)
      .img-wrap
        img
          left: 8px;
          bottom: -6px;
          @media (max-width:1400px)
            bottom: 0px;
    &:not(:last-child)
      border-right 1px solid #dcddde
    &-title
      font-size: 30px
      font-family:proximaNovaSemiBold;
      color: #465254;
      text-transform: uppercase
      margin-bottom: 40px;
      position: absolute
      left: 0
      right: 0
      top: 536px;
      text-align: center
      @media (max-width 1700px)
        font-size: 26px
      @media (max-width:1400px)
        font-size: 18px
        top: 353px;
      &.top-line
        &:before
          content ''
          height: 2px
          width: 27px
          position: absolute
          background $darkGold
          top: -45px;
          left: -4px;
          right: 0
          margin auto
        @media (max-width: 1400px)
          &:before
            height: 1px;
            width: 18px;
            top: -32px;
    .btn-rect
      border-color $darkGold
      color: $darkGold
      margin-top: 73px;

      &:hover
        border-color $darkRed
        color: #fff
      @media (max-width: 1400px)
        margin-top: 17px;


.static-footer
  .footer
    position: relative
.catalog-main-wrap
  padding-bottom: 163px;
  @media (max-width: 1400px)
    padding-bottom: 100px;
