.approach
  background url('../img/approach-bg.jpg') no-repeat
  background-size cover
  background-position center center
  .section-wrap
    margin-top: -111px;
    margin-left: -5px;
    .col-xs-3
        float left
        width: 27.27272727272727%;
    .col-xs-8
        float left
        width: 72.72727272727273%;
    //Изначально тут был bootsrap grid.
    @media (max-width $screen-md-max),(max-height 850px )
      margin-top: -30px
      margin-left: 0
  .container-padding
    padding-left: 344px
    // @media (max-width 1600px)
    //   padding-left: 150px
    @media (max-width $screen-md-max),(max-height 850px )
      padding-left: 201px;
    @media (min-width $screen-md-max) and (max-height 850px)
      padding-left: 279px;
  .section-title
    letter-spacing: 2.4px
    margin-bottom: 105px
    &:before
      left: -15.9%;
    // @media (max-width 1600px)
    //   margin-bottom: 15px
    @media (max-width $screen-md-max),(max-height 850px )
      letter-spacing: 1.4px;
      margin-bottom: 64px;
      margin-top: 16px;
      &:before
        left: -10.5%;
        top: 23px;
    @media (max-width: $screen-sm-max)
      &:before
        left: -14.5%;
  .approach-title
    margin-top: 10px;
    margin-left: 61px;
    // @media (max-width 1600px)
    //   margin-left: 0
    @media (max-width $screen-md-max),(max-height 850px )
      margin-left: 17px;
    @media (max-width: $screen-sm-max)
      margin-left: -26px;
    span
      font-family: proximaNovaBold
      font-size: 25px
      letter-spacing: 0.4px;
      color: #2c2c2c
      &:before
        content: ''
        display: inline-block
        position: relative
        top: -5px
        left: -5px
        width: 8 px
        height: 8px
        background #b6a47d
        border-radius 50%
      @media (max-width $screen-md-max),(max-height 850px )
        &:before
          content ''
          display: inline-block
          width: 7 px
          height: 7px
          background #b6a47d
          border-radius 50%
          top: -1px;
          left: -4px;
      &:last-child
        margin-right: -6px;
        letter-spacing: -0.2px;
      // @media (max-width 1600px)
      //   font-size: 22px
      @media (max-width $screen-md-max),(max-height 850px )
        font-size 17px
        letter-spacing: 0.7px;
        &:last-child
          margin-right: -10px;
          letter-spacing: 0.2px;
      @media (min-width $screen-md-max) and (max-height 850px)
        &:first-child
          position: relative;
          left: -20px;
        &:last-child
          float: none;
          margin-left: 90px;
  .left-image
    img
      position: relative
      left: 16px;
      top: -1px
      @media (max-width $screen-md-max),(max-height 850px )
        left: 5px;
        top: 7px;
  .list
    margin-top: 56px;
    margin-left: -47px;
    @media (max-width $screen-md-max),(max-height 850px )
      margin-top: 57px;
      margin-left: -55px;
    .item-list
      float: left
      text-align: center
      position: relative
      padding-top: 127px;
      &:nth-child(1)
        .item-title
          position: relative
          left: 3px;
          &:before
            left: 2px;
            top: -23px;
          @media (max-width $screen-md-max),(max-height 850px )
            left: -3px;
            &:before
              top: -20px
      &:nth-child(2)
        .item-title
          position: relative
          left: 5px;
          &:before
            left: 2px;
            top: -23px;
          @media (max-width $screen-md-max),(max-height 850px )
            left: -11px;
            &:before
              left: 17px;
              top: -20px
      &:nth-child(3)
        left: -8px;
        .item-title
          left: 6px;
          line-height: 28px;
          top: -1px;
          &:before
            left: 2px;
            top: -22px;
          @media (max-width $screen-md-max),(max-height 850px )
            left: -5px;
            line-height: 18px;
            top: 0px;
            &:before
              left: 13px;
              top: -21px;
      &:nth-child(4)
        .item-title
          left: 13px;
          line-height: 28px;
          top: -1px;
          &:before
            left: -15px;
            top: -22px;
          @media (max-width $screen-md-max),(max-height 850px )
            left: -1px;
            line-height: 18px;
            top: 0px;
            .item-image
              left: 15px;
            &:before
              left: 13px;
              top: -21px;
      &:not(:last-child)
        margin-right: 53px;
        @media (max-width $screen-md-max),(max-height 850px )
          margin-right: 43px;
        @media (max-width $screen-sm-max)
          margin-right 9px
      .item-image
        position: absolute;
        left: 10px;
        right: 0
        margin auto
        top: 0;
        transition .2s ease
        &:hover{
          transform: scale(1.1);
          transition .2s ease
        }
        @media (max-width $screen-md-max),(max-height 850px )
          width 90px
      .item-title
        text-align left
        font-family: proximaNovaLight
        font-size: 24px
        line-height: 25px;
        margin-top: 54px;
        letter-spacing: .6px;
        position: relative;
        @media (max-width $screen-md-max),(max-height 850px )
          font-size: 15px;
          line-height: 20px;
          margin-top: 13px;
          left -4px
          margin-left: 9px;
          letter-spacing: 0.4px;
          line-height: 18px;
        &:before
          content: ''
          position: absolute
          sprite($line_item)
          left: 0
          right: 0
          margin: auto
          top: -20px


//*************************************************************************
//                              Solutions
//*************************************************************************
.solutions
  //padding: 8vh 0
  background url('../img/solution-bg.jpg') no-repeat
  background-size cover
  background-position center center
  .slider-wrapper-height
    height: 70%
    height: 800px
    margin-top: 46px;
    margin-left: 8px;
    //margin-top: -202px;

    @media (max-width $screen-md-max),(max-height 850px )
      margin-top: -120px;
      margin-left: 0
      height: 465px
    @media (max-height 850px ) and (min-width $screen-md-max)
      margin-top: -243px;
  .main-image
    .slider
      position: relative
      left: 1px
  @media (max-width: 1600px)
    padding 0;
  @media (max-height: 870px)
    padding 0;
  .slider-wrap
    position: relative;
    top: 2px;
    left: -4px;
    @media (max-width $screen-md-max),(max-height 850px )
      margin 0 auto
    @media (max-width $screen-md-max),(max-height 850px )
      left: -1px;
      top: -6px;
    @media (max-width: $screen-sm-max)
      height: 350px;
      &:before
        content: '';
        background: #fff;
        position: absolute;
        width: 58px;
        height: 60px;
        bottom: 69px;
        z-index: 1;
  .slider-btn
    text-align: center
    position: absolute
    bottom: 0
    width: 100%
    left: 0
    right: 0
    .slider-prev,.slider-next
      width: 36px
      height: 74px
      position: relative
      top: -147px
      z-index: 10
      // @media (max-width 1600px)
      //   top: -97px;
      @media (max-width $screen-md-max),(max-height 850px )
        top: -76px;
        width: 22px;
        height: 46px;
    .slider-prev
      display: inline-block
      background url('../img/prev.png') no-repeat
      background-size cover
      left: -390px
      @media (max-width $screen-md-max),(max-height 850px )
        left: -290px;
    .slider-next
      display: inline-block
      background url('../img/next.png') no-repeat
      background-size cover
      right: -418px
      @media (max-width $screen-md-max),(max-height 850px )
        right: -295px;
  .section-title
    letter-spacing: 3px
    position: relative
    margin-bottom: 35px
    &:after
      content ''
      height: 3px
      width: 37px
      background $darkGold
      position: absolute
      bottom: -18px
      left: 0
      right: 0
      margin auto
    @media (max-width $screen-md-max),(max-height 850px )
      letter-spacing: 1.6px;
      margin-bottom: 20px;
      margin-top: 27px;
      margin-left: 7px;
      &:after
        width: 30px;
        bottom: -8px;
        left: -2px;
  .section-sub-title
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 28px;
    position: relative;
    left: 2px;

    // @media(max-width 1600px)
    //   margin-bottom: 0px;
    @media (max-width $screen-md-max),(max-height 850px )
      font-size: 15px;
      line-height: 18px;
      left: 2px;
      letter-spacing: 0.6px;
      width: 40%;
      margin: 0 auto 18px;
      br
        display none
  .solutions-slider
    .slick-slide
      .machine-image
        opacity: 0.5
        position: relative
        //left: 16px;
        //top: 3px;
        left: -4px;
        top: 2px;
        transition: .2s
        @media (max-width $screen-md-max),(max-height 850px )
          left: 16px;
          top: 3px;
      .new-item
        z-index: 1;
        img
          opacity: 1
          // @media (max-width 1600px)
          //   max-width: 75%;
          @media (max-width $screen-md-max),(max-height 850px )
            top: 18px;
            left: 66px;
      .wrap-item
        padding-top 24px
        transition: .2s
        @media (max-width $screen-md-max),(max-height 850px )
          padding-top: 42px;
        .info-about
          opacity: 0
          transition .2s ease
      .name-machine
        font-size: 14px;
        line-height: 15px;
      .wrap-item >img,.info-about img
        max-width: 53%;
        display: block
        margin: 0 auto
        text-align: center
        @media (max-width $screen-md-max),(max-height 850px )
          max-width:55%
    .info-about
      opacity: 0
    .solution-item
      img
        width:inherit;
      .name-machine
        margin-left: 128px;
        margin-top: 15px;
        &:after
          top: -15px
        @media (max-width $screen-md-max),(max-height 850px )
          letter-spacing: 0.4px;
          width: 46%;
          margin-left: 104px;
          margin-top: 12px;
          font-size 9px
          opacity 0.53
          &:after
            top: -8px;
    .slick-active
      //opacity: 0.5
    .slick-center.slick-active
        //opacity: 1
        .wrap-item
          padding-top 24px
          .machine-image
            opacity: 1

            position: relative
            left: 0px;
            top: 0px;

            transition-delay: 0.5s;
            transition .2s

          // .machine-image-back
          //   position: absolute
          //   top: 24px;
          //   left: 0
          //   right: 0
          //   margin auto
          //   transform rotateY(90deg)
          //   transition .2s
          .info-about
            z-index: 1;
            opacity: 1
            transition-delay 1s
            transition .5s ease
          .new-item
            width: 100px;
            height: 100px;
            transition: .4s ease
            &:before
              width: 88px;
              height: 89px;
              background-size: 100%;
              transition: .1s ease
            @media (max-width $screen-md-max),(max-height 850px )
              width: 70px;
              height: 70px;
              left: 31px;
              &:before
                width: 60px;
                height: 60px;
                background-size: 100%;
                transition: .1s ease
        .name-machine
          font-size: 26px;
          letter-spacing: 1.5px;
          position: relative;
          margin-left: 37px;
          margin-top: -19px;
          line-height: 31px;
          width: 100%;
          &:after
            top: -21px
          @media (max-width $screen-md-max),(max-height 850px )
            margin-top: -33px;
            margin-left: 39px;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0.4px;
            opacity: 1;
            &:after
              top: -5px;
              left: 3px;
          @media (max-width: $screen-sm-max)
            margin-top 10px
          @media (min-width $screen-md-max) and (max-height 850px)
            margin-left: 60px;
        img
          max-width: 100%
          text-align: center
          // @media (max-width: 1600px){
          //   max-width: 71%;
          // }
          @media (max-height 800px)
            max-width: 95%;
    .slick-center.slick-active.rotate
        .wrap-item
          .machine-image
            transition .2s
          .machine-image-back
            transition .2s
    .solution-item
      .name-machine
        text-transform: uppercase
        font-family: proximaNovaBold
        position: relative
        letter-spacing: 0.7px;
        &:after
          content ''
          position: absolute
          left: 0
          height: 3 px
          width: 37px
          background #cbb897
        @media (max-width $screen-md-max),(max-height 850px )
          letter-spacing: 0.4px;
          width: 46%;
          margin-left: 104px;
          margin-top: 12px;
          font-size 9px
          opacity 0.53
          &:after
            height: 2px;
            width: 25px;
            top: -8px;
        @media (min-width $screen-md-max) and (max-height 850px)
          margin-left: 154px
          margin-top: 0
        @media (max-width $screen-sm-max)
          width: 60%;
          margin-left 86px
          margin-top 21px
    ///////////////////////////////////////////////////////////////////////////////////////////////
    //поправить удалить
    //////////////////////////////////////////////////////////////////////////////////////////////
    .wrap-item
      position: relative
      .new-item
        position: absolute
        top: 1px;
        left: 86px;
        width 83px
        height 83px
        background: $darkGold
        border-radius: 50%;
        transition: .4s ease
        span
          position absolute
          display inline-block
          color: #fff;
          font-size 14px
          font-family: proximaNovaRegular
          left: -1px;
          right: 0;
          top: 40%;
          text-align: center;
        &:before
          content: '';
          width: 73px;
          height: 74px;
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          background: url('../img/dotted-circle.svg') no-repeat;
          transition: .1s ease
        @media (max-width: $screen-md-max),(max-height 850px )
          width 58px
          height 58px
          top: 23px;
          left: 71px;
          span
            font-size 10px
          &:before
            width 51px
            height 51px
            background: url('../img/dotter-circle-mob.svg') no-repeat;
        @media (min-width $screen-md-max) and (max-height 850px)
          left: 129px;
        // @media (max-width $screen-md-max),(max-height 850px )
        //   left: 22px;
      .info-about
        position: absolute
        right: -49px;
        top: -1px;
        @media (max-width $screen-md-max),(max-height 850px )
          right: -47px;
          top: 27px;
        img
          margin-bottom: 17px
          @media (max-width $screen-md-max),(max-height 850px )
            width 45px
            margin-bottom: 8px;
        span
          display: inline-block
          margin-left 39px
          font-family: proximaNovaRegular
          font-size: 14px
          line-height: 16px
          @media (max-width $screen-md-max),(max-height 850px )
            font-size: 10px;
            line-height: 11px;
            margin-left: 28px;
      .info-block
        margin-bottom: 26px
        @media (max-width $screen-md-max),(max-height 850px )
          margin-bottom: 23px;
//*******************************************************************************************
//                                      Advantages
//*******************************************************************************************
.advantages
  background url('../img/advantages-bg.jpg') no-repeat
  background-size cover
  background-position center center
  z-index: 1;
  .container-padding
    padding-left: 341px;
    @media (max-width $screen-md-max),(max-height 850px )
      padding-left: 205px;
    @media (min-width $screen-md-max) and (max-height 850px)
      padding-left: 280px;
  .section-wrap
    margin-top: 6px;
    //margin-top: -62px;
    @media (max-width $screen-md-max),(max-height 850px )
      margin-top: -62px;
      margin-left: -2px;
  .section-title
    position: relative
    top: -10vh;
    letter-spacing: 2.4px
    &:before
      width: 106px
      left: -13.4%;
      top: 20px;
    @media (max-width $screen-md-max),(max-height 850px )
      letter-spacing: 1.3px;
      top: -8vh;
      &:before
        left: -10.9%;
        top: 23px;
        width: 58px;
    @media (max-width: $screen-sm-max)
      &:before
        left: -13.9%;
  .advantages-wrap
    border-left 1px solid #c1ab84
    border-right 1px solid #c1ab84
    position: relative
    top: 2px;
    min-height 100px
    width: 72.5%
    margin: 0 auto
    padding: 0 56px
    left: 6px;
    @media (max-width $screen-md-max),(max-height 850px )
      width: 633px;
      left: 3px;
      padding: 0 31px;
      top: 16px;
    .top-wrap,.bottom-wrap
      white-space nowrap
      position: relative

    .top-wrap
      top: -45px;
      left: -1px;
      @media (max-width $screen-md-max),(max-height 850px )
        top: -36px;
    .bottom-wrap
      margin-top: -120px
      bottom: -80px
      @media (max-width $screen-md-max),(max-height 850px )
        margin-top: -97px;
        bottom: -58px;
        .advantages-items
          span
            top: 11px;
      span
        padding-left: 30px;
      //bottom: -35px
    .top-wrap .advantages-items
      .advantages-img
        width 156px
        height 156px
        @media (max-width $screen-md-max),(max-height 850px )
          width 109px
          height 109px
      &:nth-child(1)
        .advantages-text
          position: relative
          left: 30px;
        @media (max-width $screen-md-max),(max-height 850px )
          position: relative;
          left: -7px;
          .advantages-text
            position: relative
            left: 31px
            top: 7px;
            letter-spacing: 0.2px;
            &:after
              width: 15px;
              left: -61px;
              top: -35%;
        .advantages-img
          background url('../img/adv1/bg.png')no-repeat;
          background-size: cover;
          margin 0 auto
          position: relative
          &:before
            content ''
            width: 82px;
            height: 84px;
            transform: translateY(6px);
            top: 0;
            left: -7px;
            right: 0;
            bottom: 0;
            margin: auto;
            background url('../img/adv1/stroke.svg')no-repeat;
            position: absolute
            z-index: 1
          @media (max-width $screen-md-max),(max-height 850px )
            &:before
              width: 62px;
              height: 64px;
              transform: translateY(6px);
          .wrap-fill
            position: absolute;
            bottom: 0;
            height: 0;
            width: 100%;
            overflow: hidden;
            transition 1.5s ease;
            img
              position: absolute
              bottom: 0
              left: -2px;
              right: 0
              @media (max-width $screen-md-max),(max-height 850px )
                bottom: -2px;
                left: -3px;
      &:nth-child(2)
        .advantages-text
          position: relative
          left: 19px;
          top: 2px
          &:after
            left: -45px;
        @media (max-width $screen-md-max),(max-height 850px )
          position: relative;
          left: -5px;
          .advantages-text
            position: relative;
            left: 24px;
            top: 5px;
            letter-spacing: 0.2px;
            &:after
              width: 15px;
              left: -46px;
              top: -37%;
        .advantages-img
          // width: 156 px
          // height: 156px
          background url('../img/adv2/bg.png')no-repeat;
          background-size: cover;
          margin 0 auto
          position: relative
          left: -2px;
          &:before
            content: '';
            width: 57px;
            height: 69px;
            transform: translateY(-1px) translateX(2px);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: url("../img/adv2/stroke.svg") no-repeat;
            z-index: 1;
            margin: auto;
          @media (max-width $screen-md-max),(max-height 850px )
            left: 0
            &:before
              width: 42px;
              height: 50px;
              transform: translateX(3px) translateY(-1px);
          .wrap-fill
            position: absolute;
            bottom: 0;
            height: 0;
            width: 100%;
            overflow: hidden;
            transition 1.5s ease;
            img
              position: absolute
              bottom: 0
              left: 0
              right: 0
              @media (max-width $screen-md-max),(max-height 850px )
                bottom: -1px
      &:nth-child(3)
        .advantages-text
          position: relative;
          left: 40px;
          top: 2px;
          &:after
            left: -90px;
        @media (max-width $screen-md-max),(max-height 850px )
          position: relative;
          left: -5px;
          .advantages-text
            position: relative;
            left: 42px;
            top: 5px;
            letter-spacing: 0.2px;
            &:after
              width: 15px;
              left: -80px;
              top: -34%;
        .advantages-img
          // width: 156 px
          // height: 156px
          background url('../img/adv3/bg.png')no-repeat;
          background-size: cover;
          margin 0 auto
          position: relative
          left: -5px;
          &:before
            // content: '';
            // width: 100%;
            // height: 100%;
            // position: absolute;
            // top: 0;
            // left: 0;
            // right: 0;
            // background: url("../img/adv3/stroke.png") no-repeat;
            // background-size: cover;
            // z-index: 1;
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width: 63px;
            height: 76px;
            background: url("../img/adv3/stroke.svg") no-repeat;
            z-index: 1;
          @media (max-width $screen-md-max),(max-height 850px )
            left: 0
            &:before
              width: 45px;
              height: 50px;
          .wrap-fill
            position: absolute;
            bottom: 0;
            height: 0;
            width: 100%;
            overflow: hidden;
            transition 1.5s ease;
            img
              position: absolute
              bottom: 0
              left: 0
              right: 0
              @media (max-width $screen-md-max),(max-height 850px )
                bottom: 9px;
                width: 75%;
                left: 13px;
    .bottom-wrap .advantages-items
      .advantages-img
        width 156px
        height 156px
        margin 0 auto
        position: relative
        @media (max-width $screen-md-max),(max-height 850px )
          width 109px
          height 109px
        &:before
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
        .wrap-fill
          position: absolute;
          bottom: 0;
          height: 0;
          width: 100%;
          overflow: hidden;
          transition 1.5s ease;
          img
            position: absolute
            bottom: 0
            left: 0
            right: 0
      &:nth-child(1)
        .advantages-text
          position: relative
          left: 17px;
          top: 0px;
          &:after
            left: -41px;
            top: -30%;
        @media (max-width $screen-md-max),(max-height 850px )
          position: relative;
          left: -5px;
          .advantages-text
            position: relative;
            left: -2px;
            //left: 42px;
            top: 10px;
            letter-spacing: 0.2px;
            &:after
              width: 15px;
              left: -2px;
              top: -35%;
        .advantages-img
          background url('../img/adv4/bg.png')no-repeat;
          background-size cover
          &:before
            // top: 0;
            // left: 0;
            // right: 0;
            // background: url("../img/adv4/stroke.png") no-repeat;
            // background-size: cover;
            // z-index: 1;
            content ''
            //width: 100%
            //height: 100%
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0
            margin auto
            width: 70px;
            height: 78px;
            transform: translateY(17px) translateX(-1px);
            background url('../img/adv4/stroke.svg')no-repeat;
            z-index: 1
          @media (max-width $screen-md-max),(max-height 850px )
            &:before
              width: 49px;
              height: 63px;
              left: -6px;
          img
            @media (max-width $screen-md-max),(max-height 850px )
              bottom: -1px;
              left: -3px;
      &:nth-child(2)
        .advantages-text
          position: relative
          left: 29px;
          top: -2px;
          &:after
            left: -65px;
            top: -16%;
        @media (max-width $screen-md-max),(max-height 850px )
          position: relative;
          left: -5px;
          .advantages-text
            position: relative;
            left: 16px;
            top: 10px;
            letter-spacing: 0.2px;
            &:after
              width: 15px;
              left: -36px;
              top: -35%;
        .advantages-img
          background url('../img/adv5/bg.png')no-repeat;
          background-size cover
          position: relative;
          left: -2px;
          &:before
            // top: 0;
            // left: 0;
            // right: 0;
            // background: url("../img/adv5/stroke.png") no-repeat;
            // background-size: cover;
            // z-index: 1;
            content ''
            //width: 100%
            //height: 100%
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0
            margin auto
            width: 70px;
            height: 78px;
            transform: translateY(5px);
            background url('../img/adv5/stroke.svg')no-repeat;
            z-index: 1
          @media (max-width $screen-md-max),(max-height 850px )
            left: 0
            &:before
              width: 50px;
              height: 57px;
          img
            @media (max-width $screen-md-max),(max-height 850px )
              bottom: -2px;
      &:nth-child(3)
        .advantages-text
          position: relative
          left: 29px;
          top: 0px;
          &:after
            left: -69px;
            top: -33%;
        @media (max-width $screen-md-max),(max-height 850px )
          position: relative;
          left: -5px;
          .advantages-text
            position: relative;
            left: 14px;
            top: 10px;
            letter-spacing: 0.2px;
            &:after
              width: 15px;
              left: -36px;
              top: -35%;
        .advantages-img
          background url('../img/adv6/bg.png')no-repeat;
          background-size cover
          position: relative;
          left: -5px;
          &:before
            // top: 0;
            // left: 0;
            // right: 0;
            // background: url("../img/adv6/stroke.png") no-repeat;
            // background-size: cover;
            // z-index: 1;
            content ''
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0
            margin auto
            width: 56px;
            height: 78px;
            transform: translateY(3px);
            background url('../img/adv6/stroke.svg')no-repeat;
            z-index: 1
          @media (max-width $screen-md-max),(max-height 850px )
            left: 0
            &:before
              width: 39px;
              height: 57px;
    .advantages-items
      width: 33.33333%
      display: inline-block
      text-align: center
      margin-bottom: 42px;
      &:hover
        .advantages-img
          transform: scale(1.1);
          transition .2s
      // @media (max-width 1600px){
      //   margin-bottom: 48px;
      // }
      @media (max-height 750px){
        margin-bottom: 49px;
      }

      .advantages-img
        transform: scale(1);
        transition .2s
      &.fill-start
        .advantages-img
          .wrap-fill
            height: 100% !important
            transition height .7s ease !important;
      span
        font-family:proximaNovaRegular
        font-size: 24px
        // line-height: 29px
        line-height: 28px;
        display: block
        text-align left
        margin: 37px auto 0
        position: relative
        left: 29px
        top: 5px
        letter-spacing: 0.3px;
        &:after
          content ''
          position: absolute
          height: 1 px
          width: 19px
          background #ccbb9c
          left: -61px
          right: 0
          top: -36%
          margin auto
        // @media (max-width 1600px)
        //   font-size: 18px
        //   line-height 20px
        //   margin-top: 21px;
        //   padding-left: 0
        //   &:after
        //     display: none
        @media (max-width $screen-md-max),(max-height 850px )
          font-size 15px
          line-height 16px
          margin: 24px auto 0
    .top-line-wrap
      position: absolute
      top: 0
      left: 0
      right: 0
      overflow: hidden
    .top-line
      position: relative
      margin auto
      display: block
      width: 82%
      height: 1px
      &:before
        content: ''
        height: 1px
        width: 999px
        background: #c1ab84
        display: block
        position: absolute
        left: 0
        transform: translateX(-100%)
      &:after
        content: ''
        height: 1px
        width: 999px
        background: #c1ab84
        display: block
        position: absolute
        right: 0
        transform: translateX(100%)
      @media (max-width $screen-md-max),(max-height 850px )
        width: 86%;
    .bottom-line-wrap
      position: absolute
      bottom: 0
      left: 0
      right: 0
      overflow: hidden
    .bottom-line
      position: relative
      margin auto
      display: block
      width: 82%
      height: 1px
      &:before,&:after
        content: ''
        height: 1px
        width: 999px
        background: #c1ab84
        display: block
        position: absolute
      &:before
        left: 0
        transform: translateX(-100%)
      &:after
        right: 0
        transform: translateX(100%)
      @media (max-width $screen-md-max),(max-height 850px )
        width: 86%;
//*******************************************************************************************
//                                      Set-up
//*******************************************************************************************
.set-up
  &:before
    content: ''
    position absolute
    top: 250px;
    right: 200px;
    background: url(../img/letter-bg-n.png) no-repeat
    width 237px
    height 264px
    z-index 10
  @media (max-width $screen-md-max)
    &:before
      display none
  .background
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
    transform scale(1.2);
    max-width: inherit;
    transition-delay 1s
    transition  1s ease

    @media (max-height 850px )
      height auto
  .container-padding
    // padding-left: 304px
    padding-left: 341px;
    @media (max-width $screen-md-max),(max-height 850px )
      //padding-left: 165px;
      padding-left: 201px;
    @media (min-width $screen-md-max) and (max-height 850px)
      padding-left: 279px;
  .section-wrap
    margin-top: -35px;
    @media (max-width $screen-md-max),(max-height 850px )
      margin-top: -52px;
  .section-title
    color: #fff
    margin-bottom: 51px
    letter-spacing: 1px
    line-height: 54px;

    &:before
      background #fff
      //left: -10.1%;
      //top: 23px;

      left: -15.7%;
      top: 26px;
    @media (max-width $screen-md-max),(max-height 850px )
      font-family: proximaNovaSemiBold
      letter-spacing: 0.7px
      margin-bottom: 37px;
      &:before
        left: -10.3%;
        top: 25px;
      br
        display none
    @media (max-width: $screen-sm-max)
      &:before
        left: -14.3%;
  .set-up-tips
    // padding-left: 284px;
    padding-left: 321px;
    //padding-left: 330px;
    @media (max-width $screen-md-max),(max-height 850px )
      //padding-left: 147px;
      padding-left: 183px;
    @media (min-width $screen-md-max) and (max-height 850px)
      padding-left: 257px;
    ul
      list-style-type: none
      li
        color: #fff
        font-family: proximaNovaLight
        font-size: 30px
        line-height: 32px
        position: relative
        margin-bottom: 20px
        letter-spacing: 0.7px
        opacity: 0
        transition-delay 1s
        &:before
          content ''
          position: absolute
          sprite($corn)
          left: -51px
          top: 6px
        &:last-child
          margin-top: 29px
          line-height: 39px;
          letter-spacing: 0.9px;
          &:before
            left: -54px;
        @media (max-width $screen-md-max),(max-height 850px )
          font-size 20px
          line-height 41px
          margin-bottom: 0px;
          letter-spacing: 0.4px;
          &:before
            width 16px
            height 15px
            background: url(../img/corn-mobile.png) no-repeat;
            background-position: 0 0 ;
            left: -43px;
            top: 14px;
          &:last-child
            margin-top: 18px;
            line-height: 26px;
            letter-spacing: 0.4px;
            &:before
              top: 7px;
              left: -44px;
    .btn-rect
      margin-top: 52px
      opacity: 0
      transition-delay 1s
      position: relative;
      top: -4px;
      @media (max-width $screen-md-max),(max-height 850px )
        margin-top: 27px;
        position: relative;
        top: 2px;
        padding-top: 15px;
        letter-spacing: 1.8px;
        padding-right: 12px;
.set-up.active
  .background
    transform scale(1);
    transition 1s ease
    transition-delay 1s
  .set-up-tips
    ul
      li
        opacity 1
        transition opacity .4s ease
        transition-delay .7s
        //&:nth-child(2)
        //  transition-delay 1.5s
        //&:nth-child(3)
        //  transition-delay 2.2s
  .btn-rect
    opacity 1
    transition opacity .4s ease
    transition-delay 1s



.our-machines
  background url('../img/our-machines-bg.jpg')
  background-size cover
  background-position center center
  .container-padding
    // padding-left: 325px
    padding-left: 349px
    @media (max-width $screen-md-max),(max-height 850px )
      padding-left: 202px;
    @media (min-width $screen-md-max) and (max-height 850px)
      padding-left: 277px
  .section-wrap
    margin-top: -155px;
    margin-left: -17px;
    @media (max-width $screen-md-max),(max-height 850px )
      margin-top: -93px;
      margin-left: -3px;
  //  top: 50%
  //  transform: inherit;
  //  margin-top -18%
  //  @media (max-width: 1600px)
  //    top: 50%
  //    margin-top: -26%;
  //  @media (max-height 890px)
  //    top: 0%
  //    margin-top: 0%;
  .section-title
    padding-left: 2px
    letter-spacing: 2.8px
    margin-bottom: 25px;
    &:before
      left: -15%
      top: 20px
    @media (max-width $screen-md-max),(max-height 850px )
      font-size 26px
      line-height: 29px;
      letter-spacing: 1.5px;
      margin-bottom: 19px;
      &:before
        left: -10.3%;
        top: 13px;
    @media (max-width: $screen-sm-max)
      &:before
        left: -14.3%;
  .machines-container
    // padding-left: 284px;
    padding-left: 308px;
    // padding-right: 315px;
    padding-right 289px
    @media (max-width $screen-md-max),(max-height 850px )
      padding-left: 180px;
      padding-right: 176px;
  .our-machines-items
    .machine-list
      width: 33.333%
      float: left
      margin-bottom: 17px;
      position: relative
      @media (max-width: 1600px){
        margin-bottom: 0
        min-height: 174px;
      }
      &:nth-child(1)
        span
          position: relative
          left: -4px;
        @media (max-width $screen-md-max),(max-height 850px )
          span
            position: relative;
            left: -3px;
            top: -3px;
      &:nth-child(2)
        span
          position: relative
          left: 2px;
        @media (max-width $screen-md-max),(max-height 850px )
          span
            position: relative;
            left: -1px;
            top: -3px;
      &:nth-child(3)
        span
          position: relative
          left: -3px;
          padding-left: 52px;
          text-align: left;
          line-height: 20px;

        @media (max-width $screen-md-max),(max-height 850px )
          span
            padding-left: 37px;
            position: relative;
            top: -6px;
            left: 0
            text-align: left;
            line-height: 16px;
      &:nth-child(5)
        span
          position: relative;
          left: -3px;
        @media (max-width $screen-md-max),(max-height 850px )
          span
            position: relative;
            left: -1px;
            top: -1px;
      &:nth-child(6)
        span
          position: relative;
          left: -1px;
        @media (max-width $screen-md-max),(max-height 850px )
          span
            position: relative;
            left: -2px;
            top: 1px;
      span
        font-family proximaNovaLight
        font-size: 16px
        color: #000
        display: block
        text-align: center
        letter-spacing: 0.4px;
        position relative
        &:after
          content: ''
          position: absolute
          width: 15px
          background: #d0c2a8
          height: 1px
          left: 3px
          right: 0
          margin: auto
          transform: translateY(-13px)
          top 0
          @media (max-height 800px)
            display: none
        @media (max-width $screen-md-max),(max-height 850px )
          font-size 14px
          line-height 11px

      .img-wrap
        border-radius 50%
        border 1px solid #bababa
        padding 6px
        position: relative
        height 146px
        width: 146px
        box-sizing content-box
        overflow: hidden
        margin 0 auto
        margin-bottom: 30px;
        z-index: 3
        @media (max-width $screen-md-max),(max-height 850px )
          height: 110px;
          width: 110px;
        @media (max-height 800px)
          height: 110px;
          width: 110px;
          margin-bottom: 10px;
        @media (max-height 650px)
          margin-bottom: 22px;
        .img-bg-wrap
          background: #7D7D7D
          width: 100%;
          height: 100%;
          border-radius: 50%;
          // border: 1px solid #EBEBEB;
          position: relative
          overflow: hidden;
          z-index: 2
          img
            //position: absolute
            //top: 0
            //right: 0
            //bottom: 0
            //left: 0
            //margin auto
            opacity: 0.7
            transform scale(1.1)
            transition .2s ease
            z-index: 1
          &:hover
            img
              opacity: 1
              //height: 110%
              transform scale(1)
              transition .2s ease


  .partners
    position: absolute
    bottom: 82px;
    left: -15px;
    right: 0
    @media (max-width $screen-md-max),(max-height 850px )
      bottom: 58px;
      left: 1px;
    @media (max-width: $screen-sm-max)
      >.container
        padding-left: 155px;
    .title-partners
      text-transform: uppercase
      font-size: 24px
      font-family:proximaNovaBold
      letter-spacing: .83px
      margin-bottom: 20px
      @media (max-width $screen-md-max),(max-height 850px )
        font-size 16px
        line-height 13px
        text-transform: inherit;
        letter-spacing: 0.3px;
        margin-bottom: 10px;
    a
      transition .2s ease
      @media (max-width $screen-md-max),(max-height 850px )
        width: 78px;
        display: inline-block;
        &:not(:last-child)
          margin-right: 49px;
      @media (max-width: $screen-sm-max)
        margin-right: 37px;
      &:not(:last-child)
        margin-right: 50px
      &:hover
        opacity: 0.5
        transition .2s ease
    .partners-list
      a
        &:nth-child(4)
          position: relative;
          top: -4px;
          @media (max-width $screen-md-max),(max-height 850px )
            top: 0
        &:nth-child(2)
          img
            width: 96px;
            position: relative;
            left: 4px;
            margin-right: 3px;


.main-page .section.fixed
  height: 600px !important


.bg-wrapper
  width 100%
  overflow hidden
