.our-machines
  .half-wrap
    &:nth-child(1)
      background #832a39
    &:nth-child(2)
      background url(../img/our-machines-catalog.jpg)
      background-size cover
.accompanying
  .half-wrap
    &:nth-child(1)
      background #832a39
    &:nth-child(2)
      background url(../img/accompanying-catalog.jpg)
      background-size cover
    .catalog-title
      top: 289px
      .title
        letter-spacing: 7px
.ingridients
  .half-wrap
    &:nth-child(1)
      background #832a39
    &:nth-child(2)
      background url(../img/ingridients-catalog.jpg)
      background-size cover
  .catalog-title
    top: 355px
    @media (max-width:1500px)
      top @top * 0.66

.catalog-main-wrapper
  position: relative
  padding-bottom: 169px
  &:before
    content 'N'
    font-size: 395px
    font-family:proximaNovaBold
    color: $darkGold
    position: absolute
    right: -1%
    top: 38%
    opacity: 0.07
.catalog-items
  transition .2s ease
  overflow: hidden
  position: relative
  padding-top: 48px

  .catalog-menu
    position: absolute
    top: 23px
    left: -250px
    transition .2s
    border-top 1px solid #cdcdcd
    border-bottom 1px solid #cdcdcd
    padding: 25px 7px
    ul
      margin-bottom: 0
      li
        &:not(:last-child)
          margin-bottom: 20px
        a
          color: #454545
          font-size: 16px
          font-family:proximaNovaRegular
          letter-spacing: 0.7px
    @media (max-width: $screen-md-max)
      padding-top: 15px
      ul
        li
          a
            font-size: 10px
    &.show
      left: 0
      transition .2s

  @media (min-width 1700px)
    width: 1650px
  @media (min-width 1360px) and (max-width: 1700px)
    width: 1225px
  @media (min-width 1150px) and (max-width: 1360px)
    width: 1100px
  &.active
    padding-left: 217px
    transition: 0.2s ease
    padding-right: 0
    position: relative
    left: 16px
    @media (max-width:$screen-md-max)
      padding-left: 130px
      .catalog-item
        height: 400px
        margin-bottom: 40px
    @media (max-width:$screen-sm-max)
      .catalog-item
        //height: 340px
      .new-item
        //height: 340px
  .catalog-item
    width: 33.333333%
    float: left
    padding 0 41px
    text-align: center
    margin-bottom: 108px
    height: 480px
    @media (max-width:$screen-md-max)
      padding: 0 24px
      height: 316px
      margin-bottom: 71px
    @media (max-width 1150px)
      padding: 0 15px
      height: 357px;
    @media (max-width: $screen-sm-max)
      width: 50%
      margin-bottom: 50px
      //min-height: 391px
    .item-wrapper
      border 1px solid #e5e5e5
      position: relative
      padding-top: 48px
      padding-bottom: 68px
      transition .2s ease
      overflow: hidden
      height: 100%
      background: #fff
      @media (max-width:$screen-md-max)
        padding-top: 29px
        padding-bottom: 40px
      .item-img
        transition .2s
        position: relative;
        @media (max-width:$screen-md-max)
          max-width: 67%
        @media (max-width: $screen-sm-max)
          max-width: 100%
      .catalog-machine-name
        font-family: proximaNovaSemiBold
        font-size: 19px
        color: #303030
        margin-top: 61px
        letter-spacing: 1px
        position: relative;
        @media (max-width: $screen-md-max)
          font-size: 11px
          margin-top: 36px
        @media (max-width: $screen-sm-max)
          margin-top: 18px;
      &:before
        content: ''
        position: absolute
        width: 113%
        height: 113%
        border: 1px solid #e5e5e5
        top: -6.7%
        bottom: 0
        left: -6.2%
        right: 0
        box-shadow: 0px 10px 16px 0px rgba(173, 178, 199, 0.29)
        opacity: 0
        transition .2s ease
        background #fff
        z-index 0
      &:hover
        border-color transparent
        transition .2s ease
        overflow: visible
        &:before
          opacity: 1
          transition .2s ease
        .item-img
          margin-top: -35px
          transition .2s
        .btn-rect
          //display: block
          bottom: 0
          opacity: 1
          transition bottom .2s opacity .2s
          transition-delay bottom .2s opacity .2s

      .btn-rect
        //display: none
        opacity: 0
        position: absolute
        bottom: -100px
        left: 0
        right: 0
        border-color: $darkGold
        color: #676767
        width: 251px
        min-width: inherit
        min-height: 48px
        margin: 44px auto 0
        font-size: 13px
        letter-spacing: 2.1px
        padding-top: 13px
        padding-left: 3px
        transition .2s
        &:hover
          background $darkRed
          border-color $darkRed
          color #fff
        @media (max-width: $screen-md-max)
          width: 150px
          font-size: 8px
          padding-top: 8px
          min-height: 29px
        @media (max-width: 1150px)
          width: 100%
          padding-top: 12px;
        @media (max-width: $screen-sm-max)
          font-size: 10px
          min-height: 40px

.new-item
  width: 33.333333%
  float: left
  padding 0 41px
  text-align: center
  margin-bottom: 50px
  @media (max-width:$screen-md-max)
    padding: 0 24px
    height: 316px
    margin-bottom: 71px
  @media (max-width 1150px)
    padding: 0 15px
    height: 357px;
  @media (max-width: $screen-sm-max)
    width: 50%
    margin-bottom: 50px
    padding: 0 15px

  .item-wrapper
    border 1px solid #e5e5e5
    position: relative
    padding-top: 48px
    padding-bottom: 68px
    transition .2s ease
    overflow: hidden
    height: 100%
    background: #fff;
    @media (max-width:$screen-md-max)
      padding-top: 29px
      padding-bottom: 40px

    .overlay-item
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      z-index: 1
      font-size: 19px
      line-height: 25px
      font-family:proximaNovaSemiBold
      text-align: center
      span
        position: absolute
        top: 46%
        left: 0
        right: 0
    .item-img
      transition .2s
      opacity: 0.16
      @media (max-width:$screen-md-max)
        width: 67%
    .catalog-machine-name
      font-family: proximaNovaSemiBold
      font-size: 19px
      color: #303030
      margin-top: 61px
      letter-spacing: 1px
      opacity: 0.16
      @media (max-width: $screen-md-max)
        font-size: 11px
        margin-top: 36px


.scroll-top-btn
  font-size: 16px
  font-family:proximaNovaRegular
  color: #000
  margin-right: 20px
  margin-top: -10px
  &:after
    content url(../img/topArrow.png)
    position: relative
    display: inline-block
    margin-left: 17px


.navigation-wrapper
  margin-top: 141px
  @media (min-width 1700px)
    width: 1650px
  @media (min-width 1360px) and (max-width: 1700px)
    width: 1225px
  @media (min-width 1150px) and (max-width: 1360px)
    width: 1100px
  a
    position: relative
    z-index: 1
    color: #454545
    font-size: 16px
    font-family:proximaNovaRegular
    margin-left: 41px;
    transition .2s
    &:before
      content url('../img/MenuIcon.png')
      position: relative
      display: inline-block
      margin-right: 14px
    &.active
      margin-left: 5px
      transition .2s
    @media (max-width: $screen-md-max)
      font-size: 13px
      margin-left: 25px;

.content-pop-up
  max-width: 975px;
  margin: 82px auto 141px;
  @media (max-width: 1500px)
    max-width @max-width *0.66
    margin: 19px auto 20px;
  .title-pop-up
    h2
      font-family: proximaNovaBold
      font-size: 30px;
      text-transform: uppercase;
      color: #303030;
      text-align: center;
      line-height: 34px;
      margin-bottom: 112px;
      letter-spacing: 1.3px
      @media (max-width: 1500px)
        font-size @font-size *0.66
        margin-bottom: 23px;
  .wrapper-pop-up
    margin-bottom: 80px
    &.center-img
      text-align center
      .wrapper-img-pop
        float none
    @media (max-width: 1500px)
      margin-bottom 30px
    .wrapper-img-pop
      margin-left: 16px;
      float: left;
      @media (max-width: 1500px)
        margin-left @margin-left *0.59
      img
        max-width: 100%
        @media (max-width: 1500px)
          max-width @max-width *0.66
    .wrapper-graf-pop
      display: inline-block;
      float: right;
      vertical-align: top;
      margin-right: 168px;
      margin-top: 20px;
      position relative
      @media (max-width: 1500px)
        margin-right: 30px;
      img
        max-width: 100%
        display: block;
        margin: 0 auto;
        @media (max-width: 1500px)
          max-width @max-width *0.66
      .numb-graf
        position: absolute;
        top 32px;
        margin: 0 auto;
        left: 0px
        right: 28px
        text-align: center;
        font-size: 10px
        line-height: 8px
        color: #fff
        font-family:ProximaNovaRegular
        @media (max-width: 1500px)
          top @top *0.66
          line-height @line-height *0.66
        p
          &:first-child
            color: #000
      .graf-info
        position: absolute;
        top 0
        right 50%
        margin: 0 auto;
        list-style-type none
        li
          position absolute
          left 0
          right 0
          margin: auto;
          font-size: 10px
          white-space: nowrap;
          font-family: proximaNovaRegular

          &:nth-child(1)
            transform:translateY(-3em) translateX(-5em);

          &:nth-child(2)
            transform: translateY(0em) translateX(-14em);
          &:nth-child(3)
            transform: translateY(0em) translateX(8em);

          &:nth-child(4)
            transform: translateY(4em) translateX(-17em);
          &:nth-child(5)
            transform: translateY(4em) translateX(12em);

          &:nth-child(6)
            transform: translateY(10em) translateX(-23em);
          &:nth-child(7)
            transform: translateY(10em) translateX(16em);

          &:nth-child(8)
            transform: translateY(16em) translateX(-23em);
          &:nth-child(9)
            transform: translateY(17em) translateX(17em);

          &:nth-child(10)
            transform: translateY(23em) translateX(-19em);
          &:nth-child(11)
            transform: translateY(23em) translateX(14em);

          &:nth-child(12)
            transform: translateY(29em) translateX(-14em);
          &:nth-child(13)
            transform: translateY(28em) translateX(10em);

          &:nth-child(14)
            transform: translateY(33em) translateX(-8em);
          &:nth-child(15)
            transform: translateY(32em) translateX(4em);

          @media (max-width 1500px)
            &:nth-child(1)
              transform:translateY(-3em) translateX(-2em);

            &:nth-child(2)
              transform: translateY(-1em) translateX(-10em);
            &:nth-child(3)
              transform: translateY(-1em) translateX(5em);

            &:nth-child(4)
              transform: translateY(2em) translateX(-13em);
            &:nth-child(5)
              transform: translateY(2em) translateX(8em);

            &:nth-child(6)
              transform: translateY(5em) translateX(-17em);
            &:nth-child(7)
              transform: translateY(6em) translateX(11em);

            &:nth-child(8)
              transform: translateY(10em) translateX(-18em);
            &:nth-child(9)
              transform: translateY(10em) translateX(11em);

            &:nth-child(10)
              transform: translateY(15em) translateX(-14em);
            &:nth-child(11)
              transform: translateY(15em) translateX(10em);

            &:nth-child(12)
              transform: translateY(19em) translateX(-11em);
            &:nth-child(13)
              transform: translateY(18em) translateX(7em);

            &:nth-child(14)
              transform: translateY(21em) translateX(-8em);
            &:nth-child(15)
              transform: translateY(21em) translateX(3em);


  .wrapp-pop-info
    padding: 0px 13px
    @media (max-width 1500px)
      padding  0 7px
    h2
      font-size: 30px;
      font-family: proximaNovaBold
      letter-spacing: 1px
      margin-bottom: 45px
      @media (max-width: 1500px)
        font-size @font-size *0.66
        margin-bottom @margin-bottom *0.66

    .pop-up-info
      display:inline-block;
      float: left;
      // margin-right: 64px;
      max-width 50%
      @media (max-width: 1500px)
        margin-right: 17px
      .content-info-pop
        display: inline-block;
        font-family: proximaNovaRegular
        font-size: 25px;
        letter-spacing: 1.2px;
        line-height: 31px
        position: relative;
        margin-bottom: 24px
        @media (max-width: 1500px)
          font-size @font-size *0.66
          line-height @line-height *0.66
        &:before
          content: '';
          background: $darkGold;
          height: 4px;
          width: 39px;
          position: absolute;
          top: -23px;
          left: 0;
          @media (max-width: 1500px)
            height @height *0.66
            width @width *0.66
            top -12px
        p
          margin-bottom: 53px;
          @media (max-width: 1500px)
            margin-bottom @margin-bottom *0.66
        span
          display: block;
          position: relative
          &:before
            content: '';
            background: $darkGold;
            height: 4px;
            width: 39px;
            position: absolute;
            top: -20px;
            left: 0;
            @media (max-width: 1500px)
              height @height *0.66
              width @width *0.66
              top: -11px;
    .pop-up-ul
      display: inline-block;
      font-size: 25px;
      font-family: proximaNovaRegular
      letter-spacing: 1.2px;
      float: right;
      @media (max-width: 1500px)
        font-size @font-size *0.66
      .fortress
        margin-bottom: 20px
        @media (max-width: 1500px)
          margin-bottom @margin-bottom *0.66
        img
          max-width: 100%
          margin-left: 23px
          @media (max-width: 1500px)
            max-width @max-width *0.66
            margin-left @margin-left *0.66
  .pop-up-button
    margin-top: 16px;
    width: 338px;
    min-height: 60px;
    padding-top: 17px;
    color: $darkGold;
    text-transform: uppercase;
    font-size: 15px
    font-family: proximaNovaBold;
    background: #fff;
    transition: 0.2s ease;
    margin-left: 17px;
    letter-spacing: 3px;
    border: 2px solid $darkGold;
    display: block;
    text-align: center;
    &:hover
      border-color: $darkRed
      color #fff
    @media (max-width: 1500px)
      width @width *0.66
      font-size @font-size *0.66
      min-height @min-height *0.66
      border:1px solid $darkGold;
      margin-top @margin-top *0.66
      margin-left @margin-left *0.66
      padding-top: 13px;
.wrapp-pop-info
  .pop-up-ul
    .wrapper-ops-pop-up
      color: #303030
      line-height: 33px;
      font-size: 25px
      width: 419px;
      position: relative;
      background: #fff;
      // overflow: hidden;
      @media (max-width: 1500px)
        font-size @font-size *0.66
        width @width *0.66
        margin-top: 0px
        line-height @line-height *0.66
      &:before
        content: '';
        position: absolute;
        display: block;
        bottom: 9px;
        left: 0;
        width: 100%;
        height: 2px;
        border-bottom: 2px dotted #000;
        z-index: 0;
        @media (max-width: 1500px)
          border-bottom @borden-bottom 1px dotted #000;
          bottom: 6px;
      .ops-pop-up
        float: left;
        background: #fff;
        position: relative;
        z-index: 1;
        padding-right: 2px;
        &:before
          content: '.';
          position: absolute;
          bottom: 15px;
          left: -30px;
          right: 5px;
          margin: auto;
          color: $darkRed;
          font-size: 53px;
          z-index: 3;
          @media (max-width: 1500px)
            left @left *0.66
      .info-ops
        float: right;
        background: #fff;
        position: relative;
        z-index: 1;
      .fortress
        margin-bottom: 20px;
