@font-face
  font-family: "ProximaNovaSemiBold"
  src: url("fonts/ProximaNovaSemiBold/ProximaNovaSemiBold.eot")  format("embedded-opentype")
  src:  url("fonts/ProximaNovaSemiBold/ProximaNovaSemiBold.eot?#iefix") format("embedded-opentype"),
       url("fonts/ProximaNovaSemiBold/ProximaNovaSemibold.ttf")  format("truetype"),
       url("fonts/ProximaNovaSemiBold/proximanovasemibold-webfont.woff")  format("woff")
  font-style: normal
  font-weight: normal
@font-face
  font-family: "ProximaNovaBold"
  src: url("fonts/ProximaNovaBold/ProximaNovaBold.eot") format("embedded-opentype")
  src: url("fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix") format("embedded-opentype"),
       url("fonts/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype"),
       url("fonts/ProximaNovaBold/proximanovabold-webfont.woff") format("woff")
  font-style: normal
  font-weight: normal
@font-face
  font-family: "ProximaNovaLight"
  src: url("fonts/ProximaNovaLight/ProximaNovaLight.eot")
  src: url("fonts/ProximaNovaLight/ProximaNovaLight.eot?#iefix") format("embedded-opentype"),
       url("fonts/ProximaNovaLight/ProximaNovaLight.ttf") format("truetype"),
       url("fonts/ProximaNovaLight/proximanovalight-webfont.woff") format("woff")
  font-style: normal
  font-weight: normal
@font-face
  font-family: "ProximaNovaRegular"
  src: url("fonts/ProximaNovaRegular/ProximaNovaRegular.eot")
  src: url("fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix") format("embedded-opentype"),
       url("fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype"),
       url("fonts/ProximaNovaRegular/proximanovaregular-webfont.woff") format("woff")
  font-style: normal
  font-weight: normal
@font-face
  font-family: "ProximaNovaThin"
  src: url("fonts/ProximaNovaThin/ProximaNovaThin.eot") format("embedded-opentype")
  src: url("fonts/ProximaNovaThin/ProximaNovaThin.eot?#iefix") format("embedded-opentype"),
       url("fonts/ProximaNovaThin/ProximaNovaThin.ttf") format("truetype"),
       url("fonts/ProximaNovaThin/proximanovathin-webfont.woff") format("woff")
  font-style: normal
  font-weight: normal

proximaNovaRegular = "ProximaNova Regular", Arial, sans-serif
proximaNovaSemiBold = "ProximaNovaSemiBold", Arial, sans-serif
proximaNovaBold = "ProximaNovaBold", Arial, sans-serif
proximaNovaLight = "ProximaNovaLight", Arial, sans-serif
proximaNovaThin = "ProximaNovaThin", Arial, sans-serif
