@@include('../chunks/head.html')
</head>

<body ng-app="App">

<div id="page-wrapper" class="page-wrapper about-new">
  @@include('../chunks/offer-pop-up.html')
    <div id="about-fullpage">
        <header id="header" class="wrapper header section section-parent">
            @@include('../chunks/header-menu.html')
            @@include('../chunks/header-about.html')

        </header>
        @@include('../chunks/about.html')
        <div class="section geography section-parent footer-wrapper">
            @@include('../chunks/footer-about.html')

        </div>
        @@include('../chunks/footer-menu.html')
    </div>
</div>
@@include('../chunks/scripts-angular-select2.html')
<script src="js/about.js"></script>
</body>
</html>
