@@include('../chunks/head.html')
</head>

<body ng-app="App">

<div id="page-wrapper" class="page-wrapper">
    <header id="header" class="wrapper header section">
        @@include('../chunks/header-menu.html')
        @@include('../chunks/accompanying-header.html')
    </header>
    @@include('../chunks/offer-pop-up.html')

    @@include('../chunks/accompanying.html')

    <div class="section section-style geography static-footer">
        @@include('../chunks/footer-menu.html')
    </div>


    <!-- <div id="page-body" class="page-body"> -->

    <!-- </div> -->


</div>


<!-- scripts
___________________________________________________________________________-->

@@include('../chunks/scripts-angular-select2.html')
</body>
</html>
