@@include('../chunks/head.html')
</head>

<body ng-app="App">

<div id="page-wrapper" class="page-wrapper articles-main">
    @@include('../chunks/articles-svg.html')
    <header id="header" class="wrapper header section">
        @@include('../chunks/header-menu.html')
        @@include('../chunks/articles-header.html')
    </header>
    @@include('../chunks/offer-pop-up.html')
    <div id="page-body" class="page-body">
        @@include('../chunks/articles.html')
    </div>

    <div class="section section-style geography static-footer">
        @@include('../chunks/footer-menu.html')
    </div>


    <!-- <div id="page-body" class="page-body"> -->

    <!-- </div> -->


</div>


<!-- scripts
___________________________________________________________________________-->

@@include('../chunks/scripts-angular-select2.html')
<script src="js/classie.js"></script>
<script src="js/svg.js"></script>
</body>
</html>
