@@include('../chunks/head.html')
</head>
<body ng-app="App">
<div id="page-wrapper" class="page-wrapper calculation">
    <header id="header" class="wrapper header section black">
        @@include('../chunks/header-menu.html')
        @@include('../chunks/item-detail-header.html')
    </header>
    @@include('../chunks/offer-pop-up.html')
    <div class="page-body" id="page-body">
        @@include('../chunks/calculation-cafe.html')
    </div>
    <div class="section section-style geography static-footer">
        @@include('../chunks/footer-menu.html')
    </div>
</div>
@@include('../chunks/scripts-angular-select2.html')
</body>
</html>
