@@include('../chunks/head.html')
</head>
<body ng-app="App">
<div id="page-wrapper" class="page-wrapper find-solution">
    <header id="header" class="wrapper header section black">
        @@include('../chunks/header-menu.html')
    </header>
    @@include('../chunks/offer-pop-up.html')

    <div id="page-body" class="page-body">
        @@include('../chunks/find-solution.html')
    </div>

    <div class="section section-style geography static-footer">
        @@include('../chunks/footer-menu.html')
    </div>
</div>
@@include('../chunks/scripts-angular-select2.html')
</body>
</html>
