@@include('../chunks/head.html')
</head>

<body ng-app="App">
<div id="page-wrapper" class="page-wrapper main-page">
  @@include('../chunks/offer-pop-up.html')
  <div id="fullpage">
      <header id="header" class="wrapper header section">
          @@include('../chunks/header-menu.html')
          @@include('../chunks/header-index.html')
      </header>
      @@include('../chunks/index.html')
      <div class="section section-style geography">
          @@include('../chunks/footer-index.html')
          @@include('../chunks/footer-menu.html')
      </div>
  </div>
  <!-- <div id="page-body" class="page-body"> -->

  <!-- </div> -->
</div>


<!-- scripts
___________________________________________________________________________-->

@@include('../chunks/scripts-angular-select2.html')
</body>
</html>
