@@include('../chunks/head.html')
</head>
<body ng-app="App">
<div id="page-wrapper" class="page-wrapper">
    @@include('../chunks/overlay-api.html')
    <header id="header" class="wrapper header section">
        @@include('../chunks/header-menu.html')
        @@include('../chunks/item-detail-header.html')
    </header>
    @@include('../chunks/offer-pop-up.html')
    @@include('../chunks/nescafe_alegria_8_40.html')
    <div class="section section-style geography static-footer">
        @@include('../chunks/footer-menu.html')
    </div>
</div>
@@include('../chunks/scripts-angular-select2.html')
</body>
</html>
