<div class="section about-section section-parent"  >
    <img src="img/about-section-2.jpg" alt="" class="bg-img js-img aspect-ratio" >
    <div class="container">
        <div class="about-title">
            <div class="title">
                nestlÉ
                <br> professional
            </div>
            <div class="sub-title">
                Nestlé Professional –подразделение,
                <br> предоставляющее удобные и современные
                <br> решения для индустрии питания вне дома.
            </div>
            <a href="#second-info" class="btn-rect js-show-detail">Узнать больше</a>
        </div>
    </div>

    <div class="detail-info-about second-info " id="second-info">
        <div class="info-wrap clearfix">
            <div class="about-content container">
                <div class="info-half">
                    <div class="text-wrap">
                        <h3 class="text-title line">NestlÉ professional</h3>
                        <p class="main-text">
                            Nestlé Professional – подразделение,
                            <br> предоставляющее удобные
                            <br> и современные решения для индустрии
                            <br> питания вне дома.
                        </p>
                    </div>
                </div>
                <div class="info-half">
                    <div class="img-wrap-about pull-right">
                        <img src="img/about-4.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="info-wrap clearfix">
            <div class="about-content container clearfix list-work container">
                <h2 class="title-list">В своей работе мы стремимся:</h2>

                <div class="list-items">
                    Использовать глобальный опыт Nestlé
                    <br> в разработке новых прибыльных бизнес-
                    <br> идей для наших партнеров;
                </div>
                <div class="info-half list-items">
                    Построить доверительные
                    <br> партнерские отношения с клиентами;
                </div>
                <div class="info-half list-items">
                    Использовать преимущества наших
                    <br> брендов, продуктов и систем, чтобы
                    <br>поддерживать успешность бизнеса
                    <br> и удовлетворенность гостей и конечных
                    <br> потребителей.
                </div>
            </div>
        </div>
        <div class="screen-title">
            <div class="about-content container">
                <div class="screen-title-wrap">
                    <span>
                    Благодаря этим принципам, Nestlé Professional позволяет
                    <br> каждому нашему клиенту - партнеру индустрии
                    <br> обслуживания чувствовать за спиной поддержку
                    <br> крупной компании.
                    </span>
                </div>
            </div>
        </div>

        <div class="info-wrap clearfix alegria-bg">
            <div class="about-content container ">
                <div class="info-half">
                    <div class="text-wrap">
                        <h3 class="text-title line">оптимальные <br> решения</h3>

                        <p class="main-text">
                            Компании, которая не только предлагает
                            <br> оптимальные решения уникальных
                            <br> бизнес-задач но и оценивает возможности
                            <br> и перспективы с тем, чтобы работать
                            <br> вместе, расти, ставить амбициозные цели
                            <br> и преуспевать в их достижении.
                        </p>
                    </div>
                </div>
                <div class="info-half">
                    <div class="img-wrap-about pull-right">
                        <img src="img/about-5.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

