<div class="catalog-main-wrapper">
    <div class="navigation-wrapper container">
        <a href="#" class="js-show-category">Категории</a>
    </div>
    <div class="catalog-items container">
        <div class="catalog-menu">
            <ul>
                <li><a href="our-machines.html">Кофемашины</a></li>
                <li><a href="ingredients.html">Ингредиенты</a></li>
            </ul>
        </div>
        <div class="catalog-item matchHeight">
            <div class="item-wrapper">
                <img src="img/accompanying-catalog-1.jpg" alt="" class="item-img">

                <div class="catalog-machine-name">
                    Пластиковый стакан <br>
                    с бумажной крышкой
                </div>
                <a href="" class="btn-rect">Подробнее</a>
            </div>
        </div>
        <div class="catalog-item matchHeight">
            <div class="item-wrapper">
                <img src="img/accompanying-catalog-2.jpg" alt="" class="item-img">

                <div class="catalog-machine-name">
                    Espresso Lungo 3319
                </div>
                <a href="" class="btn-rect">Подробнее</a>
            </div>
        </div>
        <div class="catalog-item matchHeight">
            <div class="item-wrapper">
                <img src="img/accompanying-catalog-3.jpg" alt="" class="item-img">

                <div class="catalog-machine-name">
                    Пластиковый стакан <br>
                    с бумажной крышкой
                </div>
                <a href="" class="btn-rect">Подробнее</a>
            </div>
        </div>
        <div class="catalog-item matchHeight">
            <div class="item-wrapper">
                <img src="img/accompanying-catalog-4.jpg" alt="" class="item-img">

                <div class="catalog-machine-name">
                    Дорожная кружка
                </div>
                <a href="" class="btn-rect">Подробнее</a>
            </div>
        </div>
        <div class="catalog-item matchHeight">
            <div class="item-wrapper">
                <img src="img/accompanying-catalog-5.jpg" alt="" class="item-img">

                <div class="catalog-machine-name">
                    NESCAFÉ® Alegria Dairy
                    Сухое молоко
                </div>
                <a href="" class="btn-rect">Подробнее</a>
            </div>
        </div>
        <div class="catalog-item matchHeight">
            <div class="item-wrapper">
                <img src="img/accompanying-catalog-6.jpg" alt="" class="item-img">

                <div class="catalog-machine-name">
                    Сахарные стики
                </div>
                <a href="" class="btn-rect">Подробнее</a>
            </div>
        </div>
    </div>
    <div class="container">
        <a href="#" class="js-scroll-top scroll-top-btn pull-right">Наверх</a>
    </div>
</div>
