<div class="catalog-head-wrap accompanying">
    <div class="half-wrap">

    </div>
    <div class="half-wrap image">

    </div>
    <div class="container">
        <div class="catalog-title">
            <div class="title">
                сопутствующие <br>
                товары
            </div>
        </div>
    </div>
    <div class="container btn-container">
        <a href="#" class="scroll-icon js-scroll">
            <img src="img/mouse-scroll.png" alt="">
        </a>
    </div>
</div>