<section class="article-body" ng-controller="articleController">
    <div class="article-wrapper">
    </div>
    <!--<div class="article-wrap container right-img-wrapper extra-padding">-->
        <!--<div class="article-text-wrapper">-->
            <!--<div class="article-title line">-->
                <!--Аренда кофемашины как способ-->
                <!--<br> получить дополнительную-->
                <!--<br> прибыль-->
            <!--</div>-->
            <!--<div class="article-text">-->
                <!--<b>Аренда кофемашины</b> – одна из немногих-->
                <!--<br> возможностей, за счет которой владелец-->
                <!--<br> бизнеса может расширить перечень услуг-->
                <!--<br> и увеличить доходы. Продажа горячих напитков,-->
                <!--<br> приготовленных на профессиональном-->
                <!--<br> оборудовании, привлечет новых клиентов в-->
                <!--<br> кофейни, столовые, фастфуд, гостиницы, АЗС,-->
                <!--<br> офисы – в любой сфере деятельности аренда-->
                <!--<br> кофемашины поможет оживить бизнес,-->
                <!--<br> вдохновить сотрудников-->
                <!--<br> и привлечь новых клиентов.-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="article-img-wrapper">-->
            <!--<div class="img-wrapper">-->
                <!--<img src="img/article-1.jpg" alt="">-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="article-wrap container left-img-wrapper nescafe-bg">-->
        <!--<div class="article-img-wrapper">-->
            <!--<div class="img-wrapper">-->
                <!--<img src="img/article-2.jpg" alt="" class="shadow">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="article-text-wrapper">-->
            <!--<div class="article-title line">-->
                <!--Преимущества очевидны-->
            <!--</div>-->
            <!--<div class="article-text">-->
                <!--<ul class=article-list>-->
                    <!--<li><span class="list-pin"></span>Заказав аренду кофемашины, вы сможете:</li>-->
                    <!--<li><span class="list-pin"></span>Пользоваться фирменным оборудованием;</li>-->
                    <!--<li><span class="list-pin"></span>Удивлять клиентов ассортиментом и качеством;</li>-->
                    <!--<li><span class="list-pin"></span>Экономить на расходе ингредиентов-->
                        <!--<br> и вести учет проданных напитков;</li>-->
                    <!--<li><span class="list-pin"></span>Упростить процедуру и уменьшить скорость приготовления кофе.</li>-->
                    <!--<li><span class="list-pin"></span>Преимущества очевидны, но как осуществить задуманное?</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="grey-info-section nescafe-bg">-->
        <!--<div class="border-wrap text-center">-->
            <!--<img src="img/article-3.png" alt="" class="right-img">-->
            <!--<img src="img/article-4.png" alt="" class="left-img">-->
            <!--<div class="info-section-title">-->
                <!--Ищем поставщика-->
            <!--</div>-->
            <!--<div class="info-section-text">-->
                <!--Наибольшие плоды бизнес-идея принесет при использовании-->
                <!--<br> современного, надежного оборудования и качественного-->
                <!--<br> сырья. Сотрудники должны иметь возможность приготовить-->
                <!--<br> натуральный кофе быстро, без создания очередей. И только-->
                <!--<br> профессиональные кофемашины способны справиться-->
                <!--<br> с этой задачей.-->
                <!--<br>-->
                <!--<br> Заказывать аренду кофемашины лучше в компании, где не-->
                <!--<br> только предоставляют качественное оборудование, но и-->
                <!--<br> оказывают оперативную техническую помощь. Вероятность-->
                <!--<br> поломок минимальна, а если и возникнут неполадки,-->
                <!--<br> то будут незамедлительно устранены.-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="article-wrap container right-img-wrapper third-info-article">-->
        <!--<div class="article-text-wrapper">-->
            <!--<div class="article-title line">-->
                <!--Удивляем потребителя-->
            <!--</div>-->
            <!--<div class="article-text">-->
                <!--Потребителя ваших услуг нужно постоянно-->
                <!--<br> удивлять. С арендуемой кофемашиной это-->
                <!--<br> становится возможным.-->
                <!--<br>-->
                <!--<br> Кофе дарит современному человеку бодрость,-->
                <!--<br> активизацию умственной и физической-->
                <!--<br> деятельности, а вместе с тем и минуты-->
                <!--<br> наслаждения любимым вкусом. И у каждого он-->
                <!--<br> свой. Терпкий бодрящий ристретто, горячий-->
                <!--<br> какао, традиционный мокачино, густая-->
                <!--<br> молочная пенка капучино, капучино с-->
                <!--<br> упоительным ароматом ванили, специальный-->
                <!--<br> купаж в духе лучших американских традиций,-->
                <!--<br> воплотившийся в умеренном вкусе и ярком-->
                <!--<br> аромате бодрящего американо, оригинальный-->
                <!--<br> многослойный коктейль латте, итальянский-->
                <!--<br> эспрессо, теперь с нотками изысканных-->
                <!--<br> фруктов – одно название любого из этих-->
                <!--<br> напитков, не говоря уже о многообещающих-->
                <!--<br> описаниях, зазывает даже искушенных-->
                <!--<br> клиентов, манит попробовать.-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="article-img-wrapper">-->
            <!--<div class="img-wrapper">-->
                <!--<img src="img/article-5.jpg" alt="">-->
            <!--</div>-->
            <!--<img src="img/article-beans.png" alt="" class="article-beans">-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="grey-info-section second-info-article">-->
        <!--<div class="info-item">-->
            <!--<img src="img/info-item-1.png" alt="" class="info-item-img">-->
            <!--<span class="info-item-text">-->
              <!--Доступное техобслуживание <br>-->
              <!--(ремонт без задержек <br>-->
              <!--и проволочек)-->
            <!--</span>-->
        <!--</div>-->
        <!--<div class="info-item">-->
            <!--<img src="img/info-item-2.png" alt="" class="info-item-img">-->
            <!--<span class="info-item-text">-->
               <!--Маркетинговую-->
              <!--<br> поддержку-->
            <!--</span>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="article-wrap container left-img-wrapper last-article-info">-->
        <!--<div class="article-img-wrapper">-->
            <!--<div class="img-wrapper">-->
                <!--<img src="img/article-6.jpg" alt="">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="article-text-wrapper">-->
            <!--<div class="article-text">-->
                <!--С одним лишь условием: покупка оригинальных <br>-->
                <!--ингредиентов. Даже расчет необходимого <br>-->
                <!--объема закупки мы сделаем за вас. Такое <br>-->
                <!--сотрудничество позволит вам реализовать <br>-->
                <!--новую бизнес-идею без затрат на <br>-->
                <!--дорогостоящую покупку или аренду <br>-->
                <!--кофемашин. <br><br>-->
                <!--<b>Аренда кофемашины</b> – это реальная <br>-->
                <!--возможность получить простую в эксплуатации, <br>-->
                <!--надежную и экономную помощницу для <br>-->
                <!--приготовления различных напитков высокого <br>-->
                <!--качества, для удовлетворения возникшего <br>-->
                <!--спроса.-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

</section>
