 <div class="main-calculation-wrap" ng-controller="calcController">
    <div class="steps container calculation-container" ng-class="{activeStep1 : showState == 'step1',activeStep2 : showState == 'step2',activeStep3 : showState == 'step3'}" ng-init="profileName = 'АЗС'">
        <div class="step-1 step">
            <span class="number">1</span>
            <span class="step-text">Вариант расчета</span>
        </div>
        <div class="step-2 step">
            <span class="number">2</span>
            <span class="step-text">выбрать меню</span>
        </div>
        <div class="step-3 step">
            <span class="number">3</span>
            <span class="step-text">рассчитать доход</span>
        </div>
    </div>
    <!-- Step-1 -->
    <div class="calculation-step-1" ng-show="showState === 'step1'" ng-init="tabState = 'cafe'">
        <div class="container calculation-container">
            <img src="img/step-img.png" alt="" class="step-img">
            <div class="slider-range-wrap">
                <div class="bread-crumbs">
                    <ul>
                        <li><a href="#">Выбрать профиль</a></li>
                        <li><span>АЗС</span></li>
                    </ul>
                </div>
                <span class="guests">Количество гостей <br>
                 в день</span>
                <div id="slider-range" slider-range-ui ng-model="sliderValue" min="5" max="100" value="20" >
                    <span class="count from">от 5</span>
                    <span class="count to">> 100</span>
                    <span class="number-slider"></span>
                </div>
            </div>
        </div>
    </div>
    <!-- Step-1 end-->
    <!-- Step-2 -->
    <div class="calculation-step-2" ng-show="showState === 'step2'">
        <div class="table-wrapper">
            <div class="table-title">
                Выберите меню для Ваших покупателей и укажите цену продажи,
                <br> если она отличается от рекомендованной
            </div>
            <input type="number" ng-model="modifier" id="Test" ng-hide="true">
            <input type="text" ng-model="enabledCheck" id="checks" ng-hide="true">
            <table class="calculation-table">
                <thead>
                    <tr>
                        <td class="text-left">
                            <img src="img/calc-table-1.png" alt="" class="table-icon">
                            <span>Выбор</span>
                        </td>
                        <td>
                            <img src="img/calc-table-2.png" alt="" class="table-icon">
                            <span>Напиток</span>
                        </td>
                        <td>
                            <img src="img/calc-table-3.png" alt="" class="table-icon">
                            <span>Чашки*</span>
                        </td>
                        <td>
                            <img src="img/calc-table-4.png" alt="" class="table-icon">
                            <span>цена**</span>
                        </td>
                        <td class="">
                            <img src="img/calc-table-5.png" alt="" class="table-icon">
                            <span>цена продажи</span>
                        </td>
                    </tr>
                </thead>
                <tbody>
                <tr class="table-row" ng-class="{disabled: !item.status,enabled: item.status }" ng-repeat="item in targetTable.drinks">
                        <td class="check-row">
                            <input
                                type="checkbox"
                                name="name"
                                checked
                                ng-model="item.status"
                                ng-click="getVal(); tableChk()"
                                ng-init="item.status = true"
                                ng-disabled="item.status && enabledCheck || item.drinkName == 'Американо' || item.drinkName == 'Капучино' || item.drinkName == 'Черный кофе'">
                            <label for=""></label>
                        </td>
                        <td class="drink-name">
                            {{item.drinkName}}
                        </td>
                        <td class="count-drinks">
                            <span ng-show="!item.status" ng-class="{enabled: !item.status}">{{sliderValue * peopleCoef * item.drinkCoef | number:0 | comma2decimal}}</span>
                            <span ng-show="item.status" ng-class="{enabled: item.status}">{{sliderValue * peopleCoef * item.drinkCoef + modifier | number:0 | comma2decimal}}</span>
                        </td>
                        <td class="price">
                            <span class="price-val" ng-model="drinkPrice">{{item.drinkPrice}}</span> руб.
                        </td>
                        <td class="custom-price">
                            <input type="number" class="price-input" ng-readonly="!activeRow" ng-model="item.customPrice" ng-change="change()">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="info-about-table">
                <div class="info pull-left">
                    <b>*</b>распределение напитков по результатам <br> проведенных исследований
                </div>
                <div class="info pull-right">
                    <b>**</b>рекомендованная цена продажи
                </div>
            </div>
        </div>
    </div>
    <!-- Step-2 end-->
    <!-- Step-3 -->
    <div class="calculation-step-3" ng-show="showState === 'step3'">
        <div class="container calculation-container">
            <div class="image-calc-wrap ">
                <div class="machine-name">
                    {{targetTable.name}}
                </div>
                <div class="machine-sub-title">
                    Nescafe Professional рекомендует:
                </div>
                <div class="image-offer-wrapper">
                    <div class="offer-info">
                        <div class="offer-info-item">
                            <img src="img/offer-info-img-1.png" alt="" class="offer-info-img">
                            <div class="offer-info-text">
                                Аренда машины -
                                <br> бесплатно
                            </div>
                        </div>
                        <div class="offer-info-item">
                            <img src="img/offer-info-img-2.png" alt="" class="offer-info-img">
                            <div class="offer-info-text">
                                Установка и сервисное
                                <br> обслуживание
                            </div>
                        </div>
                        <div class="offer-info-item">
                            <img src="img/offer-info-img-3.png" alt="" class="offer-info-img">
                            <div class="offer-info-text">
                                Вы платите только
                                <br> за ингредиенты
                            </div>
                        </div>
                    </div>
                    <img ng-src="img/{{targetTable.img}}"alt="" class="offer-img">
                    <!--<img src="img/calc-offer-img.jpg" alt="" class="offer-img">-->
                </div>
            </div>
            <div class="offer-calc-wrap">
                <div class="profit-info">
                    Ваш маржинальный доход от продажи кофе составит:
                    <br>
                    <span class="font-size"><span>{{(total - total_marginal) | number : 0 | comma2decimal}}</span> руб. в день x 31 = <b>{{(total - total_marginal) * 31 | number : 0 | comma2decimal}}</b> руб. в мес.*</span>
                </div>
                <div class="btns-wrap">
                    <a href="" class="btn-rect re-calc" ng-click="prevStep()">перерасчитать</a>
                    <a href="#" class="btn-rect print">распечатать</a>
                </div>
                <div class="detail-info">
                    <b>*</b>Данное предложение не является публичной офертой, реальные данные могут отличаться <br>
                     от расчетных
                </div>

                <div class="form-wrapper">
                    <div class="form-title line">
                        оформить заявку
                    </div>
                    <form action="" class="calc-form" name="calcOffer" ng-submit="sendCalcOffer()">
                        <div class="form-group margin custom-error-position">
                            <select name="country" class="styler" data-placeholder="Выберите страну" select-styler required="required" ng-model="formDataCalcOffer.country">
                                <option></option>
                                <option>Страна1</option>
                                <option>Страна2</option>
                                <option>Страна3</option>
                                <option>Страна4</option>
                            </select>
                        </div>

                        <div class="form-group margin custom-error-position">
                            <select name="town" class="styler" data-placeholder="Выберите город" select-styler required="required" ng-model="formDataCalcOffer.city">
                                <option></option>
                                <option>Москва1</option>
                                <option>Москва2</option>
                                <option>Москва3</option>
                                <option>Москва4</option>
                            </select>
                        </div>
                        <div class="extra-row">
                            <div class="half-item">
                                <div class="form-group">
                                    <label for="">Имя<b>*</b></label>
                                    <input type="text" class="input-style" name="firstName" ng-model="formDataCalcOffer.firstname" required="required">
                                </div>
                            </div>
                            <div class="half-item">
                                <div class="form-group">
                                    <label for="">Фамилия<b>*</b></label>
                                    <input type="text" class="input-style" name="lastName" ng-model="formDataCalcOffer.lastname" required="required">
                                </div>
                            </div>
                        </div>
                        <div class="extra-row">
                            <div class="half-item">
                                <div class="form-group">
                                    <label for="">телефон<b>*</b></label>
                                    <input type="number" class="input-style" name="phone" ng-model="formDataCalcOffer.phone" required="required">
                                </div>
                            </div>
                            <div class="half-item">
                                <div class="form-group">
                                    <label for="">e-mail<b>*</b></label>
                                    <input type="email" class="input-style" name="email" ng-model="formDataCalcOffer.email" required="required">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn-offer btn-rect">оформить заказ</button>
                        <div class="rules">
                            <b>*</b>Обязательные поля для заполнения
                        </div>
                        <div class="form-group checkbox-rule">
                            <input type="checkbox" id="checkbox_rule" name="rules" ng-required="!formDataCalcOffer.rules" ng-model="formDataCalcOffer.rules">
                            <label for="checkbox_rule" class="checkbox-view"></label>
                            <span class="agree-check">Соглагласен на обработку персональных данных в соответствии с политикой конфиденциальности</span>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>
    <div class="container calculation-container control-container">
        <a href="" class="prev-step btn-rect dark-red" ng-click="prevStep() ; tabState = 'cafe'" ng-hide="showState == 'step1'">Назад</a>
        <a href="" class="next-step btn-rect dark-red" ng-click="nextStep()" ng-hide="showState == 'step3' || disableNextBtn">следующий шаг</a>
    </div>
</div>
