<div class="main-calculation-wrap" ng-controller="calcController" ng-init="formDataCalcOffer.profile_id = 2">
    <div class="steps container calculation-container" ng-class="{activeStep1 : showState == 'step1',activeStep2 : showState == 'step2',activeStep3 : showState == 'step3'}">
        <div class="step-1 step">
            <span class="number">1</span>
            <span class="step-text">Вариант расчета</span>
        </div>
        <div class="step-2 step">
            <span class="number">2</span>
            <span class="step-text">Место применения</span>
        </div>
        <div class="step-3 step">
            <span class="number">3</span>
            <span class="step-text">рассчитать доход</span>
        </div>
    </div>
    <!-- Step-1 -->
    <div class="calculation-step-1" ng-show="showState === 'step1'">
        <div class="container calculation-container">
            <img src="img/step-img.png" alt="" class="step-img">
            <div class="slider-range-wrap office-slider-range clearfix">
                <div class="bread-crumbs">
                    <ul>
                        <li><a href="#">Выбрать профиль</a></li>
                        <li><span>Офис</span></li>
                    </ul>
                </div>
                <div class="wrap-half border">
                    <span class="guests">Выберите вариант  <br>
                        расчета</span>
                    <a href="" class="btn-rect tab-btn" ng-click="tabState = 'people'" ng-class="{active : tabState == 'people'}">Кол-во сотрудников</a>
                    <a href="" class="btn-rect tab-btn" ng-click="tabState = 'budget'" ng-class="{active : tabState == 'budget'}">Бюджет</a>
                </div>
                <div class="wrap-half">
                    <div class="tab people" id="tab1" ng-show="tabState == 'people'">
                        <span class="guests">Укажите количество <br>
                            сотрудников в офисе</span>
                        <div id="slider-range-office" slider-range-ui ng-model="sliderValuePeople" min="5" max="150" value="50">
                            <span class="count from">5</span>
                            <span class="count to">150+</span>
                            <span class="number-slider"></span>
                        </div>
                    </div>
                    <div class="tab budget" id="tab1" ng-show="tabState == 'budget'">
                        <span class="guests">Укажите ваш <br>
                            бюджет на кофе в месяц</span>
                        <div id="slider-range-offic" slider-range-ui ng-model="sliderValueBudget" min="5000" max="50000" value="6000">
                            <span class="count from">5000</span>
                            <span class="count to">50000</span>
                            <span class="number-slider"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Step-1 end-->
    <!-- Step-2 -->
    <div class="calculation-step-2" ng-show="showState === 'step2'">
        <div class="table-wrapper">
            <div class="table-title">
                Выберите меню для Ваших сотрудников
            </div>
            <input type="number" ng-model="modifier" id="Test" ng-hide="true">
            <input type="text" ng-model="enabledCheck" id="checks" ng-hide="true">
            <table class="calculation-table">
                <thead>
                    <tr>
                        <td class="text-left">
                            <img src="img/calc-table-1.png" alt="" class="table-icon">
                            <span>Выбор</span>
                        </td>
                        <td>
                            <img src="img/calc-table-2.png" alt="" class="table-icon">
                            <span>Напиток</span>
                        </td>
                        <td>
                            <img src="img/calc-table-3.png" alt="" class="table-icon">
                            <span>Чашки*</span>
                        </td>
                    </tr>
                </thead>
                <tbody>
                <tr class="table-row" ng-class="{disabled: !item.status,enabled: item.status }" ng-repeat="item in targetTable.drinks">
                        <td class="check-row">
                            <input
                                type="checkbox"
                                name="name"
                                checked
                                ng-model="item.status"
                                ng-click="getVal(); tableChk()"
                                ng-init="item.status = true"
                                ng-disabled="item.status && enabledCheck || item.drinkName == 'Американо' || item.drinkName == 'Капучино' || item.drinkName == 'Черный кофе'">
                            <label for=""></label>
                        </td>
                        <td class="drink-name">
                            {{item.drinkName}}
                        </td>
                        <td class="count-drinks">
                            <span ng-show="!item.status && tabState == 'budget'" ng-class="{enabled: !item.status}">{{targetTable.maxDrinks * peopleCoef * item.drinkCoef | number:0}}</span>
                            <span ng-show="item.status && tabState == 'budget'" ng-class="{enabled: item.status}">{{targetTable.maxDrinks * peopleCoef * item.drinkCoef + modifier | number:0}}</span>

                            <span ng-show="!item.status && tabState == 'people'" ng-class="{enabled: !item.status}">{{sliderValue * peopleCoef * item.drinkCoef | number:0}}</span>
                            <span ng-show="item.status && tabState == 'people'" ng-class="{enabled: item.status}">{{sliderValue * peopleCoef * item.drinkCoef + modifier | number:0}}</span>
                        </td>
                        <!--<td class="count-drinks" ng-show="tabState == 'budget'" ng-class="{budget: tabState == 'budget'}">-->
                            <!--{{targetTable.maxDrinks * item.drinkCoef | number : 0}}-->
                        <!--</td>-->
                    </tr>
                </tbody>
            </table>
            <div class="info-about-table">
              <div class="info pull-left">
                <b>*</b>распределение напитков по результатам <br> проведенных исследований
              </div>
            </div>
        </div>
    </div>
    <!-- Step-2 end-->
    <!-- Step-3 -->
    <div class="calculation-step-3" ng-show="showState === 'step3'">
        <div class="container calculation-container">
            <div class="image-calc-wrap ">
                <div class="machine-sub-title">
                    Nescafe Professional рекомендует:
                </div>
                <div class="machine-name">
                    {{targetTable.name}}
                </div>
                <div class="image-offer-wrapper">

                    <div class="offer-info clearfix">
                        <div class="offer-info-item">
                            <img src="img/offer-info-img-1.png" alt="" class="offer-info-img">
                            <div class="offer-info-text">
                                Аренда машины -
                                <br> бесплатно
                            </div>
                        </div>
                        <div class="offer-info-item">
                            <img src="img/offer-info-img-2.png" alt="" class="offer-info-img">
                            <div class="offer-info-text">
                                Установка и сервисное
                                <br> обслуживание
                            </div>
                        </div>
                        <div class="offer-info-item">
                            <img src="img/offer-info-img-3.png" alt="" class="offer-info-img">
                            <div class="offer-info-text">
                                Вы платите только
                                <br> за ингредиенты
                            </div>
                        </div>
                    </div>
                    <img ng-src="img/{{targetTable.img}}"alt="" class="offer-img">
                </div>
            </div>
            <div class="offer-calc-wrap">
                <div class="profit-info" ng-show="tabState == 'people'">
                    Ваши затраты на кофе для <span>{{sliderValue}}</span> сотрудников   <br>
                    составят не более <b >{{(total - total_marginal) | number | comma2decimal}}</b> руб. в день*
                    <br>
                </div>
                <div class="profit-info" ng-show="tabState == 'budget'">
                    Ваши затраты на кофе при бюджете <span>{{sliderValue}}</span> руб. <br>
                    составят не более <b>{{(total - total_marginal) | number : 0 | comma2decimal}}</b> руб. в день*
                    <br>
                </div>

                <div class="cups-table-wrapper" ng-show="tabState == 'budget'">
                  При затратах на кофе <span>{{sliderValue * 31}}</span>руб в месяц, вы получите:
                  <table class="cups-table">
                      <thead>
                          <tr>
                              <td>
                                  <span>Напиток</span>
                              </td>
                              <td>
                                  <span>Чашки</span>
                              </td>
                          </tr>
                      </thead>
                      <tbody>
                      <tr class="table-row" ng-class="{disabled: !item.status,enabled: item.status }" ng-repeat="item in targetTable.drinks">
                              <td class="drink-name">
                                  {{item.drinkName}}
                              </td>
                              <td class="count-drinks text-center">
                                  <span ng-show="!item.status && tabState == 'budget'" ng-class="{enabled: !item.status}">{{targetTable.maxDrinks * peopleCoef * item.drinkCoef | number:0}}</span>
                                  <span ng-show="item.status && tabState == 'budget'" ng-class="{enabled: item.status}">{{targetTable.maxDrinks * peopleCoef * item.drinkCoef + modifier | number:0}}</span>
                              </td>
                          </tr>
                      </tbody>
                  </table>
                </div>

                <div class="btns-wrap">
                    <a href="" class="btn-rect re-calc" ng-click="prevStep()">перерасчитать</a>
                    <a href="#" class="btn-rect print">распечатать</a>
                </div>
                <div class="detail-info">
                    <b>*</b>Данное предложение не является публичной офертой, реальные данные могут отличаться
                    <br> от расчетных
                </div>

                <div class="form-wrapper">
                    <div class="form-title line">
                        оформить заявку
                    </div>
                    <form action="" class="calc-form" name="calcOffer" ng-submit="sendCalcOffer()">
                        <div class="form-group margin">
                            <select name="contry" class="styler" data-placeholder="Выберите страну" ng-model="formDataCalcOffer.country" select-styler>
                                <option></option>
                                <option>Страна1</option>
                                <option>Страна2</option>
                                <option>Страна3</option>
                                <option>Страна4</option>
                            </select>
                        </div>

                        <div class="form-group margin">
                            <select name="town" class="styler" data-placeholder="Выберите город"  ng-model="formDataCalcOffer.city" select-styler>
                                <option></option>
                                <option>Москва1</option>
                                <option>Москва2</option>
                                <option>Москва3</option>
                                <option>Москва4</option>
                            </select>
                        </div>
                        <div class="extra-row">
                            <div class="half-item">
                                <div class="form-group">
                                    <label for="">Имя<b>*</b></label>
                                    <input type="text" class="input-style" name="firstName" ng-model="formDataCalcOffer.firstname" required="required">
                                </div>
                            </div>
                            <div class="half-item">
                                <div class="form-group">
                                    <label for="">Фамилия<b>*</b></label>
                                    <input type="text" class="input-style" name="lastName" ng-model="formDataCalcOffer.lastname" required="required">
                                </div>
                            </div>
                        </div>
                        <div class="extra-row">
                            <div class="half-item">
                                <div class="form-group">
                                    <label for="">телефон<b>*</b></label>
                                    <input type="number" class="input-style" name="phone" ng-model="formDataCalcOffer.phone" required="required">
                                </div>
                            </div>
                            <div class="half-item">
                                <div class="form-group">
                                    <label for="">e-mail<b>*</b></label>
                                    <input type="email" class="input-style" name="email" ng-model="formDataCalcOffer.email" required="required">
                                </div>
                            </div>
                        </div>
                        <button class="btn-offer btn-rect">оформить заказ</button>
                        <div class="rules">
                            <b>*</b>Обязательные поля для заполнения
                        </div>
                        <div class="form-group checkbox-rule">
                            <input type="checkbox" id="checkbox_rule" name="rules" ng-required="!formDataCalcOffer.rules" ng-model="formDataCalcOffer.rules">
                            <label for="checkbox_rule" class="checkbox-view"></label>
                            <span class="agree-check">Соглагласен на обработку персональных данных в соответствии с политикой конфиденциальности</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container calculation-container control-container">
        <a href="" class="prev-step btn-rect dark-red" ng-click="prevStep()" >Назад</a>
        <a href="" class="next-step btn-rect dark-red" ng-click="nextStep()" ng-hide="showState == 'step3' || disableNextBtn">следующий шаг</a>
    </div>
</div>
