<div class="main-calculation-wrap" ng-controller="calcController">
    <div class="steps container calculation-container" ng-class="{activeStep1 : showState == 'step1',activeStep2 : showState == 'step2',activeStep3 : showState == 'step3'}">
        <div class="step-1 step">
            <span class="number">1</span>
            <span class="step-text">Вариант расчета</span>
        </div>
        <div class="step-2 step">
            <span class="number">2</span>
            <span class="step-text">Место применения</span>
        </div>
        <div class="step-3 step">
            <span class="number">3</span>
            <span class="step-text">рассчитать доход</span>
        </div>
    </div>
    <!-- Step-1 -->
    <div class="calculation-step-1" ng-show="showState === 'step1'" ng-init="tabState = 'hotel'">
        <div class="container calculation-container">
            <img src="img/hotel-step-img.png" alt="" class="step-img">
            <div class="slider-range-wrap hotel-slider-range clearfix">
                <div class="bread-crumbs">
                    <ul>
                        <li><a href="#">Выбрать профиль</a></li>
                        <li><span>Гостиница</span></li>
                    </ul>
                </div>
                <div class="wrap-half borders">
                    <span class="guests">Номерной фонд Вашей <br>
                       гостиницы</span>
                    <div id="slider-range-hotel-rooms" slider-range-ui ng-model="sliderValue" min="5" max="500" value="25">
                        <span class="count from">5</span>
                        <span class="count to">500</span>
                        <span class="number-slider"></span>
                    </div>
                </div>
                <div class="wrap-half">
                    <span class="guests">Средняя заполняемость <br><br></span>
                    <div id="slider-range-оccupancy" slider-range-ui ng-model="sliderValue" min="0" max="100" value="25">
                        <span class="count from">0%</span>
                        <span class="count to">100%</span>
                        <span class="number-slider"></span>
                    </div>
                </div>
                <div class="wrap-half stars-raiting">
                    <span class="guests">Количество звезд</span>
                    <div class="stars-wrap clearfix">
                        <input type="radio" ng-model="hotelStars" name="stars" value="5" id="5star">
                        <label for="5star" class="star-icon"></label>
                        <input type="radio" ng-model="hotelStars" name="stars" value="4" id="4star">
                        <label for="4star" class="star-icon"></label>
                        <input type="radio" ng-model="hotelStars" name="stars" value="3" id="3star">
                        <label for="3star" class="star-icon"></label>
                        <input type="radio" ng-model="hotelStars" name="stars" value="2" id="2star">
                        <label for="2star" class="star-icon"></label>
                        <input type="radio" ng-model="hotelStars" name="stars" value="1" id="1star">
                        <label for="1star" class="star-icon"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Step-1 end-->
    <!-- Step-2 -->
    <div class="calculation-step-2" ng-show="showState === 'step2'">
        <div class="table-wrapper">
            <div class="table-title">
                Выберите место установки
                <br> кофемашины
            </div>
            <table class="calculation-table hotel-table">
                <thead>
                    <tr>
                        <td class="text-left">
                            <img src="img/calc-table-1.png" alt="" class="table-icon">
                            <span>Выбор</span>
                        </td>
                        <td>
                            <img src="img/calc-table-2.png" alt="" class="table-icon">
                            <span>место применения</span>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-row" ng-class="{disabled: !customPlaces.status}" ng-repeat="customPlaces in hotelPlaceTable.hotelPlaces">
                        <td class="check-row">
                            <input type="checkbox" name="name" checked ng-model="customPlaces.status" ng-click="tableChk()">
                            <label for=""></label>
                        </td>
                        <td class="item-name">
                            {{customPlaces.placeName}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Step-2 end-->
    <!-- Step-3 -->
    <div class="calculation-step-3" ng-show="showState === 'step3'">
        <div class="container calculation-container">
            <div class="table-hotel-offer">
                <table>
                    <thead>
                        <tr class="table-head-wrapper">
                            <td>кофемашины</td>
                            <td>описание</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="hotel-offer-row" ng-repeat="customPlaces in hotelPlaceTable.hotelPlaces" ng-hide="!customPlaces.status">
                            <td>
                                <div class="machine-img">
                                    <img ng-src="img/{{customPlaces.machine.hotelImg}}" alt="">
                                </div>
                            </td>
                            <td>
                                <div class="table-machine-info">
                                    <a href="" class="remove-row js-remove-table-row" ng-click="remove(customPlaces)">Удалить</a>
                                    <div class="machine-info-name">
                                        {{customPlaces.machine.name}}
                                    </div>
                                    <!--<div class="artc">-->
                                    <!--Артикул:. <span>{{customPlaces.art}}</span>-->
                                    <!--</div>-->
                                    <div class="calculation-info">
                                        <span>{{customPlaces.fullPlaceName}}</span>
                                        <br> составят <span class="light-font"><span>{{customPlaces.machine.budget / 31 | number: 0 | comma2decimal}}</span> руб. в день x 31 = <b><span>{{customPlaces.machine.budget | number | comma2decimal}}</span> руб.</b>                                        в мес.*</span>
                                        <div class="price-hotel" ng-hide="customPlaces.machine.hotelPrice.lenght == 0">
                                            <div class="title">Средняя цена:</div>
                                            <table>
                                                <tr ng-repeat="drinks in customPlaces.machine.hotelPrice">
                                                    <td>Средняя стоимость чашки{{drinks.name}} - {{drinks.price}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="offer-calc-wrap">
                <div class="form-wrapper">
                    <div class="form-title">
                        оформить заявку
                    </div>
                    <form action="" class="calc-form" name="calcOffer" ng-submit="sendCalcOffer()">
                        <div class="form-group margin">
                            <select name="contry" class="styler" data-placeholder="Выберите страну" select-styler required="required">
                                <option></option>
                                <option>Страна1</option>
                                <option>Страна2</option>
                                <option>Страна3</option>
                                <option>Страна4</option>
                            </select>
                        </div>

                        <div class="form-group margin">
                            <select name="town" class="styler" data-placeholder="Выберите город" select-styler required="required">
                                <option></option>
                                <option>Москва1</option>
                                <option>Москва2</option>
                                <option>Москва3</option>
                                <option>Москва4</option>
                            </select>
                        </div>
                        <div class="extra-row">
                            <div class="half-item">
                                <div class="form-group">
                                    <label for="">Имя<b>*</b></label>
                                    <input type="text" class="input-style" name="firstName" ng-model="formDataCalcOffer.firstname" required="required">
                                </div>
                            </div>
                            <div class="half-item">
                                <div class="form-group">
                                    <label for="">Фамилия<b>*</b></label>
                                    <input type="text" class="input-style" name="lastName" ng-model="formDataCalcOffer.lastname" required="required">
                                </div>
                            </div>
                        </div>
                        <div class="extra-row">
                            <div class="half-item">
                                <div class="form-group">
                                    <label for="">телефон<b>*</b></label>
                                    <input type="number" class="input-style" name="phone" ng-model="formDataCalcOffer.phone" required="required">
                                </div>
                            </div>
                            <div class="half-item">
                                <div class="form-group">
                                    <label for="">e-mail<b>*</b></label>
                                    <input type="email" class="input-style" name="email" ng-model="formDataCalcOffer.email" required="required">
                                </div>
                            </div>
                        </div>
                        <!-- <button class="btn-offer btn-rect">оформить заказ</button> -->
                        <div class="rules">
                            <b>*</b>Обязательные поля для заполнения
                        </div>
                        <div class="form-group checkbox-rule">
                            <input type="checkbox" id="checkbox_rule" name="rules" ng-required="!formDataCalcOffer.rules" ng-model="formDataCalcOffer.rules">
                            <label for="checkbox_rule" class="checkbox-view"></label>
                            <span class="agree-check">Соглагласен на обработку персональных данных в соответствии с политикой конфиденциальности</span>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>
    <div class="container calculation-container control-container">
        <a href="" class="prev-step btn-rect dark-red" ng-click="prevStep()">Назад</a>
        <a href="" class="next-step btn-rect dark-red" ng-click="nextStep()" ng-hide="disableNextBtn">{{hotelBtn}}</a>
    </div>
</div>
