<div class="catalog-head-wrap">
    <div class="half-wrap">

    </div>
    <div class="half-wrap image">

    </div>
    <div class="container">
        <div class="catalog-title">
            <div class="title">
                каталог <br>
                решений
            </div>
        </div>
    </div>
</div>