<div class="catalog-main-wrap">
    <div class="catalog-machines-wrap container">
        <div class="catalog-item">
            <div class="img-wrap">
                <img src="img/catalog-item-1.png" alt="">
            </div>
            <h3 class="catalog-item-title top-line">Кофемашины</h3>
            <a href="our-machines.html" class="btn-rect">Узнать больше</a>
        </div>
        <div class="catalog-item">
            <div class="img-wrap">
                <img src="img/catalog-item-2.png" alt="">
            </div>
            <h3 class="catalog-item-title top-line">Ингредиенты</h3>
            <a href="ingredients.html" class="btn-rect">Узнать больше</a>
        </div>
        <div class="catalog-item">
            <div class="img-wrap">
                <img src="img/catalog-item-3.png" alt="">
            </div>
            <h3 class="catalog-item-title top-line">Сопутствующие товары</h3>
            <a href="accompanying.html" class="btn-rect">Узнать больше</a>
        </div>
    </div>
</div>