<div class="section section-style our-machines">
    <div class="section-wrap">
        <div class="container container-padding">
            <h2 class="section-title text-left left-line">
              Выберите профиль Вашего бизнеса
            </h2>
        </div>

        <div class="container machines-container">
            <div class="our-machines-items">
                <a href="calculation-office.html" class="machine-list">
                    <div class="img-wrap">
                        <div class="img-bg-wrap">
                            <img src="img/our-machines-1.jpg" alt="">
                        </div>
                    </div>
                    <span>
                    Офисы и БЦ
                </span>
                </a>
                <a href="calculation-cafe.html" class="machine-list">
                    <div class="img-wrap">
                        <div class="img-bg-wrap">
                            <img src="img/our-machines-2.jpg" alt="">
                        </div>
                    </div>
                    <span>
                    Кафе и рестораны
                </span>
                </a>
                <a href="calculation-fast-food.html" class="machine-list">
                    <div class="img-wrap">
                        <div class="img-bg-wrap">
                            <img src="img/our-machines-3.jpg" alt="">
                        </div>
                    </div>
                    <span>Рестораны быстрого питания</span>
                </a>
                <a href="calculation-fast-food-street.html" class="machine-list">
                    <div class="img-wrap">
                        <div class="img-bg-wrap">
                            <img src="img/our-machines-4.jpg" alt="">
                        </div>
                    </div>
                    <span>
                    Уличный фаст-фуд
                </span>
                </a>
                <a href="calculation-hotel.html" class="machine-list">
                    <div class="img-wrap">
                        <div class="img-bg-wrap">
                            <img src="img/our-machines-5.jpg" alt="">
                        </div>
                    </div>
                    <span>
                    Гостиницы
                </span>
                </a>
                <a href="calculation-azs.html" class="machine-list">
                    <div class="img-wrap">
                        <div class="img-bg-wrap">
                            <img src="img/our-machines-6.png" alt="">
                        </div>
                    </div>
                    <span>
                    АЗС
                </span>
                </a>
            </div>
        </div>
    </div>
</div>
