<div class="slider-wrap">
    <div class="slider-footer">
        <div class="geography-items">
            <div class="section-wrap">
                <div class="container container-padding">
                    <h2 class="section-title text-left left-line">география</h2>

                    <div class="section-sub-title">Мы работаем на территории <br>
                        всей страны
                    </div>
                </div>
            </div>
            <!-- <img src="img/geography-bg.jpg" alt=""> -->
        </div>
        <div class="geography-items">
            <div class="section-wrap">
                <div class="container container-padding">
                    <h2 class="section-title text-left left-line">география</h2>
                    <div class="section-sub-title">Мы работаем на территории <br>
                        всей страны
                    </div>
                </div>
            </div>
            <!-- <img src="img/geography-bg-2.jpg" alt=""> -->
        </div>
    </div>
</div>
