<div class="section section-style geography">
    <div class="slider-wrap">
        <div class="slider-footer">
            <div class="geography-items">
                <div class="section-wrap">
                    <div class="container container-padding">
                        <h2 class="section-title text-left left-line">география</h2>

                        <div class="section-sub-title">Мы работаем на территории <br>
                            всей страны
                        </div>
                    </div>
                </div>
                <!-- <img src="img/geography-bg.jpg" alt=""> -->
            </div>
            <div class="geography-items">
                <div class="section-wrap">
                    <div class="container container-padding">
                        <h2 class="section-title text-left left-line">география</h2>
                        <div class="section-sub-title">Мы работаем на территории <br>
                            всей страны
                        </div>
                    </div>
                </div>
                <!-- <img src="img/geography-bg-2.jpg" alt=""> -->
            </div>
        </div>
    </div>
    <!--</div>-->

    <footer id="footer" class="wrapper footer">
        <div class="container">
            <a href="#" class="foot-logo pull-right">
                <img src="img/foot-logo.png" alt="" class="desktop">
                <img src="img/white-logo.png" alt="" class="white-logo">
                <img src="img/footer-mob.png" alt="" class="tablet">
            </a>
            <nav class="menu">
                <ul>
                    <li><a href="about.html">о нас</a></li>
                    <li><a href="catalog.html">каталог</a></li>
                    <li><a href="find-solution.html">подобрать решение</a></li>
                    <li><a href="articles-static.html">статьи</a></li>
                    <li><a href="http://www.nestle.ru/info/%D0%9A%D0%BE%D0%BD%D1%84%D0%B8%D0%B4%D0%B5%D0%BD%D1%86%D0%B8%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D1%81%D1%82%D1%8C%20%D0%B8%20%D1%83%D1%81%D0%BB%D0%BE%D0%B2%D0%B8%D1%8F%20%D0%B8%D1%81%D0%BF%D0%BE%D0%BB%D1%8C%D0%B7%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F" target="_blank">Политика конфиденциальности</a></li>
                </ul>
            </nav>
            <span class="copyright">© 2016 NESTLÉ Professional®</span>
        </div>
    </footer>
</div>
