<div class="section footer-section">
    <div class="footer-img-wrap">
        <img src="img/about-section-3.jpg" alt="" class="bg-img aspect-ratio js-img" >
    </div>

    <div class="container">
        <div class="about-title">
            <div class="title">
                nescafÉ <br>
                alegria
            </div>
            <div class="sub-title">
                Nescafe – один из самых узнаваемых <br>
                и уникальных брендов Nestle.
            </div>
            <a href="#third-info" class="btn-rect js-show-detail">Узнать больше</a>
        </div>
    </div>
    <!--<div class="container btn-container">-->
    <!--<a href="#" class="scroll-icon js-scroll">-->
    <!--<img src="img/mouse-scroll.png" alt="">-->
    <!--</a>-->
    <!--</div>-->


    <div class="detail-info-about third-info" id="third-info">
        <h2 class="title">
            NescafÉ – один из самых узнаваемых <br>
            и уникальных брендов NestlÉ
        </h2>

        <div class="info-grafic">
            <div class="about-content container ">
                <div class="fact">
                    <div class="fact-info-wrap">
                        6
                        <span>Поколений</span>
                    </div>
                </div>

                <div class="fact">
                    <div class="fact-info-wrap">
                        <b>c</b> 1938г.
                    <span>
                        NescafÉ ведет свою <br>
                        историю
                    </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="info-wrap clearfix nescafe-bg">
            <div class="about-content container ">
                <div class="sub-title">
                    Nescafé ведет свою историю с 1938 года – и уже
                    <br>на протяжении 6 поколений позволяет людям получить
                    <br> максимум удовольствия от вкуса, качества и простоты
                    <br> приготовления чашки кофе.
                </div>
            </div>
        </div>

        <div class="info-wrap clearfix">
            <div class="about-content container ">
                <div class="info-half">
                    <div class="text-wrap">
                        <h3 class="text-title ">NescafÉ</h3>

                        <p class="main-text">
                            Nescafé пережил мировую и холодную
                            <br> войны, был свидетелем первой высадки
                            <br> человека на Луну, и видел как приходят,
                            <br> уходят и возвращаются бесчисленные
                            <br> модные тенденции.
                        </p>
                    </div>
                </div>
                <div class="info-half">
                    <div class="img-wrap-about pull-right">
                        <img src="img/about-6.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="info-wrap clearfix">
            <div class="about-content container ">

                <div class="info-half pull-right">
                    <div class="text-wrap">
                        <h3 class="text-title line">75 лет NescafÉ</h3>

                        <p class="main-text">
                            Поддерживать такую популярность
                            <br> на протяжении 75 лет Nescafe удается
                            <br> благодаря тому, что бренд прислушивается
                            <br> к потребностям разных времен и культур,
                            <br> чутко реагирует на желания потребителей,
                            <br> непрерывно завоевывая и сохраняя
                            <br> их доверие.
                        </p>
                    </div>
                </div>

                <div class="info-half">
                    <div class="img-wrap-about">
                        <img src="img/about-7.jpg" alt="">
                    </div>
                </div>

            </div>
        </div>

        <div class="info-wrap clearfix">
            <div class="about-content container ">
                <div class="info-half">
                    <div class="text-wrap">
                        <h3 class="text-title ">NescafÉ Alegria</h3>

                        <p class="main-text">
                            Бренд Nescafé Alegria® был разработан
                            <br> специально для кофейных решений
                            <br> Nestlé Professional.
                            <br>
                            <br> Бренд известен в 109 странах по всему
                            <br> миру, и это делает географию его
                            <br> присутствия одной из крупнейших.
                        </p>
                    </div>
                </div>
                <div class="info-half">
                    <div class="img-wrap-about pull-right">
                        <img src="img/about-8.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="info-wrap clearfix">
            <div class="about-content container ">

                <div class="info-half pull-right">
                    <div class="text-wrap">
                        <h3 class="text-title line">высокое качество</h3>

                        <p class="main-text">
                            Высокое качество напитка, удобство
                            <br> и простота приготовления – именно
                            <br> эти основополагающие принципы сделали
                            <br> Nescafé маркой кофе №1 в мире.
                        </p>
                    </div>
                </div>

                <div class="info-half">
                    <div class="img-wrap-about">
                        <img src="img/about-9.jpg" alt="">
                    </div>
                </div>

            </div>
        </div>

        <div class="info-wrap clearfix">
            <div class="about-content container ">
                <div class="footer-sub-title underline">
                    Само название Nescafé Alegria® происходит от
                    <br> слова “Allegria”, что в переводе с итальянского
                    <br> означает “радость и счастье”– слова, как нельзя
                    <br> лучше отражающие положительный опыт нашего
                    <br> уникального кофейного решения.
                </div>
                <div class="footer-sub-title">
                    Сегодня Nescafé Alegria® – это бренд, который
                    <br> действительно оправдывает свое название - более 2
                    <br> миллиардов чашек подано только в 2013 году.
                </div>
                <div class="footer-sub-title beans">
                    Кофе Nescafé Alegria® стал любимым во всем мире.
                </div>
            </div>
        </div>
    </div>
</div>