<div class="detail-info-about first-info" id="first-info">
    <div class="info-wrap clearfix">
        <div class="about-content container ">
            <div class="info-half">
                <div class="text-wrap">
                    <h3 class="text-title line">наша цель</h3>

                    <p class="main-text">
                        Наша цель – создавать продукцию
                        <br> высокого качества, отвечающую
                        <br> вкусам и пожеланиям потребителей
                        <br> более чем 100 стран мира,
                        <br> в которых мы осуществляем
                        <br> свою деятельность
                    </p>
                    <a href="#" class="read-more">Читать больше</a>
                </div>
            </div>
            <div class="info-half">
                <div class="img-wrap-about pull-right">
                    <img src="img/about-1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="info-wrap clearfix">
        <div class="about-content container clearfix">

            <div class="info-half pull-right">
                <div class="text-wrap">
                    <h3 class="text-title line">центры Nestlé</h3>

                    <p class="main-text">
                        В научных центрах Nestle по всему миру
                        <br> мы проводим исследования в области
                        <br> продуктов питания, их свойств
                        <br> и влияния пищи на организм. Результаты
                        <br> проводимых исследований позволяют
                        <br> нам постоянно улучшать качество
                        <br> своих продуктов.
                    </p>
                    <a href="#" class="read-more">Читать больше</a>
                </div>
            </div>
            <div class="info-half">
                <div class="img-wrap-about">
                    <img src="img/about-2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="info-wrap clearfix">
        <div class="about-content container clearfix">
            <div class="info-half">
                <div class="text-wrap">
                    <h3 class="text-title line">продукция</h3>

                    <p class="main-text">
                        Ассортимент нашей продукции постоянно
                        <br>расширяется, и в настоящее время
                        <br> насчитывает свыше 8000 торговых марок
                        <br> продуктов питания, которые знают
                        <br> потребители на всех пяти континентах.
                    </p>
                    <a href="#" class="read-more">Читать больше</a>
                </div>
            </div>
            <div class="info-half">
                <div class="img-wrap-about pull-right">
                    <img src="img/about-3.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
