<div class="row main-image">
    <div class="slider">
        <div class="item">
            <div class="wrap clearfix">
                <div class="container">
                    <div class="slider-title">
                        <div class="title">
                            Сочетание
                            <br>вкуса
                            <br>и стиля
                        </div>
                        <div class="sub-title">
                            Представляем уникальное кофейное
                            <br>решение – линейку кофемашин
                            <br>Nestlé Professional®
                        </div>
                    </div>
                </div>
                <div class="half bg-side" style="background: #475254"></div>
                <div class="half img-side" style="">
                    <!--<div class="half img-side" style="background: url('img/slide.jpg');background-size:cover;">-->
                     <img src="img/slide.jpg" alt="" class="desktop machine">
                    <img src="img/slide-mob.jpg" alt="" class="tablet machine">
                    <!--<img src="img/slide-bg.jpg" alt="">-->
                    <!--<img src="img/slider-machine.png" alt="" class="machine desktop">-->
                    <!--<img src="img/slider-machine-mobile.png" alt="" class="machine tablet">-->

                    <!-- <img src="img/cake.png" alt="" class="bowl"> -->
                    <!-- <img src="img/advantages-6.png" alt="" class="elem" width="100"> -->
                </div>

            </div>
        </div>
        <div class="item">
            <div class="wrap clearfix">
                <div class="container">
                    <div class="slider-title">
                        <div class="title">
                            Многолетний
                            <br> опыт и
                            <br> экспертиза
                        </div>
                        <div class="sub-title">
                            Nestlé — крупнейшая в мире компания –
                            <br> мировой лидер в производстве кофе.
                        </div>
                    </div>
                </div>
                <div class="half bg-side" style="background: #283151"></div>
                <div class="half img-side" style="">
                    <!--<div class="half img-side" style="background: url('img/slide-2.jpg');background-size:cover;">-->
                    <img src="img/slide-2.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="item">
            <div class="wrap clearfix">
                <div class="container">
                    <div class="slider-title">
                        <div class="title">
                            высокое
                            <br> качество
                            <br> Всегда
                        </div>
                        <div class="sub-title">
                            Мы делаем жизнь лучше, предлагая
                            <br> потребителям только натуральные
                            <br> и полезные продукты.
                        </div>
                    </div>
                </div>
                <div class="half bg-side" style="background: #722e3c"></div>
                <div class="half img-side" style="">
                    <!--<div class="half img-side" style="background: url('img/slide-3.jpg');background-size:cover;">-->
                    <img src="img/slide-3.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="buttons">
            <ul>
                <li>
                    <a href="#0" class="active js-goto-slide"></a>
                </li>
                <li>
                    <a href="#1" class="js-goto-slide"></a>
                </li>
                <li>
                    <a href="#2" class="js-goto-slide"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container btn-container">
    <a href="#" class="scroll-icon js-scroll">
        <img src="img/mouse-scroll.png" alt="">
    </a>
</div>
