<div class="section approach section-style">
    <div class="section-wrap">
        <div class="container container-padding">
            <h2 class="section-title left left-line">комплексный подход</h2>
        </div>
        <div class="container">
            <div class="col-xs-3 left-image">
                <img src="img/machine.png" alt="machine">
            </div>
            <div class="col-xs-8">
                <div class="approach-title">
                <span>
                Мы предоставляем бесплатно:
                    </span>
                <span class="pull-right">
                    Вы платите только за:
                </span>
                </div>

                <div class="list">
                    <div class="item-list">
                        <img src="img/list-item-1.png" alt="" class="item-image">

                        <div class="item-title">
                            Кофемашину
                        </div>
                    </div>
                    <div class="item-list">
                        <img src="img/list-item-2.png" alt="" class="item-image">

                        <div class="item-title">
                            Разработку меню
                        </div>
                    </div>
                    <div class="item-list">
                        <img src="img/list-item-3.png" alt="" class="item-image">

                        <div class="item-title">
                            Техническое <br>
                            обслуживание
                        </div>
                    </div>
                    <div class="item-list">
                        <img src="img/list-item-4.png" alt="" class="item-image">

                        <div class="item-title">
                            Качественные <br>
                            ингредиенты
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-footer">
        <a href="#" class="section-logo"></a>

        <div class="links-section">
            <a href="#">Горячая линия</a><a href="#">скачать презентацию</a>
        </div>
        <!--<span class="copyright">© 2016 NESTLÉ Professional®</span>-->
        <div class="right-image pull-right">
            <a href="#">Подобрать решение</a>
        </div>
    </div>
</div>

<div class="section section-style solutions">
    <div class="slider-wrapper-height">
        <div class="container">
            <h2 class="section-title text-center">кофейные решения</h2>

            <div class="section-sub-title text-center">
                Мы подберем любые кофейные решения, <br>
                исходя из Ваших потребностей
            </div>
        </div>
        <div class="container">
            <div class="slider-wrap">
                <div class="solutions-slider">
                    <div class="solution-item">
                        <div class="wrap-item">
                            <div class="info-about">
                                <div class="info-block couples">
                                    <img src="img/info-1.png" alt="">
                                    <span class="detail-info">
                                    100-250 чашек <br>
                                    в день
                                    </span>
                                </div>
                                <div class="info-block time">
                                    <img src="img/info-2.png" alt="">
                                    <span class="detail-info">
                                    Приготовление <br>
                                    от 6 до 13 секунд
                                    </span>
                                </div>
                            </div>
                            <img src="img/solution-1.png" alt="" class="machine-image">

                            <div class="name-machine">
                                nescafÉ alegria 8/40
                            </div>
                        </div>
                    </div>
                    <div class="solution-item">
                        <div class="wrap-item">
                          <div class="new-item">
                            <span>Новинка</span>
                              <!-- <img src="img/new-label.png" alt=""> -->
                          </div>
                            <div class="info-about">
                                <div class="info-block couples">
                                    <img src="img/info-1.png" alt="">
                        <span class="detail-info">
                        100-250 чашек <br>
                        в день
                        </span>
                                </div>
                                <div class="info-block time">
                                    <img src="img/info-2.png" alt="">
                        <span class="detail-info">
                        Приготовление <br>
                        от 6 до 13 секунд
                        </span>
                                </div>
                            </div>
                            <img src="img/solution-2.png" alt="" class="machine-image">

                            <div class="name-machine">
                                nescafÉ milano 2.0
                            </div>
                        </div>
                    </div>
                    <div class="solution-item">
                        <div class="wrap-item">
                            <div class="info-about">
                                <div class="info-block couples">
                                    <img src="img/info-1.png" alt="">
                        <span class="detail-info">
                        100-250 чашек <br>
                        в день
                        </span>
                                </div>
                                <div class="info-block time">
                                    <img src="img/info-2.png" alt="">
                        <span class="detail-info">
                        Приготовление <br>
                        от 6 до 13 секунд
                        </span>
                                </div>
                            </div>
                            <img src="img/solution-3.png" alt="" class="machine-image">

                            <div class="name-machine">
                                nescafÉ alegria 6/30
                            </div>
                        </div>
                    </div>
                    <div class="solution-item">
                        <div class="wrap-item">
                            <div class="info-about">
                                <div class="info-block couples">
                                    <img src="img/info-1.png" alt="">
                                    <span class="detail-info">
                                    100-250 чашек <br>
                                    в день
                                    </span>
                                </div>
                                <div class="info-block time">
                                    <img src="img/info-2.png" alt="">
                                    <span class="detail-info">
                                    Приготовление <br>
                                    от 6 до 13 секунд
                                    </span>
                                </div>
                            </div>
                            <img src="img/solution-1.png" alt="" class="machine-image">

                            <div class="name-machine">
                                nescafÉ alegria 8/40
                            </div>
                        </div>
                    </div>
                    <div class="solution-item">
                        <div class="wrap-item">
                          <div class="new-item">
                            <span>Новинка</span>
                              <!-- <img src="img/new-label.png" alt=""> -->
                          </div>
                            <div class="info-about">
                                <div class="info-block couples">
                                    <img src="img/info-1.png" alt="">
                        <span class="detail-info">
                        100-250 чашек <br>
                        в день
                        </span>
                                </div>
                                <div class="info-block time">
                                    <img src="img/info-2.png" alt="">
                        <span class="detail-info">
                        Приготовление <br>
                        от 6 до 13 секунд
                        </span>
                                </div>
                            </div>
                            <img src="img/solution-2.png" alt="" class="machine-image">

                            <div class="name-machine">
                                nescafÉ milano 2.0
                            </div>
                        </div>
                    </div>
                    <div class="solution-item">
                        <div class="wrap-item">
                            <div class="info-about">
                                <div class="info-block couples">
                                    <img src="img/info-1.png" alt="">
                        <span class="detail-info">
                        100-250 чашек <br>
                        в день
                        </span>
                                </div>
                                <div class="info-block time">
                                    <img src="img/info-2.png" alt="">
                        <span class="detail-info">
                        Приготовление <br>
                        от 6 до 13 секунд
                        </span>
                                </div>
                            </div>
                            <img src="img/solution-3.png" alt="" class="machine-image">

                            <div class="name-machine">
                                nescafÉ alegria 6/30
                            </div>
                        </div>
                    </div>
                    <div class="solution-item">
                        <div class="wrap-item">
                            <div class="info-about">
                                <div class="info-block couples">
                                    <img src="img/info-1.png" alt="">
                                    <span class="detail-info">
                                    100-250 чашек <br>
                                    в день
                                    </span>
                                </div>
                                <div class="info-block time">
                                    <img src="img/info-2.png" alt="">
                                    <span class="detail-info">
                                    Приготовление <br>
                                    от 6 до 13 секунд
                                    </span>
                                </div>
                            </div>
                            <img src="img/solution-1.png" alt="" class="machine-image">

                            <div class="name-machine">
                                nescafÉ alegria 8/40
                            </div>
                        </div>
                    </div>
                    <div class="solution-item">
                        <div class="wrap-item">
                          <div class="new-item">
                            <span>Новинка</span>
                              <!-- <img src="img/new-label.png" alt=""> -->
                          </div>
                            <div class="info-about">
                                <div class="info-block couples">
                                    <img src="img/info-1.png" alt="">
                        <span class="detail-info">
                        100-250 чашек <br>
                        в день
                        </span>
                                </div>
                                <div class="info-block time">
                                    <img src="img/info-2.png" alt="">
                        <span class="detail-info">
                        Приготовление <br>
                        от 6 до 13 секунд
                        </span>
                                </div>
                            </div>
                            <img src="img/solution-2.png" alt="" class="machine-image">

                            <div class="name-machine">
                                nescafÉ milano 2.0
                            </div>
                        </div>
                    </div>
                    <div class="solution-item">
                        <div class="wrap-item">
                            <div class="info-about">
                                <div class="info-block couples">
                                    <img src="img/info-1.png" alt="">
                        <span class="detail-info">
                        100-250 чашек <br>
                        в день
                        </span>
                                </div>
                                <div class="info-block time">
                                    <img src="img/info-2.png" alt="">
                        <span class="detail-info">
                        Приготовление <br>
                        от 6 до 13 секунд
                        </span>
                                </div>
                            </div>
                            <img src="img/solution-3.png" alt="" class="machine-image">

                            <div class="name-machine">
                                nescafÉ alegria 6/30
                            </div>
                        </div>
                    </div>
                    <div class="solution-item">
                        <div class="wrap-item">
                            <div class="info-about">
                                <div class="info-block couples">
                                    <img src="img/info-1.png" alt="">
                                    <span class="detail-info">
                                    100-250 чашек <br>
                                    в день
                                    </span>
                                </div>
                                <div class="info-block time">
                                    <img src="img/info-2.png" alt="">
                                    <span class="detail-info">
                                    Приготовление <br>
                                    от 6 до 13 секунд
                                    </span>
                                </div>
                            </div>
                            <img src="img/solution-1.png" alt="" class="machine-image">

                            <div class="name-machine">
                                nescafÉ alegria 8/40
                            </div>
                        </div>
                    </div>
                    <div class="solution-item">
                        <div class="wrap-item">
                          <div class="new-item">
                            <span>Новинка</span>
                              <!-- <img src="img/new-label.png" alt=""> -->
                          </div>
                            <div class="info-about">
                                <div class="info-block couples">
                                    <img src="img/info-1.png" alt="">
                        <span class="detail-info">
                        100-250 чашек <br>
                        в день
                        </span>
                                </div>
                                <div class="info-block time">
                                    <img src="img/info-2.png" alt="">
                        <span class="detail-info">
                        Приготовление <br>
                        от 6 до 13 секунд
                        </span>
                                </div>
                            </div>
                            <img src="img/solution-2.png" alt="" class="machine-image">

                            <div class="name-machine">
                                nescafÉ milano 2.0
                            </div>
                        </div>
                    </div>
                    <div class="solution-item">
                        <div class="wrap-item">
                            <div class="info-about">
                                <div class="info-block couples">
                                    <img src="img/info-1.png" alt="">
                        <span class="detail-info">
                        100-250 чашек <br>
                        в день
                        </span>
                                </div>
                                <div class="info-block time">
                                    <img src="img/info-2.png" alt="">
                        <span class="detail-info">
                        Приготовление <br>
                        от 6 до 13 секунд
                        </span>
                                </div>
                            </div>
                            <img src="img/solution-3.png" alt="" class="machine-image">

                            <div class="name-machine">
                                nescafÉ alegria 6/30
                            </div>
                        </div>
                    </div>
                    <div class="solution-item">
                        <div class="wrap-item">
                            <div class="info-about">
                                <div class="info-block couples">
                                    <img src="img/info-1.png" alt="">
                                    <span class="detail-info">
                                    100-250 чашек <br>
                                    в день
                                    </span>
                                </div>
                                <div class="info-block time">
                                    <img src="img/info-2.png" alt="">
                                    <span class="detail-info">
                                    Приготовление <br>
                                    от 6 до 13 секунд
                                    </span>
                                </div>
                            </div>
                            <img src="img/solution-1.png" alt="" class="machine-image">

                            <div class="name-machine">
                                nescafÉ alegria 8/40
                            </div>
                        </div>
                    </div>
                    <div class="solution-item">
                        <div class="wrap-item">
                          <div class="new-item">
                            <span>Новинка</span>
                              <!-- <img src="img/new-label.png" alt=""> -->
                          </div>
                            <div class="info-about">
                                <div class="info-block couples">
                                    <img src="img/info-1.png" alt="">
                        <span class="detail-info">
                        100-250 чашек <br>
                        в день
                        </span>
                                </div>
                                <div class="info-block time">
                                    <img src="img/info-2.png" alt="">
                        <span class="detail-info">
                        Приготовление <br>
                        от 6 до 13 секунд
                        </span>
                                </div>
                            </div>
                            <img src="img/solution-2.png" alt="" class="machine-image">

                            <div class="name-machine">
                                nescafÉ milano 2.0
                            </div>
                        </div>
                    </div>
                    <div class="solution-item">
                        <div class="wrap-item">
                            <div class="info-about">
                                <div class="info-block couples">
                                    <img src="img/info-1.png" alt="">
                        <span class="detail-info">
                        100-250 чашек <br>
                        в день
                        </span>
                                </div>
                                <div class="info-block time">
                                    <img src="img/info-2.png" alt="">
                        <span class="detail-info">
                        Приготовление <br>
                        от 6 до 13 секунд
                        </span>
                                </div>
                            </div>
                            <img src="img/solution-3.png" alt="" class="machine-image">

                            <div class="name-machine">
                                nescafÉ alegria 6/30
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="slider-btn">
                <a href="#" class="slider-prev js-slider-prev"></a>
                <a href="#" class="slider-next js-slider-next"></a>
            </div>
        </div>
    </div>
    <div class="section-footer">
        <a href="#" class="section-logo"></a>

        <div class="links-section">
            <a href="#">Горячая линия</a><a href="#">скачать презентацию</a>
        </div>
        <!--<span class="copyright">© 2016 NESTLÉ Professional®</span>-->
        <div class="right-image pull-right">
            <a href="#">Подобрать решение</a>
        </div>
    </div>
</div>
<div class="section section-style advantages">
    <div class="section-wrap">
        <div class="container container-padding">
            <h2 class="section-title text-left left-line">преимущества</h2>
        </div>

        <div class="container">
            <div class="advantages-wrap clearfix">
                <div class="top-line-wrap">
                    <span class="top-line"></span>
                </div>

                <div class="top-wrap clearfix">
                    <div class="advantages-items">
                        <div class="advantages-img">
                            <div class="wrap-fill">
                                <img src="img/adv1/fill.png" alt="">
                            </div>
                        </div>
                        <!--<img src="img/advantages-1.png" alt="advantages-item" class="advantages-img">-->
                        <span class="advantages-text">
                            Высокое качество <br>
                            ингредиентов
                        </span>
                    </div>
                    <div class="advantages-items">
                        <div class="advantages-img">
                            <div class="wrap-fill">
                                <img src="img/adv2/fill.png" alt="">
                            </div>
                        </div>
                        <span class="advantages-text">
                            Превосходный вкус <br>
                            чашка за чашкой
                        </span>
                    </div>
                    <div class="advantages-items">
                        <div class="advantages-img">
                            <div class="wrap-fill">
                                <img src="img/adv3/fill.png" alt="">
                            </div>
                        </div>
                        <span class="advantages-text">
                            Большой выбор <br>
                            напитков
                        </span>
                    </div>
                </div>

                <div class="bottom-wrap clearfix">
                    <div class="advantages-items">
                        <div class="advantages-img">
                            <div class="wrap-fill">
                                <img src="img/adv4/fill.png" alt="">
                            </div>
                        </div>
                        <span class="advantages-text">
                            Напиток одним <br>
                            нажатием кнопки
                        </span>
                    </div>
                    <div class="advantages-items">
                        <div class="advantages-img">
                            <div class="wrap-fill">
                                <img src="img/adv5/fill.png" alt="">
                            </div>
                        </div>
                        <span class="advantages-text">
                            Каппучино за <br>
                            10 секунд
                        </span>
                    </div>
                    <div class="advantages-items">
                        <div class="advantages-img">
                            <div class="wrap-fill">
                                <img src="img/adv6/fill.png" alt="">
                            </div>
                        </div>
                        <span class="advantages-text">
                            Европейское <br>
                            производство
                        </span>
                    </div>
                </div>
                <div class="bottom-line-wrap">
                    <span class="bottom-line"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="section-footer">
        <a href="#" class="section-logo"></a>

        <div class="links-section">
            <a href="#">Горячая линия</a><a href="#">скачать презентацию</a>
        </div>
        <!--<span class="copyright">© 2016 NESTLÉ Professional®</span>-->
        <div class="right-image pull-right">
            <a href="#">Подобрать решение</a>
        </div>
    </div>
</div>
<div class="section section-style set-up ">
    <img src="img/set-up-machine-bg-2.jpg" alt="" class="background">

    <div class="section-wrap">
        <div class="container container-padding">
            <h2 class="section-title text-left left-line">установить машину <br>
                просто:</h2>
        </div>
        <div class="container">
            <div class="set-up-tips">
                <ul>
                    <li>Вы оставляете заявку</li>
                    <li>Наш сотрудник связывается с вами</li>
                    <li>Машина и ингредиенты будут <br>
                        предоставлены в оговоренный срок
                    </li>
                </ul>
                <a href="#" class="btn-rect">Узнать больше</a>
            </div>
        </div>
    </div>
    <div class="section-footer light">
        <a href="#" class="section-logo"></a>

        <div class="links-section">
            <a href="#">Горячая линия</a><a href="#">скачать презентацию</a>
        </div>
        <!--<span class="copyright">© 2016 NESTLÉ Professional®</span>-->
        <div class="right-image pull-right">
            <a href="#">Подобрать решение</a>
        </div>
    </div>
</div>
<div class="section section-style our-machines">
    <div class="section-wrap">
        <div class="container container-padding">
            <h2 class="section-title text-left left-line">Наши кофемашины — <br>
                отличное решение для:</h2>
        </div>

        <div class="container machines-container">
            <div class="our-machines-items">
                <div class="machine-list">
                    <div class="img-wrap">
                        <div class="img-bg-wrap">
                            <img src="img/our-machines-1.jpg" alt="">
                        </div>
                    </div>
                <span>
                    Офисов и БЦ
                </span>
                </div>
                <div class="machine-list">
                    <div class="img-wrap">
                        <div class="img-bg-wrap">
                            <img src="img/our-machines-2.jpg" alt="">
                        </div>
                    </div>
                <span>
                    Кафе и ресторанов
                </span>
                </div>
                <div class="machine-list">
                    <div class="img-wrap">
                        <div class="img-bg-wrap">
                            <img src="img/our-machines-3.jpg" alt="">
                        </div>
                    </div>
                <span>Ресторанов быстрого питания</span>
                </div>
                <div class="machine-list">
                    <div class="img-wrap">
                        <div class="img-bg-wrap">
                            <img src="img/our-machines-4.jpg" alt="">
                        </div>
                    </div>
                <span>
                    Уличного фаст-фуда
                </span>
                </div>
                <div class="machine-list">
                    <div class="img-wrap">
                        <div class="img-bg-wrap">
                            <img src="img/our-machines-5.jpg" alt="">
                        </div>
                    </div>
                <span>
                    Гостиниц
                </span>
                </div>
                <div class="machine-list">
                    <div class="img-wrap">
                        <div class="img-bg-wrap">
                            <img src="img/our-machines-6.png" alt="">
                        </div>
                    </div>
                <span>
                    АЗС
                </span>
                </div>
            </div>
        </div>
    </div>
    <div class="partners">
        <div class="container container-padding">
            <div class="title-partners">
                В этом уже убедились:
            </div>
            <div class="partners-list">
                <a href="#"><img src="img/partn-1.png" alt="" width="91"></a>
                <a href="#"><img src="img/partn-2.png" alt="" width="99"></a>
                <a href="#"><img src="img/partn-3.png" alt="" width="97"></a>
                <a href="#"><img src="img/partn-4.png" alt="" width="143"></a>
            </div>
        </div>
    </div>
    <div class="section-footer">
        <a href="#" class="section-logo"></a>
        <div class="links-section">
            <a href="#">Горячая линия</a><a href="#">скачать презентацию</a>
        </div>
        <!--<span class="copyright">© 2016 NESTLÉ Professional®</span>-->
        <div class="right-image pull-right">
            <a href="#">Подобрать решение</a>
        </div>
    </div>
</div>
