<div class="pop-up ingridient-info">
    <a href="#" class="close-pop-up"></a>
    <div class="content-pop-up ingridient-1">
        <div class="title-pop-up">
            <h2>ПРОФИЛЬ НАПИТКА ЧЕРНЫЙ КОФЕ</h2>
        </div>
        <div class="wrapper-pop-up clearfix">
            <div class="wrapper-img-pop">
                <img src="img/ingred-1-pop.jpg" alt="ingred">
            </div>
            <div class="wrapper-graf-pop clearfix">
                <img src="img/graf-pop.png" alt="graf">
                <div class="numb-graf">
                    <p>10</p>
                    <p>8</p>
                    <p>6</p>
                    <p>4</p>
                    <p>2</p>
                    <p>0</p>
                </div>
                <ul class="graf-info ul-right">
                    <li>Общая интенсивность
                        <br>аромата</li>
                    <li>Послевкусие</li>
                    <li>Общая интенсивность
                        <br> вкуса</li>
                    <li>Плотность</li>
                    <li>Кофейность</li>
                    <li>Неоднородный
                        <br>вкус</li>
                    <li>Степень обжаррки </li>
                    <li>Вяжущий вкус</li>
                    <li>Фруктовый аромат </li>
                    <li>Горчинка</li>
                    <li>Винный вкус</li>
                    <li>Кислинка</li>
                    <li>Резинистый вкус</li>
                    <li>Землитсый вкус</li>
                    <li>Переработанный вкус</li>
                </ul>
            </div>
        </div>
        <div class="wrapp-pop-info clearfix">
            <h2>NESCAFÉ® Alegria Delicate</h2>
            <div class="pop-up-info ">
                <div class="content-info-pop">
                    <p>Nescafé® Alegria Delicate – это смесь
                        <br> обжаренного черного кофе
                        <br> с прекрасно сбалансированным
                        <br> вкусом, сочетающим в себе
                        <br> деликатную кислинку с фруктовыми
                        <br> и винными нотками.</p>
                    <span class="plash-1">Идеально подходит для<br> приготовления капучино.</span>
                </div>
            </div>
            <div class="pop-up-ul">
                <div class="fortress">
                    <span>Крепость</span>
                    <img src="img/class-zerno.png" alt="coffe">
                </div>
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Упаковка
                    </div>
                    <div class="info-ops">
                        500г
                    </div>
                </div>
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Количество в коробе
                    </div>
                    <div class="info-ops">
                        12 шт.
                    </div>
                </div>
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Количество порций
                    </div>
                    <div class="info-ops">
                        185
                    </div>
                </div>
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Страна производитель
                    </div>
                    <div class="info-ops">
                        Франция
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="js-show-pop-up pop-up-button js-ingridients-show-more" data-pop-up="pop-up-offer">оставить заявку</a>
    </div>
    <div class="content-pop-up ingridient-2">
        <div class="title-pop-up">
            <h2>ПРОФИЛЬ НАПИТКА ЧЕРНЫЙ КОФЕ</h2>
        </div>
        <div class="wrapper-pop-up clearfix">
            <div class="wrapper-img-pop">
                <img src="img/ingred-3-pop.jpg" alt="ingred">
            </div>
            <div class="wrapper-graf-pop">
                <img src="img/graf-pop-2.png" alt="graf">
                <div class="numb-graf">
                    <p>10</p>
                    <p>8</p>
                    <p>6</p>
                    <p>4</p>
                    <p>2</p>
                    <p>0</p>
                </div>
                <ul class="graf-info ul-right">
                    <li>Общая интенсивность
                        <br>аромата</li>
                    <li>Послевкусие</li>
                    <li>Общая интенсивность
                        <br> вкуса</li>
                    <li>Плотность</li>
                    <li>Кофейность</li>
                    <li>Неоднородный
                        <br>вкус</li>
                    <li>Степень обжаррки </li>
                    <li>Вяжущий вкус</li>
                    <li>Фруктовый аромат </li>
                    <li>Горчинка</li>
                    <li>Винный вкус</li>
                    <li>Кислинка</li>
                    <li>Резинистый вкус</li>
                    <li>Землитсый вкус</li>
                    <li>Переработанный вкус</li>
                </ul>
            </div>
        </div>
        <div class="wrapp-pop-info clearfix">
            <h2>NESCAFÉ® Alegria Intense</h2>
            <div class="pop-up-info ">
                <div class="content-info-pop">
                    <p>Nescafé® Alegria Intense – это смесь
                        <br> отборного обжаренного кофе
                        <br> с терпким, ярко выраженным
                        <br> вкусом, насыщенным ароматом
                        <br> и шоколадным послевкусием.</p>
                    <span class="plash-2">Идеально подходит для<br> приготовления эспрессо,<br> ристретто.</span>
                </div>
            </div>
            <div class="pop-up-ul">
                <div class="fortress">
                    <span>Крепость</span>
                    <img src="img/all-group-coffe.png" alt="coffe">
                </div>
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Упаковка
                    </div>
                    <div class="info-ops">
                        500г
                    </div>
                </div>
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Количество в коробе
                    </div>
                    <div class="info-ops">
                        12 шт.
                    </div>
                </div>
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Количество порций
                    </div>
                    <div class="info-ops">
                        185
                    </div>
                </div>
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Страна производитель
                    </div>
                    <div class="info-ops">
                        Франция
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="js-show-pop-up pop-up-button js-ingridients-show-more" data-pop-up="pop-up-offer">оставить заявку</a>
    </div>

    <div class="content-pop-up ingridient-3">
        <div class="title-pop-up">
            <h2>ПРОФИЛЬ НАПИТКА ЧЕРНЫЙ КОФЕ</h2>
        </div>
        <div class="wrapper-pop-up clearfix">
            <div class="wrapper-img-pop">
                <img src="img/ingred-2-pop.jpg" alt="ingred">
            </div>
            <div class="wrapper-graf-pop">
                <img src="img/graf-pop-3.png" alt="graf">
                <div class="numb-graf">
                    <p>10</p>
                    <p>8</p>
                    <p>6</p>
                    <p>4</p>
                    <p>2</p>
                    <p>0</p>
                </div>
                <ul class="graf-info ul-right">
                    <li>Цвет крема</li>
                    <li>Послевкусие</li>
                    <li>Плотность крема</li>
                    <li>Тепло</li>
                    <li>Количество крема</li>
                    <li>Вяжущий вкус</li>
                    <li>Густота крема</li>
                    <li>Горчинка</li>
                    <li>Общий аромат </li>
                    <li>Кислинка</li>
                    <li>Кофейность</li>
                    <li>Какао вкус</li>
                    <li>Степень обжарки</li>
                    <li>Резновый/землитсый вкус</li>
                    <li>Фруктовый вкус</li>
                </ul>
            </div>
        </div>
        <div class="wrapp-pop-info clearfix">
            <h2>NESCAFÉ® Alegria ULTRA</h2>
            <div class="pop-up-info ">
                <div class="content-info-pop">
                    <p>Nescafé® Alegria ULTRA – новый
                        <br> бленд кофе. Обладает прекрасным
                        <br> ароматом и хорошо
                        <br>сбалансированным вкусом.</p>
                    <span class="plash-3">Продукт российского производства.<br> Вкусовой профиль кофе разработан<br> с учетом предпочтений российских<br> потребителей.</span>
                </div>
            </div>
            <div class="pop-up-ul">
                <div class="fortress">
                    <span class="fortress">Крепость</span>
                    <img src="img/all-group-coffe.png" alt="coffe">
                </div>
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Упаковка
                    </div>
                    <div class="info-ops">
                        500г
                    </div>
                </div>
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Количество в коробе
                    </div>
                    <div class="info-ops">
                        6 шт.
                    </div>
                </div>
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Количество порций
                    </div>
                    <div class="info-ops">
                        185
                    </div>
                </div>
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Страна производитель
                    </div>
                    <div class="info-ops">
                        Россия
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="btn-rect js-show-pop-up pop-up-button js-ingridients-show-more" data-pop-up="pop-up-offer">оставить заявку</a>
    </div>

    <div class="content-pop-up ingridient-4">
        <div class="title-pop-up">
            <h2>Профиль напитка – Ванильный капучино</h2>
        </div>
        <div class="wrapper-pop-up clearfix center-img">
            <div class="wrapper-img-pop">
                <img src="img/ingridients-catalog-4.jpg" alt="ingred">
            </div>
        </div>
        <div class="wrapp-pop-info clearfix">
            <h2>NESCAFÉ® Alegria Cappuccino Vanilla</h2>
            <div class="pop-up-info ">
                <div class="content-info-pop">
                    <p>
                        Даже те, кто не является любителем кофе захотят попробовать этот восхитительный ванильный напиток с теплыми нотами ванили и ореха.
                    </p>
                </div>
            </div>
            <div class="pop-up-ul">
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Упаковка
                    </div>
                    <div class="info-ops">
                        1000г
                    </div>
                </div>
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Количество в коробе
                    </div>
                    <div class="info-ops">
                        10 шт.
                    </div>
                </div>
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Количество порций
                    </div>
                    <div class="info-ops">
                        50
                    </div>
                </div>
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Страна производитель
                    </div>
                    <div class="info-ops">
                        Австрия
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="btn-rect js-show-pop-up pop-up-button js-ingridients-show-more" data-pop-up="pop-up-offer">оставить заявку</a>
    </div>

    <div class="content-pop-up ingridient-5">
        <div class="title-pop-up">
            <h2>Профиль напитка – капучино</h2>
        </div>
        <div class="wrapper-pop-up clearfix center-img">
            <div class="wrapper-img-pop">
                <img src="img/ingridients-catalog-5.jpg" alt="ingred">
            </div>
        </div>
        <div class="wrapp-pop-info clearfix">
            <h2>NESCAFÉ® Alegria Full Dairy Creamer</h2>
            <div class="pop-up-info ">
                <div class="content-info-pop">
                    <p>
                        Легкое, низкокалорийное молоко,
                        <br> 1% жирности, легко взбивается в плотную пенку, придавая вашим напиткам мягкий молочный вкус и аромат.
                    </p>
                </div>
            </div>
            <div class="pop-up-ul">
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Упаковка
                    </div>
                    <div class="info-ops">
                        500г
                    </div>
                </div>
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Количество в коробе
                    </div>
                    <div class="info-ops">
                        12 шт.
                    </div>
                </div>
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Количество порций
                    </div>
                    <div class="info-ops">
                        50
                    </div>
                </div>
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Производитель
                    </div>
                    <div class="info-ops">
                        Швейцария
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="btn-rect js-show-pop-up pop-up-button js-ingridients-show-more" data-pop-up="pop-up-offer">оставить заявку</a>
    </div>

    <div class="content-pop-up ingridient-6">
        <div class="title-pop-up">
            <h2>Профиль напитка - шоколадный</h2>
        </div>
        <div class="wrapper-pop-up clearfix center-img">
            <div class="wrapper-img-pop">
                <img src="img/ingred-6-pop.jpg" alt="ingred">
            </div>
        </div>
        <div class="wrapp-pop-info clearfix">
            <h2>NESCAFÉ® Alegria Сacao Powder</h2>
            <div class="pop-up-info ">
                <div class="content-info-pop">
                    <p>
                        Шоколадный напиток с нежным сливочным вкусом и тонким ванильным ароматом с легкостью завоюет сердца самых требовательных любителей сладкого.
                    </p>
                </div>
            </div>
            <div class="pop-up-ul">
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Упаковка
                    </div>
                    <div class="info-ops">
                        1000г
                    </div>
                </div>
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Количество в коробе
                    </div>
                    <div class="info-ops">
                        10 шт.
                    </div>
                </div>
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Количество порций
                    </div>
                    <div class="info-ops">
                        50
                    </div>
                </div>
                <div class="wrapper-ops-pop-up clearfix">
                    <div class="ops-pop-up">
                        Страна производитель
                    </div>
                    <div class="info-ops">
                        Франция
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="btn-rect js-show-pop-up pop-up-button js-ingridients-show-more" data-pop-up="pop-up-offer">оставить заявку</a>
    </div>



</div>
<div class="catalog-main-wrapper">
    <div class="navigation-wrapper container">
        <a href="#" class="js-show-category">Категории</a>
    </div>
    <div class="catalog-items container">
        <div class="catalog-menu">
            <ul>
                <li><a href="our-machines.html">Кофемашины</a></li>
                <li><a href="accompanying.html">Сопутствующие товары</a></li>
            </ul>
        </div>
        <div class="catalog-item matchHeight">
            <div class="item-wrapper">
                <img src="img/ingridients-catalog-1.jpg" alt="" class="item-img">

                <div class="catalog-machine-name">
                    NESCAFÉ® Alegria Delicate
                </div>
                <a href="#" class="btn-rect js-show-pop-up " data-pop-up="ingridient-info" data-info="ingridient-1">Подробнее</a>
            </div>
        </div>
        <div class="catalog-item matchHeight">
            <div class="item-wrapper">
                <img src="img/ingridients-catalog-2.jpg" alt="" class="item-img">

                <div class="catalog-machine-name">
                    NESCAFÉ® Alegria Intense
                </div>
                <a href="#" class="btn-rect js-show-pop-up " data-pop-up="ingridient-info" data-info="ingridient-2">Подробнее</a>
            </div>
        </div>
        <div class="catalog-item matchHeight">
            <div class="item-wrapper">
                <img src="img/ingridients-catalog-3.jpg" alt="" class="item-img">

                <div class="catalog-machine-name">
                    NESCAFÉ® Alegria Ultra
                </div>
                <a href="#" class="btn-rect js-show-pop-up " data-pop-up="ingridient-info" data-info="ingridient-3">Подробнее</a>
            </div>
        </div>


        <div class="catalog-item matchHeight">
            <div class="item-wrapper">
                <img src="img/ingridients-catalog-4.jpg" alt="" class="item-img">

                <div class="catalog-machine-name">
                    NESCAFÉ® Vanilloccino
                </div>
                <a href="#" class="btn-rect js-show-pop-up " data-pop-up="ingridient-info" data-info="ingridient-4">Подробнее</a>
            </div>
        </div>
        <div class="catalog-item matchHeight">
            <div class="item-wrapper">
                <img src="img/ingridients-catalog-5.jpg" alt="" class="item-img">

                <div class="catalog-machine-name">
                    NESCAFÉ® Alegria Dairy
                    <br> Сухое молоко
                </div>
                <a href="#" class="btn-rect js-show-pop-up " data-pop-up="ingridient-info" data-info="ingridient-5">Подробнее</a>
            </div>
        </div>
        <div class="catalog-item matchHeight">
            <div class="item-wrapper">
                <img src="img/ingridients-catalog-6.jpg" alt="" class="item-img">

                <div class="catalog-machine-name">
                    NESCAFÉ® Alegria Сacao
                    <br> Powder
                </div>
                <a href="#" class="btn-rect js-show-pop-up " data-pop-up="ingridient-info" data-info="ingridient-6">Подробнее</a>
            </div>
        </div>
    </div>
    <div class="container">
        <a href="#" class="js-scroll-top scroll-top-btn pull-right">Наверх</a>
    </div>
</div>
