
<div class="item-detail-wrap">
    <div class="pop-up video">
        <a href="#" class="close-pop-up"></a>
    </div>
    <div class="half-side item-view">
        <div class="slider-for">
            <img src="img/item-slider-milano.jpg" alt="">
            <img src="img/item-slider-milano.jpg" alt="">
            <img src="img/item-slider-milano.jpg" alt="">
            <img src="img/item-slider-milano.jpg" alt="">
        </div>
        <a href="https://www.youtube.com/embed/bYl7N4U-JMI?rel=0&autoplay=1" class="js-show-pop-up show-video" data-pop-up="video">
            <span class="circle">
                360°
            </span>
            <b>круговой обзор</b> все в деталях
        </a>

        <div class="slider-nav">
            <div class="nav-items">
                <img src="img/nav-slider-1.jpg" alt="">
            </div>
            <div class="nav-items">
                <img src="img/nav-slider-2.jpg" alt="">
            </div>
            <div class="nav-items">
                <img src="img/nav-slider-3.jpg" alt="">
            </div>
            <div class="nav-items">
                <img src="img/nav-slider-4.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="half-side item-info">
        <div class="bread-crumbs">
            <ul>
                <li><a href="catalog.html">Каталог </a></li>
                <li><span>Кофемашины Nescafé Alegria®</span></li>
            </ul>
        </div>
        <div class="item-name">
            NESCAFÉ® Milano 2
        </div>
        <div class="item-info-detail">
            NESCAFÉ®  Milano 2  - это инновационная кофе машина с   дисплеем touchscreen.  Дизайн этой машиной удостоен премии Red Dot Awards, подойдет как для современного офиса, так и изысканного интерьера ресторана.
        </div>
        <div class="characteristics">
            <ul>
                <li class="cups">
                    <b>Количество напитков:</b> 10 видов
                </li>
                <li class="water">
                    <b>Снабжение водой:</b> помпа или водопровод
                </li>
                <li class="sizes">
                    <b>Габариты (высота/ширина/длина:</b>76 x 36,2 x 60,7
                </li>
                <li class="weight">
                    <b>Вес (кг):</b> 35
                </li>
                <li class="powered">
                    <b>Питание:</b> 230 В/50 Гц
                </li>
                <li class="power">
                    <b>Потребляемая мощность:</b> 1,8 кВт
                </li>
            </ul>
        </div>
        <a href="#" class="offer-btn btn-rect js-show-pop-up" data-pop-up="pop-up-offer">заказать сейчас</a>

        <div class="social-sharing">
            <span>Поделиться</span>
            <a href="#" class="fb"><img src="img/item-fb-icon.png" alt=""></a>
            <a href="#" class="twiter"><img src="img/item-twiter-icon.png" alt=""></a>
            <a href="#" class="g+"><img src="img/item-g+-icon.png" alt=""></a>
        </div>
    </div>
</div>
<div class="other-slider">
    <div class="slider-title">
        Вам также может быть интересно
    </div>
    <div class="other-slider-wrapper">
        <div class="other-interesting-slider">
            <div class="other-item">
                <span class="newest">
                    Новинка
                </span>
                <img src="img/other-slider-1.jpg" alt="">
                <div class="other-item-name">
                    NESCAFÉ Alegria® 1060 E
                </div>
                <div class="other-item-category">
                    Accessories
                </div>
            </div>
            <div class="other-item">
                <img src="img/other-slider-2.jpg" alt="">
                <div class="price">$78</div>
                <div class="other-item-name">
                    NESCAFÉ Alegria® 8/30
                </div>
                <div class="other-item-category">
                    Accessories
                </div>
            </div>
            <div class="other-item">
                <img src="img/other-slider-3.jpg" alt="">
                <div class="price">$78</div>
                <div class="other-item-name">
                    NESCAFÉ Alegria® 430
                </div>
                <div class="other-item-category">
                    Кофемашина
                </div>
            </div>
            <div class="other-item">
                <img src="img/other-slider-4.jpg" alt="">
                <div class="price">$78</div>
                <div class="other-item-name">
                    Astoria gemma
                </div>
                <div class="other-item-category">
                    Профессиональная кофемашина
                </div>
            </div>
            <div class="other-item">
                <img src="img/other-slider-1.jpg" alt="">
                <div class="price">$78</div>
                <div class="other-item-name">
                    NESCAFÉ Alegria® 1060 E
                </div>
                <div class="other-item-category">
                    Accessories
                </div>
            </div>
            <div class="other-item">
                <img src="img/other-slider-2.jpg" alt="">
                <div class="price">$78</div>
                <div class="other-item-name">
                    NESCAFÉ Alegria® 1060 E
                </div>
                <div class="other-item-category">
                    Accessories
                </div>
            </div>
            <div class="other-item">
                <img src="img/other-slider-3.jpg" alt="">
                <div class="price">$78</div>
                <div class="other-item-name">
                    NESCAFÉ Alegria® 1060 E
                </div>
                <div class="other-item-category">
                    Accessories
                </div>
            </div>
            <div class="other-item">
                <img src="img/other-slider-4.jpg" alt="">
                <div class="price">$78</div>
                <div class="other-item-name">
                    NESCAFÉ Alegria® 1060 E
                </div>
                <div class="other-item-category">
                    Accessories
                </div>
            </div>
            <div class="other-item">
                <img src="img/other-slider-4.jpg" alt="">
                <div class="price">$78</div>
                <div class="other-item-name">
                    NESCAFÉ Alegria® 1060 E
                </div>
                <div class="other-item-category">
                    Accessories
                </div>
            </div>
        </div>
    </div>
</div>
