<div class="catalog-main-wrapper">

    <div class="navigation-wrapper container">
        <a href="#" class="js-show-category">Категории</a>
    </div>

    <div class="catalog-items container">
        <div class="catalog-menu">
            <ul>
                <li><a href="ingredients.html">Ингредиенты</a></li>
                <li><a href="accompanying.html">Сопутствующие товары</a></li>
            </ul>
        </div>
        <div class="catalog-item matchHeight">
            <div class="item-wrapper">
                <img src="img/machines-catalog-1.jpg" alt="" class="item-img">

                <div class="catalog-machine-name">
                    NESCAFÉ® Alegria A 10/60
                </div>
                <a href="nescafe_alegria_1060.html" class="btn-rect">Подробнее</a>
            </div>
        </div>
        <div class="catalog-item matchHeight">
            <div class="item-wrapper">
                <img src="img/machines-catalog-2.jpg" alt="" class="item-img">

                <div class="catalog-machine-name">
                    NESCAFÉ® Alegria 6/30
                </div>
                <a href="nescafe_alegria_6_30.html" class="btn-rect">Подробнее</a>
            </div>
        </div>
        <div class="catalog-item matchHeight">
            <div class="item-wrapper">
                <img src="img/machines-catalog-3.jpg" alt="" class="item-img">
                <div class="catalog-machine-name">
                    NESCAFÉ® Alegria A 4/30
                </div>
                <a href="nescafe_alegria_4_30.html" class="btn-rect">Подробнее</a>
            </div>
        </div>
        <div class="catalog-item matchHeight">
            <div class="item-wrapper">
                <img src="img/machines-catalog-4.jpg" alt="" class="item-img">

                <div class="catalog-machine-name">
                    NESCAFÉ® Alegria 8/40
                </div>
                <a href="nescafe_alegria_8_40.html" class="btn-rect">Подробнее</a>
            </div>
        </div>
        <div class="catalog-item matchHeight">
            <div class="item-wrapper">
                <img src="img/machines-catalog-5.jpg" alt="" class="item-img">

                <div class="catalog-machine-name">
                    NESCAFÉ® Milano 2
                </div>
                <a href="nescafe_milano.html" class="btn-rect">Подробнее</a>
            </div>
        </div>
        <div class="catalog-item matchHeight">
            <div class="item-wrapper">
                <img src="img/machines-catalog-6.jpg" alt="" class="item-img">

                <div class="catalog-machine-name">
                    NESCAFÉ® Milano Lounge
                </div>
                <a href="nescafe_milano_lounge.html" class="btn-rect">Подробнее</a>
            </div>
        </div>


        <div class="catalog-item matchHeight">
            <div class="item-wrapper">
                <img src="img/machines-catalog-7.jpg" alt="" class="item-img">

                <div class="catalog-machine-name">
                    Astoria Calypso
                </div>
                <a href="astoria_calypco.html" class="btn-rect">Подробнее</a>
            </div>
        </div>
        <div class="catalog-item matchHeight">
            <div class="item-wrapper">
                <img src="img/machines-catalog-8.jpg" alt="" class="item-img">

                <div class="catalog-machine-name">
                    Astoria Gemma
                </div>
                <a href="astoria_gemma.html" class="btn-rect">Подробнее</a>
            </div>
        </div>
        <div class="new-item matchHeight">
            <div class="item-wrapper">
                <div class="overlay-item">
                    <span>
                    Новинка <br>
                    скоро в аренду
                    </span>
                </div>
                <img src="img/machines-catalog-5.jpg" alt="" class="item-img">
                <div class="catalog-machine-name">
                    NESCAFÉ® MILANO
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <a href="#" class="js-scroll-top scroll-top-btn pull-right">Наверх</a>
    </div>
</div>
