<div class="preloader">
    <div class="preloader-overlay"></div>
    <div class="spinner"></div>
</div>
<div class="pop-up message">
    <a href="#" class="close-pop-up"></a>
    <div class="pop-msg">
    </div>
</div>
